<%= tag.div(class: classes) do %>
  <ul class="extra-navigation__list">
    <li class="extra-navigation__link"><%= link_to("Teaching events", events_path) %></li>
    <li class="extra-navigation__link"><%= link_to("Register your interest", mailing_list_steps_path) %></li>

    <li class="extra-navigation__link extra-navigation__search-fallback">
      <%= link_to("Search", search_path) %></li>
    </li>

    <%= tag.li(class: %w[extra-navigation__link extra-navigation__search], data: { controller: "searchbox", "searchbox-search-input-id-value" => search_input_id }) do %>
      <%= tag.label("Search the Get Into Teaching website", for: search_input_id, class: %w[searchbox__label visually-hidden]) %>
      <%= tag.div(data: { "searchbox-target" => "searchbar" }) %>
    <% end %>
  </ul>
<% end %>
