<%= tag.header(class: classes) do %>
  <%= picture %>
  <div class="hero__title">
    <h1><%= tag.span(title) %></h1>
  </div>
  <% if show_subtitle? %>
    <div class="hero__subtitle">
      <%= tag.div(subtitle, class: "hero__subtitle__text") %>

      <% if show_subtitle_button? %>
        <%= link_to(@subtitle_button, @subtitle_link, class: "hero__subtitle__button button") %>
      <% end %>
    </div>
  <% end %>

  <% if content.present? %>
    <div class="hero__content">
      <%= content %>
    </div>
  <% end %>
<% end %>
