<!-- mobile navigation -->
<%= tag.nav id: "primary-navigation", class: "hidden-mobile", data: { "navigation-target": "nav", action: "click->navigation#handleNavMenuClick" }, "aria-label": "Primary navigation", role: "navigation" do %>
  <%= tag.ol class: "primary", data: { "navigation-target": "primary" } do %> <!-- "selectorsXXX": "ol.category-navigation, ol.category-links-list, ol.page-navigation" -->
    <% all_resources.each do |resource| %>
      <%= nav_link(resource, :mobile) %>
    <% end %>
  <% end %>
<% end %>


<!-- desktop dropdown navigation -->
<%= tag.div id: "secondary-navigation", class: "desktop-menu-container hidden-mobile", data: {"navigation-target": "desktop", action:"click->navigation#handleNavMenuClick"}, "aria-label": "Secondary navigation", role: "navigation" do %>
  <div class="category-links">
    <% all_resources.each do |resource| %>
      <% if resource.subcategories.present? %>
        <%= category_list(resource: resource, css_class: "category-navigation hidden-menu", mode: :desktop ) %>
      <% end %>
    <% end %>
  </div>

  <div class="page-links">
    <% all_resources.each do |resource| %>
      <% if resource.subcategories.present? %>
        <% resource.subcategories.each do |subcategory| %>
          <%= page_list(resource: resource, subcategory: subcategory, css_class: "page-navigation hidden-menu", mode: :desktop) %>
        <% end %>
      <% end %>
    <% end %>
  </div>

    <div class="key-links">
    </div>

<% end %>
