<%= tag.li(class: classes) %>
  <% if train_to_teach? %>

    <div class="event__info">
      <div class="event__info__date-and-time">
        <div><%= date %></div>
        <div><%= times %></div>
      </div>

      <div class="event__info__name">
        <%= link_to(title, teaching_event_path(slug)) %>
      </div>

      <% if location.present? %>
        <div class="event__info__location">
          <%= location %>
        </div>
      <% end %>

      <%= tag.div(class: [setting_classes, "event__info__setting"]) do %>
        <%= setting %>
      <% end %>
    </div>

    <div class="event__meta">
      <%= image_pack_tag "media/images/content/welcome-guide/jack-rowing-crop-face.jpg" %>
    </div>

  <% else %>

    <div class="event__top-bar">
      <div class="event__top-bar--left">
        <div><%= date %></div>
        <div><%= times %></div>
      </div>

      <div class="event__top-bar--right">
        <div class="event__info__type"><%= event_type %></div>
      </div>
    </div>

    <div class="event__info">
      <div class="event__info__name">
        <%= link_to(title, teaching_event_path(slug)) %>
      </div>
    </div>

    <div class="event__bottom-bar">
      <div class="event__bottom-bar--left">
        <% if location.present? %>
          <div class="event__bottom-bar--left__location">
            <%= location %>
          </div>
        <% end %>
        <%= tag.div(class: [setting_classes, "event__bottom-bar--left__setting"]) do %>
          <%= setting %>
        <% end %>
      </div>
    </div>
  <% end %>
</li>
