<div class="row">
  <section class="col col-720">
    <h2 class="heading--box-blue">More about teacher pay and benefits</h2>

    <div class="inset">
      <p>
        There are lots of opportunities to increase your salary during your career:
      </p>

      <ul>
        <li>teachers who make a sustained contribution to their school could expect to earn over <%= v :salaries_tlr_salarywithtlr %></li>
        <li>headteachers are usually the highest paid people in a school and could expect to earn around <%= v :salaries_headteacher_minshortened %> and <%= v :salaries_headteacher_maxshortened %> depending on the school and location</li>
      </ul>
      <p><%= link_to("Find out more about teacher pay and benefits", page_path("life-as-a-teacher/pay-and-benefits")) %>.</p>
    </div>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">Next steps into teaching</h2>

    <div class="inset">
      <p>
        There are different paths into teaching, funding options and ways to train.
        We can help you navigate your next steps, whatever stage you're at.
      </p>
    </div>
  </section>

  <section class="col col-720 inset">
    <h3 class="heading-l">What qualifications do I need?</h3>

    <p>
      To train to teach, you'll need to have a passion to help students
      learn but you'll also need to have these qualifications:
    </p>

    <ul>
      <li>GCSEs at grade 4 (C) or above in English and maths (and science if you want to teach primary)</li>
      <li>a bachelor’s degree (this does not have to be in teaching)</li>
    </ul>

    <p>Learn more about <%= link_to("what qualifications you need to teach", page_path("train-to-be-a-teacher/qualifications-you-need-to-teach")) %>.</p>
  </section>

  <section class="col col-720 inset">
    <h3 class="heading-l">Can I get help funding my training?</h3>

    <p>
      If you're interested in teaching certain subjects, you might be able to get up
      to <%= v :scholarships_generic_maxshortened %> tax-free, which doesn't need to be paid back, to support you while you are training.
    </p>

    <p> <%= link_to("Find out if you could get a bursary or scholarship", page_path("funding-and-support/scholarships-and-bursaries")) %>.</p>
  </section>
</div>
