<div class="card card-chat-online <%= modifier_classes %>">
  <header class="card__header">
    <%= truncated_header %>
  </header>

  <% if helpers.chat_available? %>
    <%= helpers.chat_link(thumbnail_image_tag, classes: "card__thumb", fallback_text: nil) %>
  <% else %>
    <span class="card__thumb"><%= thumbnail_image_tag %></span>
  <% end %>

  <div class="card__snippet">
    <p><%= snippet %><p>
  </div>

  <footer class="card__footer">
    <%= helpers.chat_link(link_text, classes: "git-link", offline_text: nil) %>
  </footer>
</div>
