<div class="card card-chat-online <%= modifier_classes %>">
  <header class="card__header">
    <%= truncated_header %>
  </header>

  <span class="card__thumb"><%= thumbnail_image_tag %></span>

  <div class="card__snippet">
    <p><%= snippet %><p>
  </div>

  <footer class="card__footer">
    <%= render ChatComponent.new %>
  </footer>
</div>
