<div class="card card-chat-online <%= modifier_classes %>">
  <header class="card__header">
    <%= truncated_header %>
  </header>

  <a href="#" data-controller="talk-to-us" data-action="talk-to-us#startChat" class="card__thumb">
    <%= thumbnail_image_tag %>
  </a>

  <div class="card__snippet">
    <p><%= snippet %><p>
  </div>

  <footer class="card__footer" data-controller="talk-to-us">
    <%= helpers.chat_link(link_text, classes: "git-link") %>

    <a href="#" class="git-link no-js-fallback">
      Chat to us
    </a>
  </footer>
</div>
