<div class="card card-chat-online <%= modifier_classes %>">
  <header class="card__header">
    <%= truncated_header %>
  </header>

  <%= helpers.chat_link(thumbnail_image_tag, classes: "card__thumb", fallback_text: nil) %>

  <div class="card__snippet">
    <p><%= snippet %><p>
  </div>

  <footer class="card__footer">
    <%= helpers.chat_link(link_text, classes: "git-link") %>
  </footer>
</div>
