<div class="row inset">
  <section class="col col-640 col-center associated-logos">
    <p><strong>In association with</strong></p>

    <div>
      <%= image_pack_tag("media/images/content/class-of-now/vice_logo.svg", alt: "Vice logo") %>
      <%= image_pack_tag("media/images/content/class-of-now/refinery29_logo.svg", alt: "Refinery29 logo") %>
      <%= image_pack_tag("media/images/content/class-of-now/dfe_logo.svg", alt: "Department for Education logo") %>
    </div>
  </section>

  <section class="col col-720">
    <p>We've joined Vice and Refinery29 to celebrate the different and dynamic faces of teaching today.</p>

    <p>If you're looking for a career that allows you to bring your passions and personality to life, then teaching could be for you.</p>
  </section>

  <section class="col col-content-max">
    <%= render TextBlockWithTwoImagesComponent.new(
      heading: "Inspire future generations",
      colour: "pink",
      image_1_path: "media/images/content/class-of-now/collage-1.jpg",
      image_1_alt: "A teacher standing outside a classroom",
      image_2_path: "media/images/content/class-of-now/collage-2.jpg",
      image_2_alt: "A teacher sitting in front of lockers",
    ) do %>
      <p>
        Make a difference to young people's ideas and help them to see the world differently.
      </p>
    <% end %>
  </section>

  <section class="col col-720">
    <h3>Everyday is different</h3>

    <p>Life as a teacher means constantly being pleasantly surprised by your students and their perspectives.</p>

    <h3>Grow as a person</h3>

    <p>Teaching can help you build your confidence and develop interpersonal skills, which can also come in handy if you change careers later.</p>

    <h3>Make it happen</h3>

    <p>Depending on your situation, there are a few steps to get into teaching:</p>

    <ul>
      <li>
        <strong>Get into a classroom</strong> - find out what teaching is really like by
        <%= link_to("getting school experience", "/train-to-be-a-teacher/get-school-experience") %>.
        This can also help you to decide which age group to focus on.
      </li>
      <li>
        <strong>Check your certificates</strong> - if you've already got an undergraduate degree, you can do
        <%= link_to("postgraduate teacher training", "/train-to-be-a-teacher/if-you-have-a-degree") %>. If not,
        <%= link_to("undergraduate teacher training", "/train-to-be-a-teacher/if-you-dont-have-a-degree") %> is the way to go.
      </li>
      <li>
        <strong>A competitive salary</strong> - once you're qualified you can expect a starting salary of at
        least £28,000 or higher if you're working in London.
      </li>
      <li>
        <strong>A helping hand</strong> - our advisers can offer free <%= link_to("one-to-one advice", "/teacher-training-advisers") %>
        to help you decide if teaching is right for you and take the next step.
      </li>
    </ul>
  </section>

  <section class="col col-full-content">
    <hr>
  </section>

  <section class="col col-640">
    <h2 class="heading-l heading--margin-top-0">Get advice in your inbox</h2>

    <p>Get a better idea if teaching is right for you with regular information on:</p>

    <ul>
      <li>what it's like to be a teacher</li>
      <li>different ways to train</li>
      <li>events to find out more about teaching</li>
    </ul>

    <%= link_to("Get advice in your inbox", mailing_list_steps_path, class: "button") %>
  </section>
</div>
