<% if content_before_accordion %>
  <div class="content_before_accordion">
    <% if content_before_accordion.call_to_action.present? %>
      <%= render content_before_accordion.call_to_action %>
    <% end %>

    <% if content_before_accordion.partial.present? %>
      <%= render content_before_accordion.partial %>
    <% end %>
  </div>
<% end %>

<%= tag.div(class: "accordions", data: data_attributes) do %>
  <% steps.each.with_index(1) do |step, i| %>
    <%= tag.section(id: "step-#{i}", class: "step", data: { id: i }) do %>

      <%= tag.button(class: "step-header", data: { action: "click->accordion#toggle", "accordion-target": "header" }, aria: { controls: "collapsable-content-#{i}"}) do %>
        <%= tag.h2(%(#{number_prefix(i)} #{step.title}), class: "step-header__text") %>
        <div class="step-header__chevron"> </div>
      <% end %>

      <%= tag.div(id: %(collapsable-content-#{i}), class: %w[step-content collapsable], data: { "accordion-target": "content" }, aria: { labelledby: %(step-#{i}) }) do %>
        <%= step %>

        <% if step.call_to_action.present? %>
          <%= render step.call_to_action %>
        <% end %>
      <% end %>

    <% end %>
  <% end %>
<% end %>

<% if content_after_accordion %>
  <div class="content_after_accordion">
    <% if content_after_accordion.partial.present? %>
      <%= render content_after_accordion.partial %>
    <% end %>

    <% if content_after_accordion.call_to_action.present? %>
      <%= render content_after_accordion.call_to_action %>
    <% end %>
  </div>
<% end %>
