<div class="checklist-collage">
  <div>
    <ul>
      <% checklist.each do |item| %>
        <%= tag.li(safe_join([tag.strong(item)])) %>
      <% end %>
    </ul>
    <%= link_to(cta[:text], cta[:link], class: "button") if cta.present? %>
    <%= content %>
  </div>
  <%= tag.div(class: image_classes) do %>
    <%= images %>
  <% end %>
</div>
