<%= tag.div(class: classes) do %>

<div class="content heading--box-<%= @title_bg_color %>">

	<%= picture %>

	<div class="title">
		<div class="landing_hero__title">
			<h1 class="heading--box-padded heading--box-padding-l"><%= title %></h1>

			<% if show_subtitle? %>
				<div class="hero__subtitle">
				<%= tag.div(subtitle, class: "landing_hero__subtitle__text") %>

				<% if show_subtitle_button? %>
					<%= link_to(@subtitle_button, @subtitle_link, class: "landing_hero__subtitle__button button") %>
				<% end %>
				</div>
			<% end %>

			<% if content.present? %>
				<div class="landing_hero__content">
				<%= content %>
				</div>
			<% end %>
			
			<% if paragraph.present? %>
				<div class="landing_hero__paragraph">
					<%= paragraph&.html_safe %>
				</div>
			<% end %>
		</div>
	</div> 
</div>

<% end %>
