<%= tag.div(class: classes) do %>
  <div class="quote-section__content">
    <div>
      <h3 class="heading--box-blue"><%= title %></h3>
      <div>
        <%= content %>
      </div>
    </div>
    <%= picture %>
  </div>
  <%= quote %>
<% end %>
