<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <p>In teaching, there are lots of opportunities for progression and self development. You can progress your career at your own pace, and tailor your journey to your interests and goals.</p>
    <p>You'll have the freedom to proactively seek out progression opportunities. For example, you could:</p>
    <ul>
      <li>gain professional qualifications</li>
      <li>take on additional responsibilities, like pastoral care roles</li>
      <li>advance into leadership roles</li>
    </ul>
    
    <p><%= render 'content/shared/quotes/quote_progression_aaron' %></p>

    <h2 class="heading--box-blue">Early career progression</h2>
    <p>The thought of teaching your own class after you’ve completed your teacher training may feel a bit daunting. But teaching offers the opportunity for continuous professional development so you’re always learning new skills.</p>
    <p>If your course leads to qualified teacher status (QTS), you’ll receive 2 years of further support once you’ve completed your training. You’ll be known as an early career teacher (ECT) during this time and receive training and support based on the early career framework (ECF).</p>
    
    <p><a href="/life-as-a-teacher/teaching-as-a-career/early-career-teachers">Find out more about early career teachers</a>.</p>

    <h2 class="heading--box-blue">Taking on more responsibility</h2>
    <p>Whether it’s during your time as an early career teacher, or at other stages in your career, you can take on more responsibility to help you progress and develop.</p>

    <p>There's also no set path for how and when you can take on a more responsibility. This gives teachers opportunties to progress at their own pace.</p>

    <p>You can grow your responsibilites by taking on new roles, such as:</p>
    <ul>
      <li>form tutor</li>
      <li>subject leader</li>
      <li>special educational needs co-ordinators (SENCO)</li>
      <li>head of department</li>
      <li>head of year or key stage</li>
      <li>deputy headteacher</li>
      <li>headteacher</li>
    </ul>

    <p>These roles may combine elements of academic and curriculum management, staff development, and pastoral care (looking after the emotional and physical wellbeing of pupils).</p>

    <p><%= render 'content/shared/quotes/quote_progression_aaron' %></p>

    <h3>Mentor roles</p>
    <p>You can become a mentor for early career teachers (ECTs). In this role, you’ll receive training on mentorship and coach a newly qualified teacher at the start of their career.</p>

    <p>You can also mentor trainee teachers during their initial teacher training school placements.</p>

    <h2 class="heading--box-blue">National professional qualifications</h2>
    <p>National professional qualifications (NPQs) are designed to provide training and support for teachers and leaders at all levels. They've been designed with education professionals in mind, and can be completed flexibly around your teaching commitments.</p>
    
    <p>If you want to broaden your existing knowledge and skills in a specific area, for example literacy, there are 5 specialist NPQs.</p>
    
    <p>There are also 5 leadership NPQs. They aim to boost your leadership skills and confidence, to help you progress into more senior roles.</p>

    <p>You may be able to get your NPQ course fees paid for through scholarship funding. You do not need to apply for it. When you register for an NPQ, you'll be told if you're eligible or not.</p>
    
    <p><a href="https://www.gov.uk/guidance/national-professional-qualification-npq-courses">Find out more about national professional qualifications on GOV.UK</a>.</p>

    <h2 class="heading--box-blue">Salary progression</h2>

    <p>Qualified teachers get a minimum starting salary of <%= v :salaries_qualifiedteacher_englandmin %> (or more in London). Your salary will be reviewed every year, with most teachers moving up the pay range annually. This will depend on your school’s performance management arrangements.</p>

    <p>A typical teacher could earn at least <%= v :salaries_fiveyears_max %> (or more in London) after 5 years.</p> 

    <p><a href="/life-as-a-teacher/pay-and-benefits/teacher-pay">Find out more about teacher pay</a>.</p>

    <h3>Additional payments</h3>

    <p>You may also receive additional payments on top of your regular salary for taking on extra responsibilities. These are known as teaching and learning responsibility (TLR) payments.</p>

    <p>This could be a one-off payment for a specific project, for example, creating a timetable. Or it might be an extra responsibility attached to your job role, for example, being the head of department.</p>

    <p>Depending on your responsibilities, you could earn up to an extra <%= v :salaries_tlr_max %>. Your school will determine how much you receive.</p>

  </section>
</div>
