<h2>Supply agencies in England and Wales</h2>

<ul class="agencies-toc">
  <% @front_matter["agencies"].each_key do |region| %>
    <li>
      <%= link_to(region, "#" + region.parameterize) %>
    </li>
  <% end %>
</ul>

<% @front_matter["agencies"].each do |region, agencies| %>
  <%= tag.h3(region, id: region.parameterize, class: "region-heading") %>

  <ul class="agencies-list">
    <% agencies.each do |a| %>
      <li>
        <dl>
          <div>
            <dt>Name:</dt>
            <%= tag.dd(a["name"]) %>
          </div>

          <% if a["contact"].present? %>
            <div>
              <dt>Contact:</dt>
              <%= tag.dd(a["contact"]) %>
            </div>
          <% end %>

          <% if a["website"].present? %>
            <div>
              <dt>Website:</dt>
              <%= tag.dd(link_to(a["website"], a["website"])) %>
            </div>
          <% end %>

          <div>
            <dt>Email:</dt>
            <%= tag.dd(a["email"]) %>
          </div>

          <div>
            <dt>Address:</dt>
            <%= tag.dd(a["address"]) %>
          </div>
        </dl>
      </li>

    <% end %>
  </ul>
<% end %>
