<% @front_matter["agencies"].each do |region, agencies| %>
  <%= tag.h2(region) %>

  <ul class="agencies-list">
    <% agencies.each do |a| %>
      <li>
        <dl>
          <div>
            <dt>Name:</dt>
            <%= tag.dd(a["name"]) %>
          </div>

          <% if a["contact"].present? %>
            <div>
              <dt>Contact:</dt>
              <%= tag.dd(a["contact"]) %>
            </div>
          <% end %>

          <% if a["website"].present? %>
            <div>
              <dt>Website:</dt>
              <%= tag.dd(link_to(a["website"])) %>
            </div>
          <% end %>

          <div>
            <dt>Email:</dt>
            <%= tag.dd(a["email"]) %>
          </div>

          <div>
            <dt>Address:</dt>
            <%= tag.dd(a["address"]) %>
          </div>
        </dl>
      </li>

    <% end %>
  </ul>
<% end %>
