<h3 id="find-an-agency">Find an agency in England</h3>

<ul class="agencies-toc">
  <% @front_matter["agencies"].each_key do |region| %>
    <li>
      <%= link_to(region, "#" + region.parameterize) %>
    </li>
  <% end %>
</ul>

<% @front_matter["agencies"].each do |region, agencies| %>
  <%= tag.h3(region, id: region.parameterize, class: "region-heading") %>

  <ul class="agencies-list">
    <% agencies.each do |a| %>
      <li>
        <dl>
          <div>
            <dt>Name:</dt>
            <%= tag.dd(a["name"]) %>
          </div>

          <% if a["branch"].present? %>
            <div>
              <dt>Branch:</dt>
              <%= tag.dd(a["branch"]) %>
            </div>
          <% end %>

          <% if a["contact"].present? %>
            <div>
              <dt>Contact:</dt>
              <%= tag.dd(a["contact"]) %>
            </div>
          <% end %>

          <% if a["phone"].present? %>
            <div>
              <dt>Telephone:</dt>
              <%= tag.dd(a["phone"]) %>
            </div>
          <% end %>

          <% if a["website"].present? %>
            <div>
              <dt>Website:</dt>
              <%= tag.dd(link_to(a["website"], a["website"])) %>
            </div>
          <% end %>

          <% if a["email"].present? %>
            <div>
              <dt>Email:</dt>
              <%= tag.dd(mail_to(a["email"])) %>
            </div>
          <% end %>

          <% if a["address"].present? %>
            <div>
              <dt>Address:</dt>
              <%= tag.dd(a["address"]) %>
            </div>
          <% end %>
        </dl>
      </li>

    <% end %>
  </ul>

  <div class="post-list-links">
    <a href="#main-content">
      &uarr; Back to top
    </a>
  </div>
<% end %>
