<section class="registration__mailing-list">
  <h1>Register for personalised updates</h1>

  <p>Get emails on teaching events, school experience and your next steps.</p>

  <%= govuk_form_for(@signup, url: mailing_list_signup_path) do |f| %>
    <%= f.govuk_error_summary %>
    <%= f.hidden_field(:channel_id, value: params[:channel]) %>
    <%= f.hidden_field :accepted_policy_id, value: @signup.latest_privacy_policy.id %>

    <%= f.govuk_text_field(:first_name) %>

    <%= f.govuk_text_field(:last_name) %>

    <%= f.govuk_email_field(:email) %>

    <%= f.govuk_collection_select(
      :consideration_journey_stage_id,
      f.object.consideration_journey_stages,
      :id,
      :value,
    ) %>

    <%= f.govuk_collection_select(
      :degree_status_id,
      f.object.degree_status_options,
      :id,
      :value,
    ) %>

    <%= f.govuk_collection_select(
      :preferred_teaching_subject_id,
      f.object.teaching_subjects,
      :id,
      :value,
      options: { prompt: "Please select" },
    ) %>

    <%= f.govuk_text_field(:address_postcode, width: 10) %>

    <%= f.govuk_check_boxes_fieldset(:accept_privacy_policy, multiple: false, legend: { text: "Terms and conditions" }) do %>
      <%= f.govuk_check_box :accept_privacy_policy, 1, 0, multiple: false, link_errors: true %>
    <% end %>

    <button class="button">Register</button>
  <% end %>
</section>
