<% @search_component = Events::SearchComponent.new(
        @event_search,
        @form_action.to_s,
        include_type: false,
        heading: "Search for #{@category_name}",
        allow_blank_month: true,
      )
%>

<% content_for :before_search do %>
  <p><%= safe_html_format(t("find_an_event.types.#{@type.id}")) %></p>
<% end %>

<% if @events.any? %>
<section id="event-category-list" class="types-of-event">
  <div class="events-featured">
    <div class="events-featured__list">
      <%= render partial: "events/event", collection: @events %>
    </div>
  </div>
</section>

<%= paginate @events, params: { anchor: "event-category-list" } %>
<% else %>
  <%= render(Events::NoResultsComponent.new) do %>
    Sorry your search has not found any events, try a different location or month.
    <%= link_to("Search for another event type", events_path) %>.
  <% end %>
<% end %>
