<%
  type_text = GetIntoTeachingApi::Constants::EVENT_TYPES.key(type)
%>

<div class="event-resultboxshort">
    <div class="event-resultboxshort__header">
        <h1><%= datetime %></h1>
    </div>
    <div class="<%=  type == "Train to Teach event" ? 'event-resultboxshort__greenstripe' : 'event-resultboxshort__bluestripe' %>"></div>
    <div class="event-resultboxshort__content">
        <% if type %>
          <div><h3><div class="event-resultbox__content__icon icon-<%= type_text.parameterize %>" ></div>
          <%= type_text %></h3></div>
        <% end %>
        <div style="<%= 'display:none' unless online %>"><h3><div class='event-resultbox__content__icon icon-online'></div> Online Event</h3></div>
        <div style="<%= 'display:none' unless defined?(location) && location.present? %>"><h3><div class='event-resultbox__content__icon icon-pin'></div> <%= location if defined?(location) %></h3></div>
    </div>
</div>