<%
  type_name = name_of_event_type(type)
%>
<div class="event-resultbox">
    <div class="event-resultbox__header">
        <h2><%= title %></h2>
    </div>
    <div class="event-resultbox__datetime">
        <%= datetime %>
    </div>
    <div class="<%= train_to_teach_event_type?(type) ? 'event-resultbox__greenstripe' : 'event-resultbox__bluestripe' %>"></div>
    <div class="event-resultbox__content">
        <p><%= description %></p>
        <% if type %>
          <div><h3><div class="event-resultbox__content__icon icon-<%= type_name.parameterize %>" ></div>
          <%= type_name %></h3></div>
        <% end %>

        <div style="<%= 'display:none' unless online %>"><h3><div class='event-resultbox__content__icon icon-online'></div> Online Event</h3></div>
        <div style="<%= 'display:none' unless defined?(location) && location.present? %>"><h3><div class='event-resultbox__content__icon icon-pin'></div> <%= location if defined?(location) %></h3></div>
    </div>
</div>