<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <p>There’s no career quite like teaching. From sharing your passion for a subject, to having a job where every day is different, there’s lots of reasons why people across the world choose to become teachers in England.</p>

    <h2 class="heading--box-blue">Make a difference</h2>

    <p>From day one as a teacher, you’ll be empowered to make decisions and have an impact. Every lesson you teach or conversation you have in a school corridor, has the opportunity to inspire your pupils, shape their futures, and the world around them.</p>

    <p><%= render 'content/shared/quotes/quote_why_teach_chelsea' %></p>

    <p>Your impact won’t be limited to your pupils. You’ll have opportunities to make a difference to your school, colleagues, and local community.</p>

    <p><%= render 'content/shared/quotes/quote_why_teach_shaniqua' %></p>

    <h2 class="heading--box-blue">Explore your creativity</h2>

    <p>As a teacher, you’ll have the freedom and trust to use your knowledge, passion and creativity to teach curriculums in your own way. From themed learning days and engaging challenges to creative wall displays, you can bring your personality and passion to the classroom from the very first day.</p>

    <p><%= render 'content/shared/quotes/quote_why_teach_helen' %></p>

    <h2 class="heading--box-blue">Use your skills from your degree or previous career</h2>

    <p>Teaching provides you with a great environment to use the skills and knowledge you’ve developed during a degree or a previous career. You’ll share your passion with your pupils and continue to learn as you teach.</p>

    <p><%= render 'content/shared/quotes/quote_why_teach_jack' %></p>

    <h2 class="heading--box-blue">Career progression</h2>

    <p>here’s a clear trajectory for career progression in teaching, and you can progress at your own pace.</p>

    <p><%= render 'content/shared/quotes/quote_why_teach_gloria' %></p>

    <p><a href="/life-as-a-teacher/teaching-as-a-career/career-progression">Find out more about career progression</a>.</p>

    <h2 class="heading--box-blue">Teacher pay and pensions</h2>

      <p>In addition to the personal rewards of teaching, there are practical benefits too, including:</p>
      <ul>
        <li>a <a href="/life-as-a-teacher/pay-and-benefits/teacher-pay">competitive salary starting at <%= value :salaries_starting_minshortened %></a> (or higher in London)</li>
        <li>a <a href="/life-as-a-teacher/pay-and-benefits/teachers-pension-scheme">secure pension</a></li>
      </ul></p>

    <h2 class="heading--box-blue">Holidays</h2>

    <p>You’ll get more days holiday than people in many other professions. In school, full-time teachers work 195 days per year.</p>

    <p>For comparison, you’d work 227 days per year (on average) if you worked full time in an office.</p>

  </section>
</div>
