<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Why teach PE</h2>
      <p>Becoming a PE teacher means more than teaching sports. It’s about inspiring pupils to embrace a healthy, active lifestyle and helping them unlock their potential.</p>
<p>Your teaching will encourage them to discover the benefits of movement, both for their physical fitness and overall wellbeing.</p>
   <%= render 'content/shared/teaching/benefits' %>
   <%= render 'content/shared/teaching/why_teach' %>
  </section>

<section class="col col-720">
    <%= render 'content/shared/quotes/quote_progression_chris' %>
  </section>

   <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Shape your pupils' futures</h2>
    <div class="inset">
      <p>Teaching PE opens the door for your pupils to pursue exciting careers. They could work in a diverse range of fields, from sports coaching and personal training, to sports therapy or nutrition.</p>
      <p>Your pupils will learn more from you than you might think. As their teacher, you’ll teach them the skills to develop perseverance and face challenges with determination.</p>    </div>
  </section>


  <section class="col col-720">
    <h2 class="heading--box-blue">What you'll teach</h2>
    <p>You'll teach the <a href="https://www.gov.uk/government/publications/national-curriculum-in-england-physical-education-programmes-of-study">national curriculum for PE</a>.</p>
<p>When you teach 11 to 14 year olds (key stage 3), you might teach pupils to:</p>
    <ul>
      <li>use a range of tactics and strategies to overcome opponents in direct competition</li>
      <li>develop their technique and improve their performance</li>
      <li>take part in outdoor and adventurous activities which present intellectual and physical challenges</li>
      <li>analyse their performances compared to previous ones and demonstrate improvement to achieve their personal best</li>
      <li>take part in competitive sports and activities outside school through community links or sports clubs</li>
    </ul>
    <p>Explore what teaching a key stage 3 PE lesson would be like by visiting the <a href="https://www.thenational.academy/teachers/programmes/physical-education-secondary-ks3-l/units">Oak National Academy website</a>.</p>
 <p>When you teach 14 to 16 year olds (key stage 4), you might teach pupils to:</p>
     <ul>
      <li>use and develop a variety of tactics and strategies to overcome opponents in team and individual games</li>
      <li>develop their technique and improve their performance in other competitive sports</li>
      <li>take part in further outdoor and adventurous activities in a range of environments which present intellectual and physical challenges</li>
      <li>evaluate their performances compared to previous ones and demonstrate improvement across a range of physical activities to achieve their personal best</li>
    </ul>
     <p>At A level and AS level (key stage 5), skills you might cover when you teach 16 to 18 year olds (key stage 5) include:</p>
    <ul>
      <li>understanding how physiological and psychological states affect performance</li>
      <li>understanding the role of technology in physical activity and sport</li>
      <li>applying skills, techniques and tactics in an individual sport</li>
      <li>understanding the contribution which physical activity makes to health and fitness</li>
    </ul>
     <p><%= render 'content/shared/teaching/ages_abilities' %> <a href="/life-as-a-teacher/age-groups-and-specialisms/secondary"> Explore more about teaching secondary</a>.</p>
  </section>

  <section class="col col-space-m col-720">
    <h2 class="heading--box-blue">Start your journey into teaching PE</h2>
    <%= render 'content/shared/qualifications-training/check_qualifications' %>
    <%= render 'content/shared/qualifications-training/find_out_more' %>
    <%= render 'content/shared/qualifications-training/non_uk_qualifications' %>
  </section>

<section class="col col-space-m col-720">
   <h3>Fund your teacher training</h3>
   <%= render 'content/shared/teaching/bursary_no' %>
   <%= render 'content/shared/teaching/funding_support' %>
  </section>

  <section class="col col-720">
    <%= render 'content/shared/teaching/ect_support' %>
  </section>
    <%= render 'content/shared/quotes/quote-teaching-turning-around-a-lesson' %>
  <%= render CallsToAction::AdviserComponent.new(
    text: "An adviser with years of teaching experience can help you to become a PE. Chat by phone, text, or email as little or often as you need.",
  ) %>
</div>
