
<section class="landing bringing-your-lessons-to-life numbered">
  <div class="section-number">
    <span>03</span>
  </div>

  <div class="arrow-container mobile">
    <%=
      render ArrowComponent.new(
        width: 200,
        height: 200,
        x1: 1,
        y1: 0,
        x2: 0.1,
        y2: 1,
        cx: 0.3,
        cy: 0.1,
        arrow_size: 0.055
      )
    %>
  </div>

  <div class="arrow-container desktop">
    <%=
      render ArrowComponent.new(
        width: 320,
        height: 230,
        x1: 1,
        y1: 0,
        x2: 0.1,
        y2: 1,
        cx: 0.1,
        cy: 0,
        arrow_size: 0.045
      )
    %>
  </div>

  <div class="text">
    <h2>
      <span class="purple no-wrap">
        Bringing your
      </span>

      <br>

      <span class="purple no-wrap blend">
        lessons to life.
      </span>
    </h2>

    <article class="purple">
      <p>
        Whether it’s getting students to open up with a mental health podcast
        or using rap music to teach English literature, every teacher is
        different. And you&apos;ll soon find ways to bring your own passions
        and interests to the classroom.
      </p>

      <p>
        Meet <strong>Jack</strong>, <strong>Yvonne</strong> and
        <strong>Andrew</strong>. All teachers, but with three very different
        passions.
      </p>
    </article>
  </div>

  <ul class="featured-stories">
    <li>
      <%= image_pack_tag("media/images/content/welcome-guide/jack-rowing-crop.jpg", class: "tilt-right", alt: "PE teacher Jack in a rowing boat") %>

      <h3>Jack</h3>

      <p>
        Jack is a PE teacher from Leeds, with a passion for opening up
        conversations around mental health in schools.
      </p>

      <%= link_to "Read Jack's story", "/welcome/jacks-story", class: "button" %>
    </li>
    <li>
      <%= image_pack_tag("media/images/content/welcome-guide/yvonne-photoshoot-crop.jpg", class: "tilt-left", alt: "English teacher Yvonne standing in front of a brightly painted wall") %>

      <h3>Yvonne</h3>

      <p>
        Yvonne is an English teacher in London. She uses her love of rap music
        to engage and inspire her students.
      </p>

      <%= link_to "Read Yvonne's story", "/welcome/yvonnes-story", class: "button" %>
    </li>
    <li>
      <%= image_pack_tag("media/images/content/welcome-guide/andrew-in-school-crop.jpg", class: "tilt-right", alt: "Food and technology teacher Andrew") %>

      <h3>Andrew</h3>

      <p>
        Andrew is a Food Technology teacher from Birmingham who uses cooking to
        teach teenagers important life lessons.
      </p>

      <%= link_to "Read Andrew's story", "/welcome/andrews-story", class: "button" %>
    </li>
  </ul>
</section>
