<div class="landing exciting-times-ahead">
  <div class="text">
    <h2 class="yellow">Exciting times ahead.</h2>

    <p class="yellow">
      Look out for our emails over the next few weeks. They're packed with
      advice and support, as well as more inspiring teacher stories. In the
      meantime, our website has lots of great content to help you as you
      consider a career in teaching.
    </p>
  </div>

  <div class="stages">
    <div class="stage">
      <div class="card">
        <div class="number">1</div>
        <%= image_pack_tag("media/images/content/welcome-guide/school.svg", alt: "") %>
        <div class="stage-info">
          <h3 class="stage-name">Get experience.</h3>
          <p>
            School experience can help you decide whether teaching is right for
            you.
          </p>
          <a href="/get-school-experience">
            Find out how to get school experience
          </a>
        </div>
      </div>
    </div>

    <div class="stage">
      <div class="card">
        <div class="number">2</div>
        <%= image_pack_tag("media/images/content/welcome-guide/person-paper.svg", alt: "") %>
        <div class="stage-info">
          <h3 class="stage-name">Check your qualifications.</h3>
          <p>
            If you’ve got a degree or equivalent qualification, you’re ready
            for a teacher training course.
          </p>
          <a href="/ways-to-train">
            Find out about the qualifications you need to become a teacher
          </a>
        </div>
      </div>
    </div>

    <div class="stage">
      <div class="card">
        <div class="number">3</div>
        <%= image_pack_tag("media/images/content/welcome-guide/money-icon.svg", alt: "") %>
        <div class="stage-info">
          <h3 class="stage-name">Think about funding.</h3>
          <p>
            You can get funding that you don’t have to pay back if you train to
            teach certain subjects. Tuition fee and maintenance loans are also available.
          </p>
          <a href="/funding-your-training">
            Find out about funding options
          </a>
        </div>
      </div>
    </div>

    <div class="stage">
      <div class="card">
        <div class="number">4</div>
        <%= image_pack_tag("media/images/content/welcome-guide/click-person.svg", alt: "") %>
        <div class="stage-info">
          <h3 class="stage-name">Choose your training provider.</h3>
          <p>
            It’s important you find the right fit. Think about where you want to
            train and what type of learning environment works for you.
          </p>
          <a href="/ways-to-train">
            Find out about training providers
          </a>
        </div>
      </div>
    </div>

    <div class="stage">
      <div class="card">
        <div class="number">5</div>
        <%= image_pack_tag("media/images/content/welcome-guide/paper-and-pencil.svg", alt: "") %>
        <div class="stage-info">
          <h3 class="stage-name">Apply for your course.</h3>
          <p>
            Get tips on applying, including finding the right referees and
            writing a personal statement.
          </p>
          <a href="/tips-on-applying-for-teacher-training">
            Find out how to write your application
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="good-luck">
    <p>
      <% if first_name.present? %>
        Good luck <span class="yellow"><%= first_name %>!</span> You've got this.
      <% else %>
        <span class="yellow">Good luck!</span> You've got this.
      <% end %>
    </p>
    <div class="arrow-container">
      <%=
        render ArrowComponent.new(
          width: 200,
          height: 120,
          x1: 1,
          y1: 1,
          x2: 0.1,
          y2: 0.1,
          cx: 0.3,
          cy: 0.9,
          arrow_size: 0.1
        )
      %>
    </div>
  </div>
</div>
