<div class="landing exciting-times-ahead">
  <div class="text">
    <h2 class="yellow">Exciting times ahead.</h2>

    <p class="yellow">
      Look out for our emails over the next few weeks. They’ll be packed with
      loads more tips and advice about each step of the application process.
    </p>
  </div>

  <div class="stages">
    <div class="stage">
      <div class="card">
        <div class="number">1</div>
        <%= image_pack_tag("media/images/content/welcome-guide/school.svg") %>
        <div class="stage-name">Get experience.</div>
      </div>
    </div>

    <div class="stage">
      <div class="card">
        <div class="number">2</div>
        <%= image_pack_tag("media/images/content/welcome-guide/money-icon.svg") %>
        <div class="stage-name">Think about funding.</div>
      </div>
    </div>

    <div class="stage">
      <div class="card">
        <div class="number">3</div>
        <%= image_pack_tag("media/images/content/welcome-guide/click-person.svg") %>
        <div class="stage-name">Choose your training provider.</div>
      </div>
    </div>

    <div class="stage">
      <div class="card">
        <div class="number">4</div>
        <%= image_pack_tag("media/images/content/welcome-guide/paper-and-pencil.svg") %>
        <div class="stage-name">Write your application.</div>
      </div>
    </div>

    <div class="stage">
      <div class="card">
        <div class="number">5</div>
        <%= image_pack_tag("media/images/content/welcome-guide/person-paper.svg") %>
        <div class="stage-name">Prepare for interviews.</div>
      </div>
    </div>
  </div>

  <div class="good-luck">
    <p>
      <% if first_name.present? %>
        Good luck <span class="yellow"><%= first_name %>!</span> You've got this.
      <% else %>
        <span class="yellow">Good luck!</span> You've got this.
      <% end %>
    </p>
    <div class="arrow-container">
      <%=
        render ArrowComponent.new(
          width: 200,
          height: 120,
          x1: 1,
          y1: 1,
          x2: 0.1,
          y2: 0.1,
          cx: 0.3,
          cy: 0.9,
          arrow_size: 0.1
        )
      %>
    </div>
  </div>
</div>
