<header class="landing welcome-to-teaching">
  <div class="background yellow"></div>
  <div class="triangle yellow">
    <svg height="100%" width="100%" viewbox="0 0 100 100" preserveAspectRatio="none">
      <polygon points="0,0 100,0 100,100" />
    </svg>
  </div>

  <%= tag.video(controls: true, src: subject_specific_video_path) %>

  <h1>
    <div class="caption caption-l">
      <%= tag.span(greeting, class: "purple") %>
    </div>

    <div class="caption caption-m">
      <span class="purple">
        Thanks for signing up.
      </span>
    </div>

    <div class="caption welcome-to-teaching">
      <span class="purple no-wrap">
        Welcome to
      </span>

      <span class="purple"><span class="underline">Teaching</span>.</span>
    </div>
  </h1>

  <div class="arrow-container mobile">
    <%=
    render ArrowComponent.new(
        width: 80,
        height: 200,
        x1: 0.5,
        y1: 0,
        x2: 0.5,
        y2: 1,
        cx: -0.1,
        cy: 0.35,
        arrow_size: 0.065
      )
    %>
  </div>

  <div class="arrow-container top desktop">
    <%=
    render ArrowComponent.new(
        width: 300,
        height: 300,
        x1: 1,
        y1: 1,
        x2: 0.1,
        y2: 0.1,
        cx: 0.9,
        cy: 0.25,
        arrow_size: 0.03
      )
    %>
  </div>

  <div class="arrow-container bottom desktop">
    <%=
    render ArrowComponent.new(
        width: 300,
        height: 300,
        x1: 1,
        y1: 0,
        x2: 0.3,
        y2: 1,
        cx: 0.1,
        cy: 0.1,
        arrow_size: 0.03
      )
    %>
  </div>
</header>
