<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <p>Teachers come from lots of different backgrounds and have often worked in previous careers before becoming teachers. The skills and experiences you bring from previous careers are invaluable in the classroom. From communication and public speaking, to problem solving and people management, your students will learn more from you than you might think.</p>
    <p>So if you're interested in changing careers to become a teacher, there's lots of support available to help you find your route into teaching. </p>
  </section>
  <section class="col col-720">
    <h2 class="heading--box-blue">Benefits of changing your career to teaching</h2>
    <p>Transfering your existing skills to teaching can be incredibly rewarding. You'll be in demand as someone who has real-world experience of working in your career.</p>
    <p>As a teacher, you can watch pupils progress as they learn, making an impact from your very first lesson.</p>
  </section>
  <section class="col col-720">
    <%= render Content::QuoteComponent.new(
    text: "I tried many things until I realised that working with young people and helping them develop skills truly inspired me.",
    name: "Chris, career changer",
    large: false
  ) %>
  </section>
  <section class="col col-720">
    <p>There are practical benefits too, including:
      <ul>
        <li>a competitive salary starting at <%= value :salaries_starting_minshortened %> (or higher in London)</li>
        <li>a generous and secure pension</li>
        <li>more holiday days than people in many other professions</li>
        <li>opportunities for progression</li>
      </ul>
    </p>
    <p><a href="/life-as-a-teacher/pay-and-benefits"> Find out more about the benefits of becoming a teacher</a>.</p>
   <%= render Content::InsetTextComponent.new(
    header: "Non-UK citizens: changing careers",
    text: "<p>Find information if you're a <a href=\"/non-uk-teachers\">non-UK citizen interested in teaching in England</a>.</p>",
    color: "purple-white"
  ) %>
  </section>
</div>
<div class="row">
  <div class="col-space-l col-space-l-top">
    <%= render Content::QuoteWithImageComponent.new(
      title: "Teacher stories - Peter",
      text: "<p>I’d been working in the same role for many years and I was no longer feeling challenged. So I had a decision to make: stay in my finance role, or give myself a new break.</p><a href='/life-as-a-teacher/teaching-as-a-career/making-a-career-change-to-teaching'>Read more about Peter's career change to teaching</a>.",
      quotes: true,
      background_color: "blue",
      heading_color: "pink",
    ) %>
  </div>
</div>
<div class="row inset">
  <section class="col col-720">
    <h2 class="heading--box-blue">What you'll need to become a teacher</h2>
    <p>You’ll need a degree and <a href="/train-to-be-a-teacher/what-is-qts">qualified teacher status (QTS)</a> to work in the majority of schools in England. This  includes state maintained primary, secondary and special schools.</p>
    <p>There are different ways to get QTS.</p>
    <h3>If you have a degree</h3>
    <p>If you already have a degree, you can do a postgraduate teacher training course to get QTS.</p>
    <p>It doesn't matter when you graduated, and your degree subject doesn't necessarily need to be the subject you want to teach. Once you have QTS you could teach various subjects, providing you can show you have enough knowledge.</p>
    <p><a href="/train-to-be-a-teacher/if-you-have-a-degree"> Find out more about postgraduate teacher training</a>.</p>
    <h3>If you do not have a degree</h3>
    <p>If you do not have a degree, you can:</p>
    <ul>
      <li>do undergraduate teacher training to get a degree alongside qualified teacher status QTS</li>
      <li>check if you're eligible to do a teaching degree apprenticeship</li>
    </ul>
    <p>Find out more about <a href="/train-to-be-a-teacher/if-you-dont-have-a-degree">training to teach if you do not have a degree</a>.</p>
    <h3>If you're unable to get a degree</h3>
    <p>You do not need a degree and QTS to <a href="/life-as-a-teacher/age-groups-and-specialisms/further-education-teachers">teach in further education</a> or to <a href="/life-as-a-teacher/age-groups-and-specialisms/early-years-teachers">teach in early years</a>. So if you want to become a teacher, but are not able to get a degree, you can explore these options.</p>
  </section>
  <section class="col col-720">
    <%= render Content::QuoteComponent.new(
    text: "I would advise anyone thinking about changing careers that you will be embraced and more importantly an asset to the profession and students.",
    name: "Ian, career changer",
    large: false
  ) %>
  </section>
  <section class="col col-720">
    <h2 class="heading--box-blue">Fund your training</h2>
    <p>Tax-free bursaries and scholarships of up to <%= v :scholarships_generic_maxshortened %> are available for eligible trainee teachers. You can get these alongside a tuition fee loan and maintenance loan.</p>
    <p>You may also be able to get extra funding and support if you're:</p>
    <ul>
      <li>a parent or carer</li>
      <li>disabled</li>
      <li>a veteran</li>
    </ul>
    <p>Find out how you can <a href="/funding-and-support">fund your teacher training</a>.</p>
  </section>
</div>
<div class="row">
  <div class="col-space-l col-space-l-top">
    <%= render Content::QuoteWithImageComponent.new(
      title: "Teacher stories - Claire",
      text: "<p>As a parent and professional with a regular income, the financial support available to me as a trainee physics teacher made the option of re-training seem not only viable, but attractive.</p><a href='/life-as-a-teacher/teaching-as-a-career/becoming-a-parent-sparked-my-interest-in-teaching'>Read more about Claire's career change to teaching</a>.",
      quotes: true,
      background_color: "blue",
      heading_color: "pink",
    ) %>
  </div>
</div>
<div class="row inset">
  <section class="col col-720">
    <h2 class="heading--box-blue">Support for career changers</h2>
    <h3>Finding and applying for training</h3>
    <p>Our experienced teacher training advisers can support you through the switch if you're thinking about changing careers. They support thousands of people each year to change careers to teaching. You can chat to an adviser by phone, text or email.</p>
    <p>Find out more about <a href="/teacher-training-adviser/sign_up/identity">getting a teacher training adviser</a>.</p>
    <p><a href="https://nowteach.org.uk/">Now Teach</a> is a service that specifically helps people get into teaching who are changing career.</p>
    <h3>During your training and early career</h3>
    <!-- Support with teacher training -->
    <%= render 'content/shared/teaching/ect_support' %>
  </section>
</div>
