<%= tag.div(class: %w[call-to-action call-to-action--chat-online]) do %>
  <%= icon %>

  <div class="call-to-action__content">
    <%= tag.send(heading_tag, title, class: "call-to-action__heading") %>

    <%= tag.p(helpers.safe_html_format(text), class: "call-to-action__text") %>

    <%= render ChatComponent.new %>
  </div>
<% end %>
