<%= tag.div(class: %w[call-to-action call-to-action--chat-online], data: { controller: "talk-to-us" }) do %>
  <%= icon %>

  <div class="call-to-action__content">
    <%= tag.span(title, class: "call-to-action__heading") %>

    <%= tag.p(text.html_safe, class:"call-to-action__text") %>

    <div class="call-to-action__action">
      <button data-action="click->talk-to-us#startChat" class="button">
        <%= button_text %>
      </button>
    </div>
  </div>
<% end %>
