<%= tag.div(class: %w[call-to-action call-to-action--chat-online]) do %>
  <%= icon %>

  <div class="call-to-action__content">
    <%= tag.span(title, class: "call-to-action__heading") %>

    <%= tag.p(text.html_safe, class:"call-to-action__text") %>

    <div class="call-to-action__action">
      <%= helpers.chat_link(button_text, classes: "button") %>
    </div>
  </div>
<% end %>
