<%= tag.div(class: %w[call-to-action call-to-action--narrow] << responsive_classes) do %>
  <header>
    <%= icon %>
    <% if title.present? %>
      <%= tag.span(title, class: "call-to-action__heading") %>
    <% end %>
  </header>

  <div class="call-to-action__content">
    <% if text.present? %>
      <p class="call-to-action__text">
        <%= text %>
      </p>
    <% end %>

    <div class="call-to-action__action">
      <%= link %>
    </div>
  </div>
<% end %>
