<%= tag.div(class: "routes--border-top") if border %>
<%= tag.div class: classes do %>
    <div class="routes__left">
    <%= image_pack_tag(image,
                     **helpers.image_alt_attribs_for_text(""),
                     class: "routes__image")
    %>
  </div>

  <div class="routes__right">
    <h2 class="heading-l">
      <%= tag.span title if title.present? %>
    </h2>
    <%= tag.p text, class: 'routes__text' if text.present? %>
    <p></p>
    <%= link_to link_text, link_target, class: "button", role: "button", data: { "promo-type": "routes" } if link_text.present? && link_target.present? %>
  </div>
<% end %>
