<%= tag.div(class: %w[call-to-action call-to-action--simple]) do %>
  <%= icon %>

  <div class="call-to-action__content">
    <h4 class="call-to-action__heading">
      <%= title %>
    </h4>

    <p class="call-to-action__text">
      <%= text %>
    </p>

    <div class="call-to-action__action">
      <%= link %>
    </div>
  </div>
<% end %>
