<%= tag.div(class: %w[call-to-action call-to-action--simple].append(responsive_classes)) do %>
  <%= icon %>

  <div class="call-to-action__content">
    <% if title.present? %>
      <%= tag.span(title, class: "call-to-action__heading") %>
    <% end %>

    <% if text.present? %>
      <p class="call-to-action__text">
        <%= text.html_safe %>
      </p>
    <% end %>

    <div class="call-to-action__action">
      <%= link %>
    </div>
  </div>
<% end %>
