<%= tag.div(class: %w[call-to-action call-to-action--simple]) do %>
  <%= icon %>

  <div class="call-to-action__content">

    <% if title.present? %>
      <h4 class="call-to-action__heading">
        <%= title %>
      </h4>
    <% end %>

    <% if text.present? %>
      <p class="call-to-action__text">
        <%= text %>
      </p>
    <% end %>

    <div class="call-to-action__action">
      <%= link %>
    </div>
  </div>
<% end %>
