<%= tag.div(class: %w[call-to-action call-to-action--story]) do %>
  <div class="call-to-action__photo">
    <%= image_pack_tag(image) %>
  </div>

  <div class="call-to-action__content">
    <%= tag.span(heading, class: "call-to-action__contents__heading") %>
    <%= tag.p(text, class: "call-to-action__contents__story") %>

    <div class="call-to-action__action">
      <%= link_to("Read #{name}'s story", link) %>
    </div>
  </div>
<% end %>
