<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Why teach history</h2>
    <div class="inset">
      <p>Through teaching history, you’ll challenge pupils to scrutinise evidence to build a picture of the past. Guiding them through the often elusive sources left to us, you'll help them question the reliability and accuracy of what they read. They’ll build skills in research, handling evidence, and forming persuasive arguments.</p>
      <%= render 'content/shared/teaching/benefits' %>
      <%= render 'content/shared/teaching/why_teach' %>
    </div>
  </section>

  <section class="col col-720">
    <%= render 'content/shared/quotes/quote_progression_chris' %>
  </section>

  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Shape your pupils' futures</h2>
    <div class="inset">
      <p>Teaching history opens the door for your pupils to pursue exciting careers in fields such as research, curation, and law.</p>
      <p>Your pupils will learn more from you than you might think. As their history teacher, you'll develop your pupils’ knowledge and skills to investigate the past by interrogating primary and secondary sources.</p>
    </div>
  </section>

  <section class="col col-720">
    <%= render 'content/shared/quotes/quote_history_jack' %>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">What you'll teach</h2>
    <p>You'll teach the <a href="https://www.gov.uk/government/publications/national-curriculum-in-england-history-programmes-of-study/national-curriculum-in-england-history-programmes-of-study">national curriculum for history</a>.</p>
    <p>When you teach 11 to 14 year olds (key stage 3), themes you may study include:</p>
    <ul>
      <li>the development of church, state and society</li>
      <li>ideas, political power, industry and empire in Britain from 1745 to 1901</li>
      <li>challenges for Britain, Europe and the wider world from 1901 to the present day</li>
      <li>a local history study</li>
      <li>a study of a significant society or issue in world history and its interconnections with other world developments</li>
    </ul>
    <p>Knowledge and skills you'll cover when you teach 14 to 16 year olds (key stage 4) include:</p>
    <ul>
      <li>developing and extending knowledge of key historical events</li>
      <li>developing questions about the past through the use of sources</li>
      <li>developing an awareness of why people, events and developments have been given historical significance</li>
      <li>creating structured accounts using evidence</li>
    </ul>
    <p>Explore what teaching a key stage 3 history lesson would be like by visiting the <a href="https://www.thenational.academy/teachers/programmes/history-secondary-ks3/units">Oak National Academy website</a>.</p>
    <p>At A level and AS level (key stage 5), you’ll help pupils develop further knowledge and skills in:</p>
    <ul>
      <li>acquiring an understanding of the nature of historical study</li>
      <li>developing the use and understanding of historical terms, concepts and skills</li>
      <li>making links and drawing comparisons within and/or across different periods and aspects of the past</li>
      <li>organising and communicating historical knowledge and understanding in different ways and reaching conclusions based on evidence</li>
    </ul>
     <p><%= render 'content/shared/teaching/ages_abilities' %> <a href="/life-as-a-teacher/age-groups-and-specialisms/secondary"> Explore more about teaching secondary</a>.</p>
  </section>
 <section class="col col-720">
  <h3>Teaching classics</h3>
  <p>If you have a passion for the ancient world, you could train as a classics teacher and inspire a new generation to uncover the timeless wonders of the ancient past.</p>
  <p>While there's no set national curriculum for classics, you're likely to teach a combination of ancient languages and history covering the period from around 3000 BCE to 500 CE.</p>
 <p>Entry requirements vary between providers. However, you'll typically need a degree in a related field and a strong foundation in an ancient language, such as an A level in Latin.</p>
 <p><a href="/funding-and-support/scholarships-and-bursaries">Tax-free bursaries of <%= v "bursaries_postgraduate_languagesother" %></a> may be available for trainee classics teachers when more than 50% of the course content covers an ancient language. Your course provider will confirm if this applies.</p>
 <p>Find out <a href="https://www.gov.uk/government/publications/gcse-classical-civilisation">what pupils will learn when studying classical civilisations at GCSE</a>.</p>  </section>

  <section class="col col-space-m col-720">
    <h2 class="heading--box-blue">Start your journey into teaching history</h2>
    <%= render 'content/shared/qualifications-training/check_qualifications' %>
    <p>History teacher training courses have had successful applications from candidates with a range of degrees, including politics, philosophy, archaeology and English.</p>
    <%= render 'content/shared/qualifications-training/find_out_more' %>
    <%= render 'content/shared/qualifications-training/non_uk_qualifications' %>
  </section>

  <section class="col col-space-m col-720">
   <h3>Fund your teacher training</h3>
   <%= render 'content/shared/teaching/bursary_no' %>
   <%= render 'content/shared/teaching/funding_support' %>
  </section>

  <section class="col col-720">
    <%= render 'content/shared/teaching/ect_support' %>
  </section>
  <%= render CallsToAction::AdviserComponent.new(
    text: "An adviser with years of teaching experience can help you to become a history teacher. Chat by phone, text, or email as little or often as you need.",
  ) %>
</div>
