<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Why teach religious education</h2>
    <div class="inset">
      <p>Through teaching religious education, you’ll help pupils gain a deeper awareness of the world around them by promoting empathy and understanding. By investigating religious and non-religious views, you’ll give pupils a chance to reflect on their own beliefs and articulate their principles.</p>
      <%= render 'content/shared/teaching/benefits' %>
      <%= render 'content/shared/teaching/why_teach' %>
    </div>
  </section>

  <section class="col col-720">
    <%= render 'content/shared/quotes/quote_progression_chris' %>
  </section>

  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Shape your pupils' futures</h2>
    <div class="inset">
      <p>Teaching religious education opens the door for your pupils to pursue exciting careers. They could work in a diverse range of fields, from humanitarian and charity work, to the civil service and journalism.</p>
      <p>Your pupils will learn more from you than you might think. As their religious education teacher, you'll guide your pupils through the skills they need to show their understanding of the rich diversity of beliefs and to engage respectfully with big ideas. You'll teach them valuable life skills such as empathy, critical thinking and deep reflection.</p>
    </div>
  </section>

  <section class="col col-720">
    <%= render 'content/shared/quotes/quote_religiouseducation_sandra' %>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">What you'll teach</h2>
    <p>The religious education syllabus is decided by local councils, academies and faith schools.</p>
    <p>When you teach 11 to 14 year olds (key stage 3), you might teach pupils to:
    <ul>
      <li>investigate morals, ethics and philosophy</li>
      <li>understand a range of religious and non-religious worldviews</li>
      <li>identify and investigate a wide range of practices and beliefs</li>
      <li>articulate beliefs and values</li>
      <li>respond to questions posed by religious and non-religious views </li>
    </ul>
    <p>Skills you might cover when you teach 14 to 16 year olds (key stage 4) include:</p>
    <ul>
      <li>analysing beliefs</li>
      <li>synthesising ideas around sources of wisdom</li>
      <li>arguing and justifying their own opinions</li>
      <li>using research to evaluate varied perspectives</li>
    </ul>
<p>Explore what teaching a key stage 3 and 4 religious education lesson would be like at the <a href="https://www.thenational.academy/teachers/curriculum/religious-education-secondary-gcse/units">Oak National Academy website</a>.</p>
    <p>At A level and AS level (key stage 5), you’ll help pupils develop a deeper knowledge and understanding of:</p>
    <ul>
      <li>ethics and philosophy </li>
      <li>religious thought and its contribution to the wider world </li>
      <li>how to engage in respectful debate</li>
    </ul>
     <p><%= render 'content/shared/teaching/ages_abilities' %> <a href="/life-as-a-teacher/age-groups-and-specialisms/secondary"> Explore more about teaching secondary</a>.</p>
  </section>

  <section class="col col-space-m col-720">
    <h2 class="heading--box-blue">Start your journey into teaching religious education</h2>
    <%= render 'content/shared/qualifications-training/check_qualifications' %>
    <p>Religious education teacher training courses have had successful applications from candidates with a range of degrees, including philosophy, psychology, law, and history.</p>
    <%= render 'content/shared/qualifications-training/find_out_more' %>
    <%= render 'content/shared/qualifications-training/non_uk_qualifications' %>
  </section>

  <section class="col col-space-m col-720">
    <h3>Fund your teacher training</h3>
    <%= render 'content/shared/teaching/bursary_only' %>
    <%= render 'content/shared/teaching/funding_support' %>
  </section>

  <section class="col col-720">
    <!-- Support with teacher training -->
    <%= render 'content/shared/teaching/ect_support' %>
  </section>
  <%= render CallsToAction::AdviserComponent.new(
    text: "An adviser with years of teaching experience can help you to become a religious education teacher. Chat by phone, text, or email as little or often as you need.",
  ) %>
</div>
