<h1>Are you qualified to start teacher training?</h1>

<% unless @eligibility.any_checked? %>
  <%= form_with(object: @eligibility, method: :get, url: "#", data: { remote: false }) do |form| %>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend">Which qualifications do you have?</legend>

        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <%= form.check_box :gcse_english, checked: @eligibility.gcse_english, class: "govuk-checkboxes__input" %>
            <%= form.label :gcse_english, "GCSE English", class: "govuk-label govuk-checkboxes__label" %>
            <div class="govuk-hint govuk-checkboxes__hint">Grade 4 (C) or above</div>
          </div>

          <div class="govuk-checkboxes__item">
            <%= form.check_box :gcse_maths, checked: @eligibility.gcse_maths, class: "govuk-checkboxes__input" %>
            <%= form.label :gcse_maths, "GCSE Maths", class: "govuk-label govuk-checkboxes__label" %>
            <div class="govuk-hint govuk-checkboxes__hint">Grade 4 (C) or above</div>
          </div>


          <div class="govuk-checkboxes__item">
            <%= form.check_box :gcse_science, checked: @eligibility.gcse_science, class: "govuk-checkboxes__input" %>
            <%= form.label :gcse_science, "GCSE Science", class: "govuk-label govuk-checkboxes__label" %>
            <div class="govuk-hint govuk-checkboxes__hint">Grade 4 (C) or above</div>
          </div>


          <div class="govuk-checkboxes__item">
            <%= form.check_box :degree, checked: @eligibility.degree, class: "govuk-checkboxes__input" %>
            <%= form.label :degree, "Bachelor's degree", class: "govuk-label govuk-checkboxes__label" %>
            <div class="govuk-hint govuk-checkboxes__hint">Grade 2:2 honours or above</div>
          </div>
        </div>
      </fieldset>
    </div>
    <button class="button">Check my eligibility</button>
  <% end %>
<% end %>

<% if @eligibility.all_checked? %>
  <p>Congratuations! You're ready to start postgraduate teacher training.</p>

  <h3>Next steps:</h3>

  <p>
    You can <%= link_to("attend an event", "/events_path") %>, gain
    <%= link_to("school experience", "https://schoolexperience.education.gov.uk/") %>, or
    <%= link_to("speak to a Teacher Training Adviser", "/tta-service") %>
    to help you with the whole process of finding, funding and applying for a course.
  </p>

<% elsif @eligibility.no_science? %>
  <p>
    Primary school teachers need a science GCSE. You’ll need to show that you have an equivalent level of education.
  </p>

  <h3>Next steps:</h3>

  <p>
    Speak to a <%= link_to("Teacher Training Adviser", "/tta-service") %>.
    They'll help you understand your options.
  </p>

<% elsif @eligibility.no_english_or_maths? %>
  <p>
    All teachers need English and maths GCSEs, or equivalent. You’ll need to
    show that you have a comparable level of education.
  </p>

<% elsif @eligibility.gcses_but_no_degree? %>
  <p>Primary and secondary school teachers need a degree.</p>

  <h3>Next steps:</h3>

  <p>
    You can search <%= link_to("UCAS", "https://www.ucas.com/teaching-in-the-uk") %> for degrees that come with qualified
    teacher status.
  </p>


<% elsif @eligibility.any_checked? %>
  <p>😢</p>
<% end %>

<% if @eligibility.any_checked? %>
  <%= link_to("Start again", eligibility_checker_path, class: "secondary-button govuk-!-margin-top-9") %>
<% end %>
