<% unless @eligibility.any_checked? %>
  <div class="eligibility-checker">
    <header>
      <h1>Are you qualified to start teacher training?</h1>
    </header>

    <p>Find out instantly if you have what you need to start postgraduate training for teaching in English primary or secondary schools. You'll also see your next steps for qualifying.</p>

    <%= form_with(object: @eligibility, method: :get, url: "#", data: { remote: false }) do |form| %>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">Which qualifications do you have?</legend>

          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <%= form.check_box :gcse_english, checked: @eligibility.gcse_english, class: "govuk-checkboxes__input" %>
              <%= form.label :gcse_english, "GCSE English", class: "govuk-label govuk-checkboxes__label" %>
              <div class="govuk-hint govuk-checkboxes__hint">Grade 4 (C) or above</div>
            </div>

            <div class="govuk-checkboxes__item">
              <%= form.check_box :gcse_maths, checked: @eligibility.gcse_maths, class: "govuk-checkboxes__input" %>
              <%= form.label :gcse_maths, "GCSE Maths", class: "govuk-label govuk-checkboxes__label" %>
              <div class="govuk-hint govuk-checkboxes__hint">Grade 4 (C) or above</div>
            </div>

            <div class="govuk-checkboxes__item">
              <%= form.check_box :gcse_science, checked: @eligibility.gcse_science, class: "govuk-checkboxes__input" %>
              <%= form.label :gcse_science, "GCSE Science", class: "govuk-label govuk-checkboxes__label" %>
              <div class="govuk-hint govuk-checkboxes__hint">Grade 4 (C) or above</div>
            </div>

            <div class="govuk-checkboxes__item">
              <%= form.check_box :degree, checked: @eligibility.degree, class: "govuk-checkboxes__input" %>
              <%= form.label :degree, "A degree (or studying for a degree)", class: "govuk-label govuk-checkboxes__label" %>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="button">See results</button>
      <p>
        Got different qualifications? Chat to our teacher training experts online. They're available Monday to Friday between 8:30am and 5:30pm.

        <p>Chat will be unavailable from 1pm on 24 December until 29 December. It will also be unavailable from 1pm on 31 December and closed on 3 January. Responses may be slower over the Christmas period.</p>

        <%= render ChatComponent.new %>
      <p>
    <% end %>

    <p class="eligibility-checker-disclaimer">These are minimum requirements, some courses will ask for more qualifications.</p>
  </div>
<% end %>

<% if @eligibility.all_checked? %>
  <h1>Congratulations! You're ready to start postgraduate teacher training.</h1>

  <p>Every teacher training course has its own entry requirements. Some will ask for more qualifications and higher grades.</p>

  <h3>Next steps:</h3>

  <p>
    You can <%= link_to("attend an event", "/events_path") %>, gain
    <%= link_to("school experience", "https://schoolexperience.education.gov.uk/") %>, or
    <%= link_to("speak to a teacher training adviser", "/tta-service") %>
    to help you with the whole process of finding, funding and applying for a course.
  </p>

<% elsif @eligibility.no_science? %>
  <h1>You're ready for secondary</h1>

  <p>
    If you want to teach in a secondary school you can <%= link_to("attend an event", "/events_path") %>, gain
    <%= link_to("school experience", "https://schoolexperience.education.gov.uk/") %>, or
    <%= link_to("speak to a teacher training adviser", "/tta-service") %>
    to help you with the whole process of finding, funding and applying for a course.
  </p>

  <p>
    <strong>Primary school teachers</strong> also need a science GCSE. Alternatively, you’ll need to show that you have an equivalent level of education.
  </p>

  <p>Every teacher training course has its own entry requirements. Some will ask for more qualifications and higher grades.</p>

  <h3>Next steps:</h3>

  <p>
    If you want to teach at a secondary school speak to a <%= link_to("teacher training adviser", "/tta-service") %>.
    They'll help you understand your options.
  </p>

  <p>
    If you want to teach at a primary school and need to get the right GCSEs, you will need to find a GCSE training provider. You can
    find a training provider on the <%= link_to("National Careers Service", "https://nationalcareers.service.gov.uk/find-a-course/search") %>.
  </p>

<% elsif @eligibility.no_english_or_maths? %>
  <h1>Additional GCSEs required</h1>

  <p>
    All teachers need GCSEs in English and maths, or the equivalent, in order to train to teach in England.
  </p>

  <p>Every teacher training course has its own entry requirements. Some will ask for more qualifications and higher grades.</p>

  <h3>Next steps:</h3>

  <p>
    To get the right GCSEs you will need to find a GCSE training provider. You can
    find a training provider on the <%= link_to("National Careers Service", "https://nationalcareers.service.gov.uk/find-a-course/search") %>.
  </p>

<% elsif @eligibility.gcses_but_no_degree? %>
  <h1>You'll need a degree</h1>

  <p>Primary and secondary school teachers need a degree to be able to train to teach.</p>

  <h3>Next steps:</h3>

  <p>
    You can search <%= link_to("UCAS", "https://www.ucas.com/teaching-in-the-uk") %> for degrees that come with Qualified
    Teacher Status.
  </p>

<% elsif @eligibility.any_checked? %>
  <p>shouldn't reach here 😢</p>
<% end %>

<% if @eligibility.any_checked? %>
  <%= link_to("Start again", eligibility_checker_path, class: "secondary-button govuk-!-margin-top-9") %>
<% end %>

<h3>Not sure if you're qualified?</h3>

<p>
<strong>International qualifications:</strong> If you're from outside the UK, you can
  <%= link_to("/train-to-teach-in-england-as-an-international-student") do %>
    find out about qualifications, visas, funding and residency requirements for
    international teachers and trainees<% end %>.
</p>

<p>
  <strong>Similar qualifications:</strong> If you think you have what you need, but your
  qualifications are not on this list, <%= link_to "a teacher training adviser", "/tta-service" %> can let you
  know if your qualifications are equivalent and that you're ready to apply.
</p>
