<div class="card <%= modifier_classes %>">
  <% if header %>
  <header class="card__header">
    <%= truncated_header %>
  </header>
  <% end %>

  <%= media_link %>

  <% if title %>
  <h3>
    <%= title %>
  </h3>
  <% end %>

  <div class="card__snippet">
    <p><%= snippet %><p>
  </div>

  <footer class="card__footer">
    <%= link_to(link_text, link, class: "git-link") %>
  </footer>
</div>
