<div class="card<%= " card--no-border" unless border %>">
  <% if header %>
  <header class="card__header">
    <%= truncated_header %>
  </header>
  <% end %>

  <%= media_link %>

  <% if title %>
  <h3>
    <%= title %>
  </h3>
  <% end %>

  <div class="card__snippet">
    <p><%= snippet %><p>
  </div>

  <footer class="card__footer">
    <%= link_to(link, class: "git-link") do %>
      <%= link_text %> <%= helpers.fas_icon("chevron-right") %>
    <% end %>
  </footer>
</div>
