<div class="call-to-action">
  <%= render CallsToAction::SimpleComponent.new(icon: "icon-money") do %>
    <h2 class="call-to-action__heading">What funding could I get for teacher training?</h2>
    <div class="call-to-action__text">
      <div class="call-to-action__form">
        <%= form_with(model: form, url: path, method: :get, local: true, html: { data: { "controller": "funding-widget", "funding-widget-target": 'form'}}) do |f| %>
          <%= tag.div(class: "govuk-form-group #{input_field_classes(:subject)}") do %>
            <%= f.label :subject, 'Choose the subject you want to teach', class: 'govuk-label field', id: 'funding_widget_subject_label' %>
            <% if error_messages.any? %>
              <div class="form__errors">
                <% error_messages.each do |error_message| %>
                  <%= tag.p(class: 'govuk-error-message field') do %>
                    <span class="govuk-visually-hidden">Error:</span>
                    <%= error_message %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
            <%= f.select :subject, grouped_options_for_select(grouped_options, form.subject), { prompt: true }, { class: "govuk-select", aria: { describedby: "funding_widget_subject_label" }} %>
          <% end %>
          <div class="actions">
            <%= f.button 'Check funding', type: 'submit', class: 'button' %>
          </div>
        <% end %>
      </div>
      <% if form.subject.present? %>
        <% if funding_results.blank? %>
          <div class="call-to-action__text">
            <h3><%= sub_head %></h3>
            <div>
              <p>Scholarships or bursaries are not available for primary school teacher training. You can still get a <a href="/funding-and-support/tuition-fee-and-maintenance-loans">tuition fee and maintenance loan</a> if you're eligible.</p>
              <p>You might be able to get extra funding support <a href="/funding-and-support/if-youre-a-parent-or-carer">if you're a parent or carer</a> or <a href="/funding-and-support/if-youre-disabled">if you're disabled</a>.</p>
              <%= render Content::InsetTextComponent.new(
                header: "Non-UK citizens:",
                text: "You're unlikely to get help funding your training unless you have permission to <a href=\"https://www.gov.uk/browse/visas-immigration/settle-in-the-uk\">live permanently in the UK</a>. Find out about <a href=\"/non-uk-teachers/fees-and-funding-for-non-uk-trainees\">funding for non-UK citizens</a>.",
                color: "purple-white"
              ) %>
            </div>
          </div>
        <% else %>
          <div class="call-to-action__text">
            <h3><%= sub_head %></h3>
            <div>
              <%= helpers.safe_html_format(funding_results) %>
              <p>You can receive this alongside a <a href="/funding-and-support/tuition-fee-and-maintenance-loans">tuition fee and maintenance loan</a>.</p>
              <p>You could also get extra funding support <a href="/funding-and-support/if-youre-a-parent-or-carer">if you're a parent or carer</a> or <a href="/funding-and-support/if-youre-disabled">if you're disabled</a>.</p>
              <%= render Content::InsetTextComponent.new(
                header: "Non-UK citizens:",
                text: "<p>If you train to teach languages or physics, you may be eligible for a bursary or scholarship. You're unlikely to be eligible for bursaries and scholarships in other subjects.</p>
                      <br>
                      <p>Other funding like tuition fee loans and maintenance loans are normally only available for UK citizens or non-UK citizens with permission to <a href=\"https://www.gov.uk/browse/visas-immigration/settle-in-the-uk\">live permanently in the UK</a>.</p>
                      <br>
                      <p>Find out about <a href=\"/non-uk-teachers/fees-and-funding-for-non-uk-trainees\">funding for non-UK citizens</a>.</p>",
                color: "purple-white"
              ) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
