<%= render(partial: "sections/gtm_fallback") %>

<div id="skiplink-container">
  <div>
    <a href="#main-content" class="skiplink" data-module="govuk-skip-link">Skip to main content</a>
  </div>
</div>

<header class="limit-content-width" data-controller="navigation" data-module="govuk-header">
  <%= render Header::ExtraNavigationComponent.new(search_input_id: "searchbox__input--desktop") %>
  <%= render Header::LogoComponent.new %>
  <div class="menu-button" id="mobile-navigation-menu-button">
    <%= link_to(browse_path, class: "menu-button__button hidden-when-js-enabled") do %>
      <span class="menu-button__text">Menu</span>
    <% end %>
    <%= tag.button(class: "menu-button__button hidden-when-js-disabled", id: 'menu-toggle', aria: { expanded: false, controls: 'primary-navigation'}, data: { action: "click->navigation#toggleNav", "navigation-target" => "menu" }) do %>
      <span class="menu-button__text">Menu</span>
      <span class="menu-button__icon"></span>
    <% end %>
  </div>
  <%= render Header::NavigationComponent.new(front_matter: front_matter) %>
</header>

<% if breadcrumbs %>
  <%= render Header::BreadcrumbComponent.new %>
<% end %>
