<ul>
  <% for group in groups %>
  <li>
    <%= link_to group, "##{group_link_anchor(group)}" %>
  </li>
  <% end %>
</ul>

<% for group in groups %>
<div class="group" id="<%= group_link_anchor(group) %>">
  <div class="group__heading">
    <h3>
      <%= group %>
    </h3>
  </div>

  <% if description(group) %>
    <div class="group__description">
      <%= render(description(group)) %>
    </div>
  <% end %>

  <div class="group__cards">
  <% for item in items(group) %>
    <%= render GroupedCards::CardComponent.new item %>
  <% end %>
  </div>
</div>
<% end %>
