<div class="row">
  <section class="col col-720">
    <h2 class="heading--box-blue">Shape future generations</h2>

    <div class="inset">
      <p>
      Everyone remembers their favourite teacher at school. As a teacher you can have a massive impact on the pupils you teach, helping them to build their confidence and succeed. Which is why teaching is a rewarding job you can feel proud of.
      </p>
      <%= render Content::QuoteComponent.new(
    text: "There’s nothing better than those light bulb moments when students just ‘get it’, or when they are successful at a task or score amazingly on a test and they’re really proud of themselves.",
    name: "Jessica Walmsley, Head of science, Blackpool",
  ) %>

      <p><%= link_to("Find out how to get into teaching", "/") %>.</p>
    </div>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">Bring your energy to the classroom</h2>

    <div class="inset">
      <p>
      When you teach what you love, your passion will bring subjects to life for your pupils. There’s lots of variety when it comes to teaching and no two days are the same. So you'll have plenty of opportunities to get creative and build on the skills and experience you already have.
      </p>
      <%= render Content::QuoteComponent.new(
    text: "I have a love of meaningless facts and I like to start my lessons with a ‘fact of the day’. It’s usually completely unrelated to the lesson, but it sparks some really interesting conversations with students, especially ones that might be struggling to connect with the subject.",
    name: "Ben Breen, science and maths teacher",
  ) %>
      <p><%= link_to("Discover if teaching is right for you", page_path("is-teaching-right-for-me")) %>.</p>
    </div>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">Earn more than you might expect</h2>

    <div class="inset">
      <p>
      You might be surprised to learn that teachers get a starting salary of £30k (or more in London). And there are plenty of ways to increase your pay as you progress your career:
      </p>

      <ul>
      <li>most teachers get a pay rise every year, depending on your school. You could earn over £41k within 5 years</li>
      <li>you may get extra payments for taking on more responsibilities, for example creating a timetable or becoming head of a department</li>
      <li>as a headteacher you can expect to earn between £53k to £139k depending on your location and school</li>
      </ul>

      <p><%= link_to("Find out more about teacher pay and benefits", page_path("is-teaching-right-for-me/teacher-pay-and-benefits")) %>.</p>
    </div>
  </section>
</div>
