<section class="event-reg-main">
  <p>
    <%= back_link step_path(wizard.previous_key) if wizard.previous_key %>
  </p>

  <h1>Sign up for this event:</h1>
  <h2 id="event-reg-main-title"><%= event.name %></h2>

  <%= govuk_form_for current_step, url: step_path do |f| %>
    <%= f.govuk_error_summary %>

    <%= render current_step.key, current_step: current_step, f: f %>

    <% if wizard.can_proceed? %>
      <%= f.button class: "call-to-action-button" do %>
        <%= wizard.last_step? ? "Complete sign up" : "Next Step" %>
        <span></span>
      <% end %>
    <% end %>
  <% end %>
</section>
