<h1>FIXME: TBD</h1>

<%= back_link step_path(@wizard.previous_step) if @wizard.previous_step %>

<%= govuk_form_for @current_step, url: step_path do |f| %>
  <%= f.govuk_error_summary %>

  <%= render @current_step.key, f: f %>

  <%= f.govuk_submit %>
<% end %>
