<%
  legend_text = t("helpers.legend.events_steps_further_details.privacy_policy.text",
    link: link_to(t("helpers.legend.events_steps_further_details.privacy_policy.link"),
    privacy_policy_path(id: f.object.latest_privacy_policy.id), { target: :blank }))
%>

<%= f.govuk_check_boxes_fieldset :privacy_policy, legend: { text: safe_html_format(legend_text) } do %>
  <%= f.hidden_field :privacy_policy, value: false %>
  <%= f.govuk_check_box :privacy_policy, true,
        multiple: false, link_errors: true,
        label: { text: "Yes" } %>
<% end %>

<% if f.object.can_subscribe_to_mailing_list? %>
  <div data-controller="last-step" data-last-step-complete="Complete sign up<span></span>" data-last-step-continue="Next step<span></span>">
    <div data-action="click->last-step#updateSubmit">
      <%= f.govuk_radio_buttons_fieldset :subscribe_to_mailing_list, inline: true do %>
        <%= f.govuk_radio_button :subscribe_to_mailing_list, true, label: { text: "Yes" } %>
        <div data-last-step-target="complete">
        <%= f.govuk_radio_button :subscribe_to_mailing_list, false, label: { text: "No" } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= f.hidden_field :event_id, value: @event.id %>
<%= f.hidden_field :accepted_policy_id, value: f.object.latest_privacy_policy.id %>
