<%= tag.h1("About you") %>

<p>These questions help us provide tailored guidance depending on your circumstances.</p>

<%= f.govuk_collection_select :preferred_teaching_subject_id,
    f.object.teaching_subject_options,
    :id,
    :value,
    options: { prompt: "Select a subject" } %>

<%= f.govuk_collection_select :degree_status_id,
      f.object.degree_status_options,
      :id,
      ->(option) { degree_status_text(option) },
      options: { prompt: "Select a degree option" } %>

<%= f.govuk_collection_select :consideration_journey_stage_id,
      f.object.journey_stage_options,
      :id,
      ->(option) { format_option_value(option, "mailing_list_steps.teacher_training.consideration_journey_stage") },
      options: { prompt: "Select an option" } %>

<%= f.govuk_text_field :address_postcode, autocomplete: "postal-code" unless f.object.hide_postcode_field? %>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What if I do not have a UK postcode?
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>We run in-person events in the UK. We can tell you about these if you give us your UK postcode.</p>
    <p>If you do not live in the UK, you do not need to give us your postcode. Instead, you can just select 'Complete sign up' to finish signing up for your event.</p>
  </div>
</details>
