<% @hide_page_helpful_question = true %>

<section>
  <h1 class="heading-l heading--box-green">Sign up complete</h2>

  <%= tag.h2("You are signed up for #{@event.name}.", class: "heading-m") %>

  <p><%= format_event_date @event, stacked: false %></p>

  <%- if params[:subscribed].to_s == "1" -%>
    <h3>You've also signed up for email updates</h3>

    <p>You're ready to receive email updates to help you get into teaching.</p>
  <%- end -%>

  <h2 class="heading-m">What happens next?</h3>
  <p>
    You will receive a confirmation email with details of the event. If there
    is an issue with the event we will contact you via phone.
  </p>

  <%= render SingleQuestionSurveyComponent.new(
    question: 'How did you hear about this event?',
    hint: 'Please click on one of the following options',
    answers: [
      'Get Into Teaching website',
      'Get Into Teaching email',
      'Social media',
      'LinkedIn',
      'Friends/family',
      'University careers service/event',
      'Radio',
      'News article',
      'Other'
    ]
  ) %>
</section>

<div class="blocks">
  <%= render Content::GenericBlockComponent.new(
    title: "Life as a teacher",
    icon_image: "icon-school-black.svg",
    icon_size: "40x30",
    classes: "blocks__directory"
  ) do %>
    <ul>
      <li><a href="/my-story-into-teaching">Read teachers' stories</a></li>
      <li><a href="https://schoolexperience.education.gov.uk/">Experience a real school</a></li>
      <li><a href="/salaries-and-benefits">Teachers' salaries</a></li>
    </ul>
  <% end %>

  <%= render Content::GenericBlockComponent.new(
    title: "Your next steps",
    icon_image: "icon-doc-black.svg",
    icon_size: "40x35",
    classes: "blocks__directory"
  ) do %>
    <ul>
      <li><a href="/steps-to-become-a-teacher">How to become a teacher</a></li>
      <li><a href="/ways-to-train">Explore ways to train</a></li>
      <li><a href="/funding-your-training">Find your funding options</a></li>
    </ul>
  <% end %>

  <%= render Content::GenericBlockComponent.new(
    title: "Sign up to get a teacher training adviser",
    icon_image: "icon-git-black.svg",
    icon_size: "33x33",
    classes: "blocks__directory"
  ) do %>
    <p class="block__text">
      If you're ready to get into teaching, you can get free, one-to-one, support from a dedicated, experienced teaching professional to guide you through the process.
    </p>

    <%= link_to "Get an adviser", "/tta-service", class: "button button--white button--unpadded" %>
  <% end %>
</div>
