<% @hide_page_helpful_question = true %>

<%= tag.section data: { "sub-channel-id": session.dig('events', params['event_id'], 'sub_channel_id') } do %>

  <%= tag.h2("You are signed up for #{@event.name}.", class: "heading-l heading--box-blue") %>

  <%= tag.h3(format_event_date(@event, stacked: false), class: "heading-s") %>

  <p>
    You will receive a confirmation email with details of the event. If there
    is an issue with the event we will contact you via phone.
  </p>

  <%= tag.h2("Get free tailored email guidance", class: "heading-l heading--box-blue") %>

  <%= tag.h3("Would you like to receive email updates to help you get into teaching?", class: "heading-m") %>

  <p>
    Your details are protected under the terms of our <%= link_to "privacy notice (opens in new tab)", privacy_policy_path(id: session[:privacy_policy_id].presence || GetIntoTeachingApiClient::PrivacyPoliciesApi.new.get_latest_privacy_policy.id), target: :blank %>.
    This explains how we use your personal data. It's important you read it before signing up to receive emails.

  </p>

  <p class="govuk-!-margin-bottom-9">
    <%= link_to "Next step", mailing_list_steps_path, class: "button", role: "button", data: { "promo-type": "mailinglist" } %>
  </p>

  <%= render SingleQuestionSurveyComponent.new(
    question: 'How did you hear about this event?',
    hint: 'Select one of the following options',
    answers: [
      'Get Into Teaching website',
      'Get Into Teaching email',
      'Get Into Teaching online event',
      'SMS',
      'Social media',
      'Local teaching provider',
      'University',
      'Search engine',
      'Other'
    ]
  ) %>
<% end %>

<div class="blocks">
  <%= render Content::GenericBlockComponent.new(
    title: "Life as a teacher",
    icon_image: "static/images/icon-school-black.svg",
    icon_size: "40x30",
    classes: "blocks__directory"
  ) do %>
    <ul>
      <li><a href="/life-as-a-teacher/explore-subjects">Explore subjects</a></li>
      <li><a href="https://schoolexperience.education.gov.uk/">Experience a real school</a></li>
      <li><a href="/life-as-a-teacher/pay-and-benefits/teacher-pay">Teachers' salaries</a></li>
    </ul>
  <% end %>

  <%= render Content::GenericBlockComponent.new(
    title: "Your next steps",
    icon_image: "static/images/icon-doc-black.svg",
    icon_size: "40x35",
    classes: "blocks__directory"
  ) do %>
    <ul>
      <li><a href="/steps-to-become-a-teacher">How to become a teacher</a></li>
      <li><a href="/train-to-be-a-teacher">Explore ways to train</a></li>
      <li><a href="/funding-and-support">Find your funding options</a></li>
    </ul>
  <% end %>

  <%= render Content::GenericBlockComponent.new(
    title: "Sign up to get a teacher training adviser",
    icon_image: "static/images/icon-git-black.svg",
    icon_size: "33x33",
    classes: "blocks__directory"
  ) do %>
    <p class="block__text">
      If you're ready to get into teaching, you can get free, one-to-one, support from a dedicated, experienced teaching professional to guide you through the process.
    </p>

    <%= link_to "Get an adviser", "/teacher-training-adviser/sign_up/identity", class: "button button--white button--unpadded" %>
  <% end %>
</div>
<%= tag.div id: "hashed-email", class: "hidden", data: { id: "hashed-email", value: @hashed_email } if @hashed_email %>
