<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <p>If you're thinking about changing careers to become a teacher, knowing where to start and understanding what your options are can seem overwhelming. There's lots of dedicated support available to help you navigate the change.</p>
    <%= render Content::InsetTextComponent.new(
      header: "Non-UK citizens:",
      text: "<p>If you're not from the UK, find out about <a href=\"/non-uk-teachers/train-to-teach-in-england-as-an-international-student\">training to teach in England as a non-UK citizen</a>.</p>",
      color: "purple"
    ) %>
    <h2 class="heading--box-blue">Get advice and guidance from an expert</h2>
    <h3>Teacher training advisers</h3>
    <p>Our experienced teacher training advisers offer free one-to-one support to thousands of people each year to support them through a career change into teaching. All of our advisers have years of teaching experience, so can also give practical advice and insights on what life in the classroom is like.</p>
    <p>If you're not sure if teaching is right for you, they may know of support available that you're not aware of, and can give practical advice on how other career changers have successfully trained to be a teacher.</p>
    <p>To sign up you'll need to have, or be studying for, a bachelor's degree with honours.</p>
    <p>You can chat to your dedicated adviser by phone, text or email.</p>
    <%= render CallsToAction::ArrowLinkComponent.new(link_target: "/teacher-training-advisers", link_text: "Find out more about getting a teacher training adviser") %>
    <h3>Support from Now Teach</h3>
    <p>Now Teach is a charity that provides support to career changers. Their service helps experienced professionals get into teaching and offers 2 years of one-to-one career change support as you train and beyond.</p>
    <p>Find out more about <a href="https://nowteach.org.uk/">support from Now Teach</a>.</p>
    <h3>Get Into Teaching events</h3>
    <p>Anyone interested in teaching can attend a free Get Into Teaching event. These relaxed and informative events provide all the information and support you need to help decide if changing your career to teaching is right for you. They'll give you the opportunity to get expert advice and talk to teachers and local training providers.</p>
    <%= render CallsToAction::ArrowLinkComponent.new(link_target: "/events/about-get-into-teaching-events", link_text: "Find a Get Into Teaching event near you") %>
  </section>
  <section class="col col-720">
    <p><%= render 'content/shared/quotes/quote_career_change_phil' %></p>
    <h2 class="heading--box-blue">Applying for teacher training</h2>
    <p>When you apply for teacher training, you'll need to include things like proof of qualifications, and a written personal statement explaining why you want to become a teacher.<p>
    <p>To help show your qualifications, you can <a href="https://www.gov.uk/replacement-exam-certificate">get a certified statement of your exam results</a> if you did GCSEs, CSEs, O levels or A levels in the UK. If you have a degree, you should also be able to request a copy of your degree certificate from the university where you studied in the UK.</p>
    <p>If it's been a while since you've applied for a training course, you can get one-to-one guidance from a teacher training adviser. For example, they can support you with writing a personal statement and preparing for interviews. You can also explore our guidance on <a href="/how-to-apply-for-teacher-training">how to apply for teacher training</a>.</p>
    <h2 class="heading--box-blue">During your training and early career</h3>
    <p>Your training will equip you with all the knowledge you need to thrive in teaching environments.</p>
    <p>You'll also get lots of support while you train. For example, if you do postgraduate initial teacher training, you'll have the support of a mentor.</p>
    <p>Your mentor will:</p>
    <ul>
      <li>guide you through your training, sharing learning and career development opportunities with you</li>
      <li>meet with you regularly to make sure your training is a positive experience</li>
    </ul>
    <p>All teacher training involves some form of school placement. Throughout your time in schools, you'll be part of a welcoming school community where you'll learn from fellow teachers through taught sessions, seminars and workshops.</p>
    <p>Once you've completed your initial teacher training, you'll continue to be supported during your first 2 years of teaching. Find out what support you'll get as <a href="/life-as-a-teacher/teaching-as-a-career/early-career-teachers">an early career teacher</a>.</p>
    <h2 class="heading--box-blue">Financial support</h2>
    <p>There are lots of financial support options available for trainee teachers. For example, you may be able to get bursaries and scholarships, student loans, or a training route without fees. The financial support options vary depending on the teacher training route and eligibility criteria.</p>
    <p>Find out more about the different routes and <a href="/life-as-a-teacher/change-careers/how-to-change-careers-to-become-a-teacher">how to change career to become a teacher</a>.</p>
  </section>
  <%= render CallsToAction::AdviserComponent.new(
    text: "An adviser with years of teaching experience can help you change careers to become a teacher. Chat by phone, text, or email as little or often as you need.",
  ) %>
</div>
