<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Why teach design and technology</h2>
    <div class="inset">
      <p>Design and technology is a broad subject. Your teaching will cover a diverse range of areas including maths, science, engineering, art, and cookery. You'll encourage pupils to solve problems creatively and consider how the technology they use can impact their designs.</p>
      <p>In addition to the personal rewards of teaching design and technology, there are practical benefits too, including:</p>
      <ul>
        <li>a <a href="/life-as-a-teacher/pay-and-benefits/teacher-pay">competitive salary starting at <%= value :salaries_starting_minshortened %></a> (or higher in London)</li>
        <li>a <a href="/life-as-a-teacher/pay-and-benefits/teachers-pension-scheme">generous and secure pension</a></li>
        <li>more holiday days than people in many other professions</li>
        <li>opportunities for progression</li>
      </ul>
    </div>
  </section>
  <section class="col col-720">
    <%= render Content::QuoteComponent.new(
    text: "People may not realise how much potential there is for progression in teaching. They think they go into the world of the classroom and that's it. Lots of teachers have added responsibilities they enjoy doing and find fulfilling.",
    name: "Chris Farr, teacher training adviser",
    large: true
  ) %>
  </section>

  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Shape your pupils' futures</h2>
      <p>Teaching design and technology opens the door for your pupils to pursue exciting careers. They could work in a diverse range of fields, from interior design and architecture to engineering and joinery.</p>
      <p>By solving challenging problems, your pupils could make significant contributions to these impactful areas.</p>
      <p>Your pupils will learn more from you than you might think. As their teacher, you'll guide your pupils though the skills they need to show their understanding of design and technology. You'll teach them valuable life skills such as critical thinking, decision making and communication.</p>
  </section>
    <section class="col col-720">
    <%= render Content::QuoteComponent.new(
    text: "My passion is simple: food. It brings everyone together; we can all connect over it. So making the decision to teach food tech was simple too. Since I began teaching, I’ve focused on how my lessons can expand the horizons of my students – using cooking to build their confidence.",
    name: "Andrew, food technology teacher",
    large: true
  ) %>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">What you'll teach</h2>
    <p>You'll teach the <a href="https://www.gov.uk/government/publications/national-curriculum-in-england-design-and-technology-programmes-of-study">national curriculum for design and technology</a>.</p>
    <p>Throughout key stage 3 (11 to 14 year olds), pupils will use their creativity to design and make products that solve real problems within a variety of contexts. Pupils will be taught to:</p>
    <ul>
      <li>cook and apply the principles of nutrition and healthy eating</li>
      <li>identify and understand user needs</li>
      <li>identify and solve their own design problems and understand how to reformulate problems given to them</li>
      <li>develop and communicate design ideas</li>
      <li>select from and use specialist tools, techniques, processes, equipment and machinery precisely</li>
      <li>analyse the work of others to develop and broaden their understanding</li>
      <li>investigate new and emerging technologies</li>
      <li>test, evaluate and refine their ideas and products against a specification</li>
    </ul>
   <p><a href="https://www.thenational.academy/teachers/programmes/design-technology-secondary-ks3-l/units">Explore what teaching a key stage 3 design and technology lesson would be like<span class="visually-hidden">(opens in new window)</span></a>.</p>
    <p> In key stage 4 (14 to 16 years olds), you'll help pupils demonstrate skills in:</p>
    <ul>
      <li>designing and making</li>
      <li>evaluating</li>
      <li>technical knowledge</li>
      <li>communication</li>
    </ul>
   <p>At A level and AS level (key stage 5), you’ll help pupils develop a deeper knowledge and understanding of technical, designing and making principles. Themes you’ll cover include:</p>
    <ul>
      <li>product design and development</li>
      <li>fashion and textiles </li>
      <li>design engineering</li>
      <li>digital design and digital manufacture</li>
      <li>safe working practices</li>
      <li>user centred design</li>
      <li>design theory</li>
      <li>helping pupils to critically analyse and evaluate their own ideas, decisions, prototypes and products</li>
      <li>project management</li>
      <li>sustainability</li>
    </ul>
  </section>

  <section class="col col-space-m col-720">
    <h2 class="heading--box-blue">Start your journey into teaching design and technology</h2>
    <h3>Check your qualifications</h3>
    <p>To train to teach in secondary schools in England, you’ll need:</p>
    <ul>
      <li>GCSEs at grade 4 (C) or above in English and maths</li>
      <li>a bachelor’s degree in any subject</li>
    </ul>
    <p>Design and technology teacher training courses have had successful applications from candidates with a range of degrees, including fine art, product design, fashion design, architecture, and nutrition.</p>
    <p>Find out more about what <a href="/train-to-be-a-teacher/qualifications-you-need-to-teach">qualifications you need to train to teach</a>.</p>
    <%= render Content::ExpanderComponent.new(
      title: "check your qualifications",
      text: "If you have qualifications from outside the UK, you'll need to show that they meet the standards set for teacher training in England.",
      link_title: "You can get help comparing English and international qualifications.",
      link_url: "/non-uk-teachers/non-uk-qualifications",
    ) %>
  </section>

  <section class="col col-space-m col-720">
    <h3>Fund your teacher training</h3>
    <p>You may be able to get <a href="/funding-and-support">extra funding and support</a> if you're:</p>
    <ul>
      <li>a parent or carer</li>
      <li>disabled</li>
    </ul>
    <%= render Content::ExpanderComponent.new(
      title: "funding your training",
      text: "If you do not have <a href=\"https://www.gov.uk/guidance/indefinite-leave-to-remain-in-the-uk\">indefinite leave to remain in the UK</a>, you're unlikely to be eligible for funding.",
      link_title: "Find out more about fees and financial support for non-UK trainee teachers.",
      link_url: "/non-uk-teachers/fees-and-funding-for-non-uk-trainees",
    ) %>
  </section>

 <section class="col col-720">
    <h2 class="heading--box-blue">Support with teacher training</h2>
    <p>Throughout your initial teacher training in design and technology, you'll have the support of a mentor.</p>
    <p>Your mentor will:</p>
    <ul>
      <li>guide you through your training, sharing learning and career development opportunities with you</li>
      <li>meet with you regularly to make sure your training is a positive experience</li>
    </ul>
    <p>You'll also be part of a welcoming school community where you'll learn from fellow teachers through taught sessions, seminars and workshops.</p>
    <p>Once you've completed your initial teacher training, you'll continue to be supported during your first 2 years of teaching. Find out what support you'll get as <a href="/life-as-a-teacher/teaching-as-a-career/early-career-teachers">an early career teacher</a>.</p>
  </section>
</div>
