<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Why teach design and technology</h2>
    <div class="inset">
      <p>Design and technology is a broad subject. Your teaching will cover a diverse range of areas including maths, science, engineering, art, and cookery. You'll encourage pupils to solve problems creatively and consider how the technology they use can impact their designs.</p>
      <%= render 'content/shared/teaching/benefits' %>
    </div>
  </section>
  <section class="col col-720">
    <%= render 'content/shared/quotes/quote_progression_chris' %>
  </section>

  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Shape your pupils' futures</h2>
      <p>Teaching design and technology opens the door for your pupils to pursue exciting careers. They could work in a diverse range of fields, from interior design and architecture to engineering and joinery.</p>
      <p>By solving challenging problems, your pupils could make significant contributions to these impactful areas.</p>
      <p>Your pupils will learn more from you than you might think. As their teacher, you'll guide your pupils though the skills they need to show their understanding of design and technology. You'll teach them valuable life skills such as critical thinking, decision making and communication.</p>
  </section>

  <section class="col col-720">
    <%= render 'content/shared/quotes/quote_design_technology_andrew' %>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">What you'll teach</h2>
    <p>You'll teach the <a href="https://www.gov.uk/government/publications/national-curriculum-in-england-design-and-technology-programmes-of-study/national-curriculum-in-england-design-and-technology-programmes-of-study">national curriculum for design and technology</a>.</p>
    <p>Throughout key stage 3 (11 to 14 year olds), pupils will use their creativity to design and make products that solve real problems within a variety of contexts. Pupils will be taught to:</p>
    <ul>
      <li>cook and apply the principles of nutrition and healthy eating</li>
      <li>identify and understand user needs</li>
      <li>identify and solve their own design problems and understand how to reformulate problems given to them</li>
      <li>develop and communicate design ideas</li>
      <li>select from and use specialist tools, techniques, processes, equipment and machinery precisely</li>
      <li>analyse the work of others to develop and broaden their understanding</li>
      <li>investigate new and emerging technologies</li>
      <li>test, evaluate and refine their ideas and products against a specification</li>
    </ul>
   <p>Explore what teaching a key stage 3 design and technology lesson would be like at the <a href="https://www.thenational.academy/teachers/programmes/design-technology-secondary-ks3-l/units">National Oak Academy website</a>.</p>
    <p> In key stage 4 (14 to 16 years olds), you'll help pupils demonstrate skills in:</p>
    <ul>
      <li>designing and making</li>
      <li>evaluating</li>
      <li>technical knowledge</li>
      <li>communication</li>
    </ul>
   <p>At A level and AS level (key stage 5), you’ll help pupils develop a deeper knowledge and understanding of technical, designing and making principles. Themes you’ll cover include:</p>
    <ul>
      <li>product design and development</li>
      <li>fashion and textiles </li>
      <li>design engineering</li>
      <li>digital design and digital manufacture</li>
      <li>safe working practices</li>
      <li>user centred design</li>
      <li>design theory</li>
      <li>helping pupils to critically analyse and evaluate their own ideas, decisions, prototypes and products</li>
      <li>project management</li>
      <li>sustainability</li>
    </ul>
    <%= render 'content/shared/teaching/ages_abilities' %>
  </section>

  <section class="col col-space-m col-720">
    <h2 class="heading--box-blue">Start your journey into teaching design and technology</h2>
    <%= render 'content/shared/qualifications-training/check_qualifcations' %>
    <p>Design and technology teacher training courses have had successful applications from candidates with a range of degrees, including fine art, product design, fashion design, architecture, and nutrition.</p>
    <%= render 'content/shared/qualifications-training/find_out_more' %>
    <%= render 'content/shared/qualifications-training/non_uk_qualifications' %>
  </section>

  <section class="col col-space-m col-720">
    <h3>Fund your teacher training</h3>
    <%= render 'content/shared/teaching/bursary_only' %>
    <%= render 'content/shared/teaching/funding_support' %>
  </section>

 <section class="col col-720">
    <%= render 'content/shared/teaching/ect_support' %>
 </section>
</div>
