<div data-controller="searchbox" class="limit-content-width searchbox">
    <div class="navbar">
        <%= render "components/logo" %>
        <div class="navbar__desktop">
            <ul>
                <%= nav_link("Home", '/') %>
                <% resources.each do |resource| %>
                    <%= nav_link(resource.title, resource.path) %>
                <% end %>
                <%= nav_link("Teaching events", events_path) %>
                <%= nav_link("Register your interest", mailing_list_steps_path) %>
            </ul>

            <div class="navbar__desktop__search">
              <%= link_to image_pack_tag("icon-site-search.svg", alt: "Search", size: "50x50", data: { "lazy-disable": true }),
                          search_path,
                          class: "searchbox__search",
                          data: { action: "searchbox#toggle" } %>

              <%= link_to image_pack_tag("icon-site-search-close.svg", alt: "Close search", size: "50x50", data: { "lazy-disable": true }),
                          search_path,
                          class: "searchbox__close",
                          data: { action: "searchbox#toggle" } %>
            </div>
        </div>

        <div class="navbar__mobile" data-controller="navigation">
            <div class="navbar__mobile__buttons">
                <a data-action="click->navigation#navToggle" href="javascript:void(0);" class="icon">
                    <div data-navigation-target="label" id="navbar-label" class="icon-hamburger-label">Close</div>
                    <div data-navigation-target="hamburger" id='hamburger' class="icon-close"></div>
                </a>

                <%= link_to image_pack_tag("icon-site-search.svg", alt: "Search", size: "50x50", data: { "lazy-disable": true }),
                            search_path,
                            class: "searchbox__search",
                            data: { action: "searchbox#toggle" } %>

                <%= link_to image_pack_tag("icon-site-search-close.svg", alt: "Close search", size: "50x50", data: { "lazy-disable": true }),
                            search_path,
                            class: "searchbox__close",
                            data: { action: "searchbox#toggle" } %>
            </div>
            <div data-navigation-target="links" id="navbar-mobile-links" class="navbar__mobile__links">
                <ul>
                  <%= nav_link("Home", '/') %>
                  <% resources.each do |resource| %>
                    <%= nav_link(resource.title, resource.path) %>
                  <% end %>
                  <%= nav_link("Teaching events", events_path) %>
                  <%= nav_link("Register your interest", mailing_list_steps_path) %>
                </ul>
            </div>
        </div>
    </div>

    <div class="searchbox__bar" data-searchbox-target="searchbar">
        <label for="searchbox__input">
          Search Get Into Teaching
        </label>
    </div>
</div>
