<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Why teach <%= @front_matter["subject"] %></h2>
    <div class="inset">
      <p>Becoming a secondary teacher is an excellent career choice for those who want to make an impact. Your expertise and love for your subject could spark the interests of your pupils' to follow in your footsteps. Beyond the classroom, you'll also play a crucial role in building pupils' confidence and supporting their personal growth.</p>
      <!-- Why teach: benefits -->
      <%= render 'content/shared/teaching/benefits' %>
    </div>
  </section>

  <section class="col col-720">
    <!-- Quote: Chris Farr -->
    <%= render 'content/shared/quotes/quote_progression_chris' %>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">What you'll teach</h2>
    <p> Secondary (ages 11 to 18)</p>
    <p>Children start secondary school when they’re 11. There are up to 3 stages in secondary school:</p>
    <ul>
     <li>key stage 3 (KS3) includes years 7 to 9, with children aged 11 to 14</li> 
     <li>key stage 4 (KS4) includes years 10 and 11, with pupils aged 14 to 16</li>
     <li>key stage 5 (KS5) includes years 12 and 13, with students aged 16 to 18 at secondary schools with sixth forms, or colleges</li>
    </ul>
    <p>Pupils work towards national qualifications, which are usually GCSEs during KS4. Pupils take A levels or other similar qualifications during KS5.</p>
    <p>Subjects at this level include core subjects such as English, maths and science, as well as many others. The full range of subjects available to teach at secondary level will depend on the school.</p>
    <a href="/life-as-a-teacher/explore-subjects">Explore life as a teacher</a>
    <h2>What you need to teach in secondary schools</h2> 
    <p>To teach in the majority of secondary schools, you will need to achieve qualified teacher status (QTS). There are a number of routes to this. [Find out what training you need to get QTS](/train-to-be-a-teacher).</p>
    <p>Once you have QTS, you're qualified to teach in primary and secondary schools. However, if you want to change from primary to secondary or secondary to primary, you'll need to be able to show you have relevant classroom experience.</p>
    <!-- Teaching pupils: ages and abilities -->
    <%= render 'content/shared/teaching/ages_abilities' %>
  </section>

  <section class="col col-space-m col-720">
    <h2 class="heading--box-blue">Start your journey into teaching <%= @front_matter["subject"] %></h2>
    <!-- Check your qualifications-->
    <%= render 'content/shared/qualifications-training/check_qualifcations' %>
    <p>Chemistry teacher training courses have had successful applications from candidates with a range of degrees, including biomedical sciences, forensic science, pharmacy, and natural sciences.</p>
    <%= render 'content/shared/qualifications-training/find_out_more' %>
    <!-- Non-UK qualifications expander -->
    <%= render 'content/shared/qualifications-training/non_uk_qualifications' %>
  </section>

  <section class="col col-space-m col-720">
    <!-- Improve your subject knowledge -->
    <%= render 'content/shared/qualifications-training/subject_knowledge' %>
  </section>

  <section class="col col-space-m col-720">
    <h3>Fund your teacher training</h3>
    <!-- Bursaries and Scholarships -->
    <%= render 'content/shared/teaching/bursary_scholarship' %>
    <!-- Funding and Support -->
    <%= render 'content/shared/teaching/funding_support' %>
  </section>

  <section class="col col-space-m col-720">
    <%= render 'content/shared/qualifications-training/get_school_experience' %>
    <%= render 'content/shared/qualifications-training/paid_internships' %>
  </section>

  <section class="col col-720">
    <!-- Support with teacher training -->
    <%= render 'content/shared/teaching/ect_support' %>
  </section>

</div>
