<%= render "sections/hero",  
    :header => "Schools and university events", 
    :image => "media/images/hero-events.png" 
%>

<section class="types-of-event content container-1000">

    <div class="content__left">
        <a href="/events" class="backlink">All events</a>
        <p>
            At our Train to Teach events, you can meet experienced teaching professionals who can answer all of your questions. 
        </p>
    </div>

</section>

<section class="search-for-events-results content container-1000">
    <a href="/eventschool">
        <%= render "components/eventbox", 
            :title => "Heart TSA - Zoom train to teach information event",
            :datetime => "11 May 2020 at 17:00 - 18:30",
            :description => "Find out more about how you can #inspireageneration by training to teach with Heart TSA.",
            :schooloruni => true,
            :traintoteach => false,
            :online => true
        %>
    </a>
    <a href="/eventschool">
        <%= render "components/eventbox", 
            :title => "Heart TSA - Zoom train to teach information event",
            :datetime => "11 May 2020 at 17:00 - 18:30",
            :description => "Find out more about how you can #inspireageneration by training to teach with Heart TSA.",
            :schooloruni => true,
            :traintoteach => false,
            :online => true
        %>
    </a>
    <a href="/eventschool">
        <%= render "components/eventbox", 
            :title => "Heart TSA - Zoom train to teach information event",
            :datetime => "11 May 2020 at 17:00 - 18:30",
            :description => "Find out more about how you can #inspireageneration by training to teach with Heart TSA.",
            :schooloruni => true,
            :traintoteach => false,
            :online => true
        %>
    </a>
    <a href="/eventschool">
        <%= render "components/eventbox", 
            :title => "Heart TSA - Zoom train to teach information event",
            :datetime => "11 May 2020 at 17:00 - 18:30",
            :description => "Find out more about how you can #inspireageneration by training to teach with Heart TSA.",
            :schooloruni => true,
            :traintoteach => false,
            :online => true
        %>
    </a>
    <a href="/eventschool">
        <%= render "components/eventbox", 
            :title => "Heart TSA - Zoom train to teach information event",
            :datetime => "11 May 2020 at 17:00 - 18:30",
            :description => "Find out more about how you can #inspireageneration by training to teach with Heart TSA.",
            :schooloruni => true,
            :traintoteach => false,
            :online => true
        %>
    </a>
    <a href="/eventschool">
        <%= render "components/eventbox", 
            :title => "Heart TSA - Zoom train to teach information event",
            :datetime => "11 May 2020 at 17:00 - 18:30",
            :description => "Find out more about how you can #inspireageneration by training to teach with Heart TSA.",
            :schooloruni => true,
            :traintoteach => false,
            :online => true
        %>
    </a>

</section>

