<%= tag.header(class: classes) do %>
  <%= responsive_image %>
  <div class="hero__title">
    <h1><%= tag.span(title) %></h1>
  </div>
  <% if subtitle.present? %>
    <div class="hero__subtitle">
      <%= tag.div(subtitle) %>
    </div>
  <% end %>

  <% if content.present? %>
    <div class="hero__content">
      <%= content %>
    </div>
  <% end %>
<% end %>

<% if show_mailing_list %>
  <div class="container-1000">
    <div class="hero__mailing-strip">
        <div class="hero__mailing-strip__text">
            <p>Sign up to receive information via email that could help you make your decision to get into teaching.</p>
        </div>
        <div class="hero__mailing-strip__cta">
          <%= link_to(mailing_list_steps_path, class: "hero__mailing-strip__cta__button") do %>
            <span>Sign up here <span class="visually-hidden">to receive information via email</span></span>
          <% end %>
        </div>
    </div>
  </div>
<% end %>
