<% if @success %>
  <div class="confirmation-panel-container">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        <%= "Event submitted for review" if @pending %>
        <%= "Event published" if @published %>
        <%= "Event withdrawn" if @withdrawn %>
      </h1>
      <% if @readable_id %>
        <div class="govuk-panel__body">
          <%= "Pending event" if @pending || @withdrawn %>
          <%= "Published event" if @published %>
          <strong>
            <%= link_to @readable_id,
                        @pending || @withdrawn ? internal_event_path(@readable_id) : event_path(@readable_id) %>
          </strong>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="markdown events-listing">
  <div class="tab-bar">
    <%= link_to "Provider events",
                internal_events_path(event_type: "provider"),
                class: class_names("tab-link", "tab", { "active-tab": event_type_name == "provider" }) %>
    <%= link_to "Online events",
                internal_events_path(event_type: "online"),
                class: class_names("tab-link", "tab", { "active-tab": event_type_name == "online" }) %>
    <p class="username">Logged in as: <%= @user.username %></p>
  </div>

  <h1 class="pending-title">Pending <%= event_type_name %> events</h1>

  <%= button_to "Submit #{event_type_name} event for review",
                new_internal_event_path,
                params: { event_type: event_type_name },
                method: :get,
                class: "button submit-button no-left-margin" %>

  <% if @no_results %>
    <div class="pending-no-results">
      <%= render(Events::NoResultsComponent.new) do %>
        No pending events for review
      <% end %>
    </div>
  <% else %>
    <div class="events container">
      <section class="types-of-event">
        <div class="events-featured">
          <div class="events-featured__list">
            <%= render partial: "event", collection: @events %>
          </div>
        </div>
        <div class="event-pagination">
          <%= paginate @events %>
        </div>
      </section>
    </div>
  <% end %>
</div>

<% if @user.publisher? %>
  <div class="withdraw-box-container">
    <div class="withdraw-box markdown">
      <h3>Edit a published event?</h3>
      <p>Withdraw the event <%= link_to "here", internal_live_events_path %>. The event will be removed from from the
        live site while it is edited and will need to be re-approved.</p>
    </div>
  </div>
<% end %>
