<%= link_to "Return to pending events",
            internal_events_path,
            method: :get,
            class: "govuk-back-link" %>

<h1><%= event_type_name.capitalize %> event details</h1>

<%= govuk_form_for @event,
                   url: internal_events_path,
                   method: :post,
                   html: { data: { "controller": "internal-events" } } do |f| %>
  <%= f.govuk_error_summary %>
  <%= f.hidden_field :id %>
  <%= f.hidden_field :type_id %>
  <%= f.govuk_text_field :name,
                         label: { text: 'Event name' },
                         data: { "internal-events-target": "name" } %>
  <%= f.govuk_text_area :summary, label: { text: 'Event summary' } %>
  <%= render "form/govuk_error_message", label: "Event description", field_errors: @event.errors[:description] do %>
    <%= f.hidden_field :description, class: "event-description" %>
    <trix-editor class="<%= class_names("govuk-input", "event-description", { "govuk-input--error": @event.errors[:description].any? }) %>"
                 input="internal_event_description">
    </trix-editor>
  <% end %>

  <% if @event.provider_event? %>
    <%= f.govuk_email_field :provider_contact_email, label: { text: 'Provider email address' } %>
    <%= f.govuk_text_field :provider_organiser, label: { text: 'Provider organiser' } %>
    <%= f.govuk_text_field :provider_target_audience, label: { text: 'Target audience' } %>
    <%= f.govuk_url_field :provider_website_url, label: { text: 'Provider website/registration link' } %>

    <%= f.govuk_radio_buttons_fieldset(:is_online, inline: true,
                                       legend: { size: 'm', text: 'Online event?' }) do %>
      <%= f.govuk_radio_button :is_online, true, label: { text: 'Yes' }, link_errors: true %>
      <%= f.govuk_radio_button :is_online, false, label: { text: 'No' } %>
    <% end %>
  <% end %>

  <label class="govuk-label">Event dates</label>
  <span class="govuk-hint">
    Input in the format: DD/MM/YYYY HH:MM (e.g., 01/07/2021 17:00), or click to use the selector</span>

  <%= f.govuk_text_field :start_at,
                         label: { text: "Start at" },
                         width: 'one-third',
                         class: "flatpickr-enhanced-field",
                         data: { "internal-events-target": "startAt" }%>

  <%= f.govuk_text_field :end_at,
                         label: { text: "End at" },
                         width: 'one-third',
                         class: "flatpickr-enhanced-field" %>

  <%= f.govuk_text_field :readable_id,
                         label: { text: 'Event partial URL' },
                         hint: { text: 'You can generate the partial URL from the event name and start at date' },
                         data: { "internal-events-target": "partialUrl" } %>

  <span class="govuk-error-message hidden" id="internal-generate-url-error" data-internal-events-target="errorMessage">
    <span class="govuk-visually-hidden">Error: </span>Name and Start at fields must have values in order to generate partial URL
  </span>
  <%= f.button "Generate partial URL",
               class: "button form-button",
               type: "button",
               data: { action: "click->internal-events#populatePartialUrl" } %>

  <% if @event.online_event? %>
    <%= f.govuk_url_field :scribble_id, label: { text: 'Scribble ID' } %>
  <% end %>

  <% if @event.provider_event? %>
    <div class="no-left-margin">
      <%= f.fields_for :building, @event.building do |b| %>
        <%= b.govuk_error_summary unless @event.building.nil? %>
        <%= f.govuk_radio_buttons_fieldset(:venue_type, legend: { size: 'm', text: 'Event venue' }) do %>
          <%= f.govuk_radio_button :venue_type, Internal::Event::VENUE_TYPES[:none], label: { text: 'No venue' }, link_errors: true %>
          <%= f.govuk_radio_button :venue_type, Internal::Event::VENUE_TYPES[:existing], label: { text: 'Search existing venues' } do %>
            <%= b.govuk_collection_select :id,
                                          f.object.buildings,
                                          :id,
                                          ->(building) { "#{building.venue}, #{building.address_postcode}" },
                                          label: { text: 'Search for existing buildings' },
                                          options: { include_blank: "" } %>
          <% end %>
          <%= f.govuk_radio_button :venue_type, Internal::Event::VENUE_TYPES[:add], label: { text: 'Add a new venue' } do %>
            <%= b.govuk_text_field :venue, label: { text: 'Venue' } %>
            <%= b.govuk_text_field :address_line1, label: { text: 'Address line 1' } %>
            <%= b.govuk_text_field :address_line2, label: { text: 'Address line 2' } %>
            <%= b.govuk_text_field :address_line3, label: { text: 'Address line 3' } %>
            <%= b.govuk_text_field :address_city, label: { text: 'City' } %>
            <%= b.govuk_text_field :address_postcode, label: { text: 'Postcode' } %>
          <% end %>
        <% end %>
      <% end %>
  <% end %>
  </div>
  <%= f.button "Submit for review", class: "button form-button" %>
<% end %>
