<%= link_to "Return to pending events",
            internal_events_path,
            method: :get,
            class: "govuk-back-link" %>
<h1>
  Provider Event Details
</h1>

<%= govuk_form_for @event do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.hidden_field :id %>
  <%= f.govuk_text_field :name, label: { text: 'Event name' } %>
  <%= f.govuk_text_field :readable_id, label: { text: 'External event name' } %>


  <%= f.govuk_text_area :summary, label: { text: 'Event summary' } %>

  <div class="<%= class_names("govuk-form-group", { "govuk-form-group--error": @event.errors[:description].any? }) %>">
    <% if @event.errors[:description].any? %>
      <span class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span><%= @event.errors[:description][0] %>
      </span>
    <% end %>
    <label for="internal_event[description]" class="govuk-label">Event description</label>
    <%= f.hidden_field :description, class: "event-description" %>
    <trix-editor class="<%= class_names("govuk-input", "event-description", { "govuk-input--error": @event.errors[:description].any? }) %>"
                   input="internal_event_description">
    </trix-editor>
  </div>

  <%= f.govuk_email_field :provider_contact_email, label: { text: 'Provider email address' } %>
  <%= f.govuk_text_field :provider_organiser, label: { text: 'Provider organiser' } %>
  <%= f.govuk_text_field :provider_target_audience, label: { text: 'Target audience' } %>
  <%= f.govuk_url_field :provider_website_url, label: { text: 'Provider website/registration link' } %>

  <%= f.govuk_radio_buttons_fieldset(:is_online, inline: true,
                                     legend: { size: 'm', text: 'Online event?' }) do %>
    <%= f.govuk_radio_button :is_online, true, label: { text: 'Yes' } %>
    <%= f.govuk_radio_button :is_online, false, label: { text: 'No' } %>
  <% end %>

  <div class="<%= class_names("govuk-form-group", { "govuk-form-group--error": @event.errors[:start_at].any? }) %>">
    <% if @event.errors[:start_at].any? %>
    <span class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span><%= @event.errors[:start_at][0] %>
    </span>
    <% end %>
    <h3 class="govuk-label">Start at</h3>
    <%= f.datetime_field :start_at, class: class_names("datetime", "govuk-input",
                                                       { "govuk-input--error": @event.errors[:start_at].any? }) %>
  </div>

  <div class="<%= class_names("govuk-form-group", { "govuk-form-group--error": @event.errors[:end_at].any? }) %>">
    <% if @event.errors[:end_at].any? %>
    <span class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span><%= @event.errors[:end_at][0] %>
    </span>
    <% end %>
    <h3 class="govuk-label">End at</h3>
    <%= f.datetime_field :end_at, class: class_names("datetime", "govuk-input",
                                                       { "govuk-input--error": @event.errors[:end_at].any? }) %>
  </div>

  <div class="no-left-margin">
    <%= f.fields_for :building, @event.building do |b| %>
      <%= b.hidden_field :id %>
      <%= b.govuk_radio_buttons_fieldset(:fieldset, legend: { size: 'm', text: 'Event venue' }) do %>
        <%= b.govuk_radio_button :fieldset, 'none', label: { text: 'No venue' } %>
        <%= b.govuk_radio_button :fieldset, 'existing', label: { text: 'Search existing venues' } do %>
          <%= b.govuk_collection_select :id,
                                        @buildings,
                                        :id,
                                        ->(building) { "#{building.venue}, #{building.address_postcode}" },
                                        label: { text: 'Search for existing buildings' },
                                        options: { include_blank: "" } %>
        <% end %>
        <%= b.govuk_radio_button :fieldset, 'add', label: { text: 'Add a new venue' } do %>
          <%= b.govuk_text_field :venue, label: { text: 'Venue' } %>
          <%= b.govuk_text_field :address_line1, label: { text: 'Address line 1' } %>
          <%= b.govuk_text_field :address_line2, label: { text: 'Address line 2' } %>
          <%= b.govuk_text_field :address_line3, label: { text: 'Address line 3' } %>
          <%= b.govuk_text_field :address_city, label: { text: 'City' } %>
          <%= b.govuk_text_field :address_postcode, label: { text: 'Postcode' } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= f.button "Submit for review", class: "call-to-action-button button" %>

<% end %>

