<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Why teach languages</h2>
    <p>As a language teacher, you’ll teach the linguistic aspects of language and introduce pupils to the cultural contexts that give language its richness and depth.</p>
    <p>There is a huge range of languages you can teach, from Japanese and Mandarin to French and Spanish, and you may find that you teach more than one language.</p>
    <%= render 'content/shared/teaching/benefits' %>
    <%= render 'content/shared/teaching/why_teach' %>
  </section>

  <section class="col col-720">
   <%= render 'content/shared/quotes/quote_languages_jacqui' %>
  </section>

<section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Shape your pupils' futures</h2>
      <p>Learning a new language will give pupils cultural awareness and enhanced communication skills that can lead to exciting careers.</p>
      <p>Popular careers range from interpreters and translators, to tour guides and diplomats. Knowing a second language can also be helpful for a wide range of careers including journalism, public relations and finance.</p>
      <p>Your pupils will learn more from you that you might think. As their teacher, you will guide your pupils though the skills they need to show their understanding of languages. You will teach them valuable life skills such as enhanced listening, cultural awareness and communication.</p>
  </section>

    <section class="col col-720">
      <%= render 'content/shared/quotes/quote_languages_tom' %>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">What you'll teach</h2>
    <p>You'll teach the <a href="https://www.gov.uk/government/publications/national-curriculum-in-england-languages-progammes-of-study/national-curriculum-in-england-languages-progammes-of-study">national curriculum for modern foreign languages</a>.</p>
    <p>At key stage 2, pupils can learn a modern or an ancient language. From key stay 3 onwards, pupils are required to learn a modern language, but learning an ancient language is optional.</p>
    <p>Themes you'll cover when you teach 11 to 14 year olds (key stage 3) include:</p>
    <ul>
      <li>identifying and using present, past, and future tenses</li>
      <li>using a variety of key grammatical structures and patterns</li>
      <li>developing and using a wide-ranging and deepening vocabulary</li>
      <li>using accurate grammar, spelling and punctuation</li>
      <li>having conversations and making use of important social conventions such as formal modes of address</li>
      <li>expressing and developing ideas clearly and with increasing accuracy</li>
      <li>speaking coherently and confidently</li>
      <li>reading literary texts in the language, so pupils can expand their understanding of the language and culture</li>
      <li>writing creatively to express their own ideas and opinions</li>
    </ul>

    <p>Themes you'll cover when you teach 14 to 16 year olds (key stage 4) include:</p>
    <ul>
      <li>understanding and responding to spoken language</li>
      <li>communicating and interacting in speech</li>
      <li>understanding and responding to written language</li>
      <li>communicating in writing</li>
    </ul>
      <p>Explore what teaching modern language lessons would be like at key stage 3:</p>
    <ul>
      <li><a href="https://www.thenational.academy/teachers/programmes/french-secondary-ks3-l/units">French lessons at the Oak National Academy website</a></li>
      <li><a href="https://www.thenational.academy/teachers/programmes/german-secondary-ks3-l/units">German lessons at the Oak National Academy website</a></li>
      <li><a href="https://www.thenational.academy/teachers/programmes/spanish-secondary-ks3-l/units">Spanish lessons at the Oak National Academy website</a></li>
    </ul>
    <p>At A level and AS level (key stage 5), you’ll help pupils develop a deeper knowledge and understanding of:</p>
      <ul>
        <li>the society and culture, past and present, of the country or countries where the language is spoken</li>
        <li>using language spontaneously to initiate communication</li>
        <li>using pronunciation, morphology and syntax, vocabulary and idiom to communicate accurately and coherently</li>
        <li>listening and responding to spoken passages</li>
        <li>reading and responding to a variety of texts</li>
        <li>understanding the main points, gist and detail from spoken and written material </li>
        <li>inferring meaning from complex spoken and written material, including factual and abstract content</li>
        <li>summarising information from spoken and written sources</li>
      </ul>
      <p><%= render 'content/shared/teaching/ages_abilities' %> <a href="/life-as-a-teacher/age-groups-and-specialisms/secondary"> Explore more about teaching secondary</a>.</p>
    </section>
  <section class="col col-space-m col-720">
  <h3>Teaching ancient languages</h3>
  <p>When teaching ancient languages, you'll focus on giving pupils a linguistic foundation for reading comprehension and an appreciation of classical civilisation. Having a foundation in ancient languages may make it easier for pupils to learn modern languages, such as French and Spanish.</p>
  <p>Learning an ancient language, such as ancient Greek, can give pupils access to historical literature and philosophy. Learning Latin could help improve their skills in biology, for example. Knowing ancient languages could open the doors for pupils to work in careers such as archaeology, theology and philosophy.</p>
  <p>Find out <a href="https://www.gov.uk/government/publications/gcse-ancient-foreign-languages">what pupils will learn when studying ancient languages at GCSE</a>.</p>
  </section>

  <section class="col col-space-m col-720">
    <h2 class="heading--box-blue">Start your journey into teaching languages</h2>
    <%= render 'content/shared/qualifications-training/check_qualifications' %>
    <p>Language teacher training courses have had successful applications from candidates with a range of degrees, including translation studies, English language and literature, psychology and education studies.
    <%= render 'content/shared/qualifications-training/find_out_more' %>
    <%= render 'content/shared/qualifications-training/non_uk_qualifications' %>
  </section>

  <section class="col col-space-m col-720">
    <%= render 'content/shared/qualifications-training/subject_knowledge' %>
  </section>

  <section class="col col-space-m col-720">
    <h3>Fund your teacher training</h3>
    <%= render 'content/shared/teaching/bursary_languages' %>
    <%= render 'content/shared/teaching/funding_support' %>
  </section>

  <section class="col col-space-m col-720">
    <%= render 'content/shared/qualifications-training/paid_internships' %>
  </section>

  <section class="col col-720">
    <%= render 'content/shared/teaching/ect_support' %>
  </section>
  <%= render CallsToAction::AdviserComponent.new(
    text: "An adviser with years of teaching experience can help you to become a languages teacher. Chat by phone, text, or email as little or often as you need.",
  ) %>
</div>
