<% if image? %>
  <li class="category__nav-card category__nav-card__with-image">
    <div class="category__nav-card__wrapper">
      <div class="category__nav-card__wrapper__col1">
        <%= link_to(path, class: "link--black") do %>
          <div class="category__nav-card--content">
            <%= content_tag(heading_tag, title) %>
            <%= tag.p(helpers.safe_html_format(description)) %>
          </div>
        <% end %>
      </div>
      <div class="category__nav-card__wrapper__col2">
        <%= image_tag %>
      </div>
    </div>
  </li>
<% else %>
  <li class="category__nav-card">
    <%= link_to(path, class: "link--black") do %>
      <div class="category__nav-card--content">
        <%= content_tag(heading_tag, title) %>
        <%= tag.p(helpers.safe_html_format(description)) %>
      </div>
    <% end %>
  </li>
<% end %>
