<section class="container">
  <article class="story markdown">
    <%= tag.h1(title) %>

    <header class="story__header">
      <% if image.present? %>
        <%= image_pack_tag(image, width: 200, height: 200, alt: helpers.story_image_alt(teacher), class: "story__header__thumb") %>
      <% end %>
      <div class="story__header__label">
        <%= helpers.story_heading(teacher, position) %>
      </div>
    </header>

    <% if show_video? %>
      <%= helpers.youtube(video) %>
    <% end %>

    <%= content %>

    <% if show_more_information? %>
      <%= link_to(more_information_text, more_information_link, class: "link--black link--chevron") %>
    <% end %>
  </article>
  <section class="feature">
    <% if show_more_stories? %>
      <h2 class="heading-l heading--box-purple">More stories</h2>
      <p>
        <div class="cards stories stories--with-padding">
          <%= render Cards::RendererComponent.with_collection(more_stories) %>
        </div>
      </p>
    <% end %>

    <% if show_explore? %>
      <section class="cards-with-headers">
        <h2 class="heading-l">Explore Get Into Teaching</h2>

        <div class="cards">
          <%= render Cards::RendererComponent.with_collection(explore, page_data: page_data) %>
        </div>
      <section>
    <% end %>
  </section>
</section>
