<div class="content-wrapper">
  <div class="content__left">
    <article class="story">
      <%= link_to(backlink_text, backlink, class: "backlink backlink--top") %>

      <%= tag.h1(title) %>

      <header class="story__header">
        <%= image_tag(image, width: 200, height: 200, alt: helpers.story_image_alt(teacher)) %>
        <div class="story__header__label">
          <%= helpers.story_heading(teacher, position) %>
        </div>
      </header>

      <% if show_video? %>
        <%= helpers.youtube(video) %>
      <% end %>

      <%= content %>

      <% if show_more_information? %>
        <%= link_to(more_information_link, class: "git-link") do %>
          <%= more_information_text %> <%= helpers.fas_icon "chevron-right" %>
        <% end %>
      <% end %>
    </article>
  </div>
</div>

<% if show_more_stories? %>
  <h2 class="strapline">More stories</h2>
  <div class="story-cards more-stories">
    <%= render Stories::CardComponent.with_collection(more_stories) %>
  </div>
<% end %>
