<h1>If you need more information</h1>

<p>
  Do you have any questions about teaching or there is any information you need
  from us?  We can call you if you provide a phone number.
</p>

<%= f.govuk_error_summary %>

<%= f.govuk_text_field :telephone %>
<%= f.govuk_text_area :more_info, max_words: 200 %>

<%= f.govuk_check_boxes_fieldset :accept_privacy_policy do %>
  <%= f.hidden_field :accept_privacy_policy, value: 0 %>
  <%= f.govuk_check_box :accept_privacy_policy, 1,
        multiple: false, link_errors: true,
        label: { text: "Yes" } %>
<% end %>
