<h1>If you need more information</h1>

<p>
  Do you have any questions about teaching or is there any information you need
  from us?  We can call you if you provide a phone number.
</p>

<%= f.govuk_error_summary %>

<%= f.govuk_text_field :telephone %>

<%
  legend_text = t("helpers.legend.mailing_list_steps_contact.accept_privacy_policy.text", 
    link: link_to(t("helpers.legend.mailing_list_steps_contact.accept_privacy_policy.link"), 
    privacy_policy_path(id: f.object.latest_privacy_policy.id), { target: :blank }))
%>

<%= f.govuk_check_boxes_fieldset :accept_privacy_policy, legend: { text: safe_html_format(legend_text) } do %>
  <%= f.hidden_field :accept_privacy_policy, value: 0 %>
  <%= f.govuk_check_box :accept_privacy_policy, 1,
        multiple: false, link_errors: true,
        label: { text: "Yes" } %>
<% end %>

  <%= f.hidden_field :accepted_policy_id, value: f.object.latest_privacy_policy.id %>
