<section class="mailing-reg-main">
    <div class="mailing-reg-main__content container-1000">
        <div class="event-reg-main__content__left">
            <p>
              <%= back_link step_path(wizard.previous_key) if wizard.previous_key %>
            </p>

            <%= govuk_form_for current_step, url: step_path do |f| %>
              <%= render current_step.key, current_step: current_step, f: f %>

              <%= f.button class: "call-to-action-button" do %>
                <%= wizard.last_step? ? "Complete sign up" : "Next Step" %>
                <%= fas "chevron-right" %>
              <% end %>
            <% end %>
        </div>

        <div class="mailing-reg-main__content__right">

        </div>
    </div>
</section>

