<h1>Get personalised advice about getting into teaching</h1>

<p>
  Tell us about yourself to get personalised advice straight to your inbox.
</p>

<%= f.govuk_error_summary %>

<%= f.govuk_text_field :first_name %>
<%= f.govuk_text_field :last_name %>
<%= f.govuk_email_field :email %>
<%= f.hidden_field :channel_id, value: params[:channel] %>
