<div class="signup-form-header">
  <div class="signup-form-header-right-side">
    <%= image_pack_tag 'content/hero-images/0027.jpg', class: 'hide-on-desktop' %>
  </div>

  <div class="signup-form-header-left-side">
    <h1>Get personalised guidance to your inbox</h1>

    <p>
      Get one step closer to the classroom with guidance tailored to you, including how to get:
    </p>
  </div>
</div>

<ul>
  <li> a taste of teaching</li>
  <li> funding to train</li>
  <li> one-to-one support</li>
  <li> advice from trainees or newly qualified teachers</li>
</ul>

<%= f.govuk_error_summary %>

<%= f.govuk_text_field :first_name, class: 'govuk-!-width-two-thirds' %>
<%= f.govuk_text_field :last_name, class: 'govuk-!-width-two-thirds' %>
<%= f.govuk_email_field :email, class: 'govuk-!-width-two-thirds' %>
<%= f.hidden_field :channel_id, value: params[:channel] %>
