<h1>Get personalised guidance to your inbox</h1>

<p>
  Get one step closer to the classroom with guidance tailored to you, including how to get:
</p>

<ul>
  <li> a taste of teaching</li>
  <li> funding to train</li>
  <li> one-to-one support</li>
  <li> advice from trainees or newly qualified teachers</li>
</ul>

<%= f.govuk_error_summary %>

<%= f.govuk_text_field :first_name, width: 'two-thirds', autocomplete: "given-name" %>
<%= f.govuk_text_field :last_name, width: 'two-thirds', autocomplete: "family-name" %>
<%= f.govuk_email_field :email, width: 'two-thirds', autocomplete: "email" %>
<%= f.hidden_field :channel_id, value: params[:channel] %>
