<h1>Free personalised teacher training guidance</h1>

<p>
Discover everything you need to know to start a teaching career in England, sent straight to your inbox. Personalised to you, we'll send you the latest information as well as advice and support.
</p>

<%= f.govuk_text_field :first_name, width: 'two-thirds', autocomplete: "given-name" %>
<%= f.govuk_text_field :last_name, width: 'two-thirds', autocomplete: "family-name" %>
<%= f.govuk_email_field :email, width: 'two-thirds', autocomplete: "email" %>
<%= f.hidden_field :channel_id, value: params[:channel] || f.object.channel_id %>
<%= f.hidden_field :sub_channel_id, value: params[:sub_channel] || f.object.sub_channel_id %>
<%= f.hidden_field :accepted_policy_id, value: f.object.latest_privacy_policy.id %>

<p>Your details are protected under the terms of our <%= link_to("privacy notice (opens in new tab)", privacy_policy_path(id: f.object.latest_privacy_policy.id), { target: :blank }) %>. Our privacy notice explains how we use your personal data. It's important you read this before signing up to receive emails.</p>
