<h1>Get personalised guidance to your inbox</h1>

<p>
  Get one step closer to the classroom with guidance tailored to you. Find out how to:
</p>

<ul>
  <li> become a teacher
  <li> get one-to-one support
</ul>

<p>
  And hear from others like you who did it.
</p>

<%= f.govuk_error_summary %>

<%= f.govuk_text_field :first_name %>
<%= f.govuk_text_field :last_name %>
<%= f.govuk_email_field :email %>
<%= f.hidden_field :channel_id, value: params[:channel] %>
