<h1>Get personalised information and advice about getting into teaching</h1>

<p>
  We know you’ll only want to receive updates that help you 
  take your next steps into teaching. We'll use the information 
  you provided to make sure emails we send are relevant to you.
</p>

<%= f.govuk_error_summary %>

<%= f.govuk_text_field :first_name %>
<%= f.govuk_text_field :last_name %>
<%= f.govuk_email_field :email %>
<%= f.hidden_field :channel_id, value: params[:channel] %>
