<h1>Would you like to hear about teacher training events in your area?</h1>

<%= f.govuk_error_summary %>

<p>
  We'll let you know via email about upcoming teacher training events near you
</p>

<%= f.govuk_radio_buttons_fieldset(:send_event_emails, legend: nil) do %>
  <%= f.govuk_radio_button :send_event_emails, "true", link_errors: true do %>
    <%= f.govuk_text_field :address_postcode, autocomplete: "postal-code", label: { text: t('helpers.label.mailing_list_steps_postcode.address_postcode') }, width: 10 %>
  <% end %>
  <%= f.govuk_radio_button :send_event_emails, "false" %>
<% end %>
