<% @hide_page_helpful_question = true %>
<div data-sub-channel-id="<%= session.dig("mailinglist", "sub_channel_id") %>"></div>

<%= render Content::LandingHeroComponent.new(
  title: "#{@first_name}, you're signed up!",
  colour: "pastel yellow-yellow",
  image: "static/images/content/hero-images/physics4.jpg"
) %>

<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <section class="registration__mailing-list">
      <div class="registration__mailing-list--container">
        <p>
          Your first email will arrive shortly. If you change your mind, you can unsubscribe at any time.
        </p>

        <p>
          Before you go, check out other support we offer. Based on what you've told us, you might find it useful.
        </p>

        <% if ml_uk_citizen? %>
          <!-- UK citizen -->

          <% if ml_career_changer? %>
            <!-- changing career -->

            <% if ml_has_degree? %>
              <!-- they have graduated with a degree -->

              <% if ml_high_commitment? %>
                <!-- think they will apply -->
                <%= render "mailing_list/steps/completed/shared/one_to_one_support_from_an_adviser" %>
              <% else %>
                <!-- its just an idea -->
                <%= render "mailing_list/steps/completed/shared/changing_careers_to_teaching" %>
              <% end %>

            <% elsif ml_no_degree? %>
              <!-- they do not have a degree and are not studying for one -->
              <%= render "content/home/routes-promo" %>

              <b> TODO: REVIEW THIS CONTENT </b>
              <p>
                Learn about how to <a href="/train-to-be-a-teacher/if-you-dont-have-a-degree">train to be a teacher if you don't have a degree</a>.
              </p>

              <p>
                Consider <a href="/life-as-a-teacher/age-groups-and-specialisms/further-education-teachers">teaching in further education</a> without a degree.
              </p>


            <% elsif ml_degree_in_progress? %>
              <!-- degree in progress -->
              <b> TODO: REVIEW THIS CONTENT </b>
              <p>
                Learn about <a href="/steps-to-become-a-teacher">how to become a teacher</a>
                including the qualifications you need and your funding options.
              </p>

            <% end %>

          <% elsif graduating_final_year? || (ml_has_degree? &&  ml_graduated_and_exploring_career_options?) %>
            <!-- in their final year or graduated and exploring career options -->

            <% if ml_high_commitment? %>
              <!-- think they will apply -->
              <%= render "mailing_list/steps/completed/shared/one_to_one_support_from_an_adviser" %>
            <% else %>
              <!-- its just an idea -->
              <%= render "content/home/routes-promo" %>
            <% end %>
          <% else %>
            <%= render "content/home/routes-promo" %>
          <% end %>

        <% elsif ml_non_uk_citizen? %>
          <!-- non-UK citizen -->
          <%= render "mailing_list/steps/completed/shared/teaching_in_england_as_a_non_uk_citizen" %>
        <% end %>

        <h2 class="heading-m">Explore more</h2>

        <% if ml_uk_citizen? %>

          <% if graduating_final_year? || (ml_has_degree? &&  ml_graduated_and_exploring_career_options?) %>
            <% if ml_high_commitment? %>
              <p>
                <%= link_to "Search for postgraduate teacher training courses", "https://find-teacher-training-courses.service.gov.uk/" %>
                in England to study for qualified teacher status (QTS).
              </p>
            <% else %>
              <p>
                <%= link_to "Get free one-to-one support", "/teacher-training-adviser/sign_up/" %>
                from our advisers. They have years of teaching experience and can help with everything from deciding if teaching is right for you to how to apply. Chat by phone, text or email, as little or as often as you need.
              </p>
            <% end %>
          <% elsif graduating_not_final_year? %>
            <p>
              <%= link_to "Get school experience", "https://schoolexperience.education.gov.uk/" %>
              and find out what it's like to be in a classroom.
            </p>
          <% end %>
        <% end %>

        <% if ml_explore_subject? %>
          <p>Find out about <%= ml_explore_subject %>.</p>
        <% else %>
          <p>
            Find out about <%= link_to "life as a teacher", "/life-as-a-teacher" %>,
            where teaching can lead and how you could inspire future generations.
          </p>
        <% end %>
      </div>
    </section>
  </section>
</div>

<%= tag.div id: "mailing-list-degree-status", class: "hidden", data: { id: @degree_status.id, key: @inferred_degree_status || @degree_status.value } if @degree_status %>
<%= tag.div id: "mailing-list-citizenship", class: "hidden", data: { id: @citizenship.id, value: @citizenship.value } if @citizenship %>
<%= tag.div id: "mailing-list-situation", class: "hidden", data: { id: @situation.id, value: @situation.value } if @situation %>
<%= tag.div id: "mailing-list-visa-status", class: "hidden", data: { id: @visa_status.id, value: @visa_status.value } if @visa_status %>
<%= tag.div id: "mailing-list-location", class: "hidden", data: { id: @location.id, value: @location.value } if @location %>
<%= tag.div id: "hashed-email", class: "hidden", data: { id: "hashed-email", value: @hashed_email } if @hashed_email %>
