<footer>
  <%= render "sections/talk-to-us" %>
  <div class="footer-top">
    <div class="footer-top__social">
      <a href="https://www.facebook.com/getintoteaching" class="footer-top__social__link" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-facebook-f"></i>
        <span class="visually-hidden">Facebook - opens in a new tab</span>
      </a>
      <a href="https://www.instagram.com/get_into_teaching/" class="footer-top__social__link" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-instagram"></i>
        <span class="visually-hidden">Instagram - opens in a new tab</span>
      </a>
      <a href="https://www.linkedin.com/company/9258520?trk=tyah&trkInfo=idx%3A1-1-1%2CtarId%3A1424345327269%2Ctas%3Aget+into+teaching" class="footer-top__social__link" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-linkedin-in"></i>
        <span class="visually-hidden">LinkedIn - opens in a new tab</span>
      </a>
      <a href="https://twitter.com/getintoteaching" class="footer-top__social__link" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-twitter"></i>
        <span class="visually-hidden">Twitter - opens in a new tab</span>
      </a>
      <a href="http://www.youtube.com/user/getintoteaching" class="footer-top__social__link" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-youtube"></i>
        <span class="visually-hidden">Youtube - opens in a new tab</span>
      </a>
    </div>     
    <div class="footer-top__links-container">
      <a href="/">Home</a>
      <% navigation_resources(@sitemap).each_with_index do |resource, index| %>
        <a href="<%= resource[:path] %>"><%= resource[:front_matter]["title"] %></a>
      <% end %>
      <%= link_to "Find an event near you", events_path %>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom__logo-container">
      <img src="<%= asset_pack_path 'media/images/dfelogo.png' %>" alt="Department for Education">
    </div>
    <div class="footer-bottom__links-container">
      <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSfIBfaYUk07Fb6dxUKAokiPoGGL73ZYVGHM1mSNyA-K-6QRbA/viewform">Feedback</a>
      <a href="/">Cookies</a>
      <a href="/privacy-policy">Privacy notice</a>
      <a href="/accessibility">Accessibility</a>
      <a target="_blank" rel="noopener noreferrer" href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f1453496-7d8a-463f-9f33-1da2ac47ed76/AF-Stage-1e64d4cc-25fb-499a-a8d7-74e98203ac00/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen">Freedom of information</a>
      <div class="footer-bottom__links-container__license">All content is available under the <a href="/">Open Government License v.3.0,</a> except where otherwise stated</div>
    </div>
  </div>
</footer>
