<head>
  <meta charset="utf-8">
  <title><%= prefix_title page_title(@page_title, @front_matter) %></title>
  <%= csrf_meta_tags unless @cacheable_static_page %>
  <%= csp_meta_tag %>
  <%#= canonical_tag %>
  <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' %>
  <%= tag :link, rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' %>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload', media: 'all' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  <%= yield :head %>
</head>
