<nav role="navigation" aria-label="main">
    <section class="covid" data-controller="covid" data-target="covid.banner">
        <span class="covid__header">Coronavirus (COVID-19)</span>
        <p>Whether you're currently training to be a teacher, ready to apply for teacher training or exploring teaching as a potential career, you may have questions about the impact of COVID-19.
        <a href="/covid-19">Please check here for updates</a></p>
        <p><a href="#" data-target="covid.hide" data-action="click->covid#hideCovidBanner">Hide this message</p>
    </section>

    <div class="navbar">
        <div class="logo"> 
            <%= render "components/logo" %>
        </div>
        <div class="navbar__desktop">
            <ul>
                <li><a href="/">Home</a></li>
                <% navigation_resources(@sitemap).each do |resource| %>
                    <li><a href="<%= resource[:path] %>"><%= resource[:front_matter]["title"] %></a></li>
                <% end %>
                <li><%= link_to "Find an event near you", events_path %></li>
            </ul>
        </div>
        
        <div class="navbar__mobile" data-controller="navigation">
            <div class="navbar__mobile__buttons">
                <a data-action="click->navigation#navToggle" href="javascript:void(0);" class="icon">
                    <div data-target="navigation.hamburger" id='hamburger' class="icon-close"></div>
                    <div data-target="navigation.label" id="navbar-label" class="icon-hamburger-label">Close</div>
                </a>
            </div>
            <div data-target="navigation.links" id="navbar-mobile-links" class="navbar__mobile__links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <% navigation_resources(@sitemap).each do |resource| %>
                        <li><a href="<%= resource[:path] %>"><%= resource[:front_matter]["title"] %></a></li>
                    <% end %>
                    <li><%= link_to "Find an event near you", events_path %></li>
                </ul>
            </div>
        </div>

    </div>
</nav>

<script>

    //polyfill for ie8
    if (!Element.prototype.matches) {
        Element.prototype.matches = Element.prototype.msMatchesSelector || 
        Element.prototype.webkitMatchesSelector;
    }

    if (!Element.prototype.closest) {
        Element.prototype.closest = function(s) {
        var el = this;

        do {
            if (Element.prototype.matches.call(el, s)) return el;
            el = el.parentElement || el.parentNode;
        } while (el !== null && el.nodeType === 1);
        return null;
    };
    
}

</script>
