<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title><%= prefix_title page_title(@page_title, @front_matter) %></title>
  <%= csp_meta_tag %>
  <%#= canonical_tag %>
  <%= tag.meta(name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no') %>
  <%= tag.meta(name: "google-site-verification", content: "uoqqF4yGEjHx9klftx3ch2fCBpmgI6hHYBS69w17_-g") %>
  <%= tag.link(rel: 'icon', type: 'image/x-icon', href: '/favicon.ico') %>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload', media: 'all' %>
  <noscript><%= stylesheet_pack_tag 'application_no_js', 'data-turbolinks-track': 'reload', media: 'all' %></noscript>
  <% if Rails.env.test? && params.key?(:fake_browser_time) %>
    <%= javascript_pack_tag 'fake_browser_time', 'data-turbolinks-track': 'reload', id: "fake-browser-time" %>
  <% end %>
  <%= google_optimize_script %>
  <%= javascript_pack_tag 'gtm', 'data-turbolinks-track': 'reload', data: { "gtm-id": ENV["GTM_ID"] }, async: true if new_gtm_enabled? %>
  <%= javascript_pack_tag 'js_enabled', 'data-turbolinks-track': 'reload', async: true %>
  <%= javascript_pack_tag 'lazy_images', 'data-turbolinks-track': 'reload', async: true %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', async: true %>
  <%= yield :head %>
  <%= breadcrumbs_structured_data(breadcrumb_trail) %>
  <%= logo_structured_data %>
  <%= search_structured_data if current_page?(root_path) %>
  <%= how_to_structured_data(@page) if @page.present? && @front_matter.key?("how_to") %>

  <% if @front_matter&.dig("noindex") %>
    <%= meta_tag(key: "robots", value: "noindex") %>
  <% end %>

  <% if @front_matter && @front_matter['description'] %>
    <%= meta_tag(key: 'description', value: @front_matter['description']) %>
    <%= meta_tag(key: 'description', value: @front_matter['description'], opengraph: true) %>
  <% end %>

  <%= meta_tag(key: 'type', value: 'website', opengraph: true) %>
  <%= meta_tag(key: 'title', value: page_title(@page_title, @front_matter), opengraph: true) %>
  <%= meta_tag(key: 'site_name', value: "Get Into Teaching", opengraph: true) %>
  <%= meta_tag(key: 'locale', value: "en_GB", opengraph: true) %>
  <%= meta_tag(key: "facebook-domain-verification", value: "h1r6sd9bvqql7fyzy5jmdoniuw1rtf") %>
  <%= image_meta_tags(
    base_url: request.base_url,
    image_path: @front_matter&.dig("image"),
    alt: "Photograph of teaching taking place in a classroom"
  ) %>
</head>
