<div id="top-links" class="limit-content-width">

  <nav>
    <ol>
      <li><a href="#">Register your interest<%= fas_icon("envelope") %><a></li>
      <li><a href="#">Search<%= fas_icon("search") %><a></li>
    </ol>
  </nav>

</div>

<div id="main-navigation" class="limit-content-width" data-controller="nav">

  <div class="main-logo">
    Get Into Teaching
  </div>

  <nav>
    <ol class="primary">

      <% if request.path == root_path %>
        <li class="active">Home</li>
      <% else %>
        <li><%= link_to("Home", root_path) %></li>
      <% end %>

      <% if request.path == page_path("steps-to-become-a-teacher") %>
        <li class="active">Steps to become a teacher</li>
      <% else %>
        <li><%= link_to("Steps to become a teacher", page_path("steps-to-become-a-teacher")) %></li>
      <% end %>


      <li class="<%= request.path.start_with?("/ways-to-train") ? 'active' : nil %> down" data-nav-target="toggle">
        <%= tag.span("Becoming a teacher", class: "multi", data: { action: "click->nav#toggleWays" }) %>

        <ol class="secondary hidden" data-nav-target="secondary">
          <li><a href="/ways-to-train/one">Decide who to teach<a></li>
          <li><a href="/ways-to-train/two">Check your qualifications<a></li>
          <li><a href="/ways-to-train/three">Learn about funding<a></li>
          <li><a href="/ways-to-train/four">Find the right training<a></li>
          <li><a href="/ways-to-train/five">Next Steps<a></li>
	      <li><a href="/ways-to-train/five">Find a course<a></li>
		  <li><a href="/ways-to-train/five">Tips for applying<a></li>
        </ol>
      </li>

      <% if request.path == page_path("funding-your-training") %>
        <li class="active">Funding your training</li>
      <% else %>
        <li><%= link_to("Funding your training", page_path("funding-your-training")) %></li>
      <% end %>

      <% if request.path == page_path("salaries-and-benifits") %>
        <li class="active">Salaries and benefits</li>
      <% else %>
        <li><%= link_to("Salaries and benefits", page_path("salaries-and-benifits")) %></li>
      <% end %>
    </ol>
  </nav>
</div>
