<% plural_category_name = pluralised_category_name(type_id) %>

<div class="events-featured">
  <h3><%= plural_category_name %></h3>

  <div class="events-featured__text">
    <p><%= safe_html_format(t("find_an_event.types.#{type_id}")) %></p>
  </div>

  <% if events.any? %>
    <div class="events-featured__list">
      <%= render partial: "event", collection: events %>
    </div>
  <% else %>
    <div class="search-for-events-no-results search-for-events-no-results--by-type">
      Sorry your search has not found any events of this type, try a different location or month.
    </div>
  <% end %>

  <% show_see_all_events ||= false %>

  <% if show_see_all_events %>
    <%= link_to(event_category_events_path(plural_category_name.parameterize), class: "call-to-action-button") do %>
      See all <span><%= plural_category_name %></span>
    <% end %>
  <% end %>
</div>
