<% type_id, events = event_category %>
<% category_name = name_of_event_type(type_id) %>

<section class="types-of-event content container-1000">
  <div class="content__left">
      <h2>
        <% if type_id == GetIntoTeachingApiClient::Constants::EVENT_TYPES["Train to Teach Event"] %>
          <div class="types-of-event__header__icon icon-train-to-teach-event"></div>
          Organised by Get into Teaching
        <% else %>
          Organised by <%= category_name %>
        <% end %>
      </h2>
  </div>
  <div class="events-featured">
      <h3><%= name_of_event_type(type_id) %></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non augue a mauris efficitur ullamcorper id sed nisi. Fusce maximus, magna vel volutpat sollicitudin, nisl lectus maximus nibh, ut aliquam nunc ipsum eu ante.</p>
      <div class="events-featured__items">
      <%= render partial: "events/event", collection: events %>
      </div>
      <%= link_to(event_category_events_path(category_name.parameterize)) do %>
          <div class="call-to-action-button">See all <%= category_name %> <i class="fas fa-chevron-right"></i></div>
      <% end %>
  </div>
</section>