<div class="events-featured">
  <h3><%= pluralised_category_name(type_id) %></h3>

  <div class="events-featured__text">
    <p><%= safe_html_format(t("find_an_event.types.#{type_id}")) %></p>
  </div>

  <div class="events-featured__list">
    <%= render partial: "event", collection: events %>
  </div>

  <%= link_to(event_category_events_path(pluralised_category_name(type_id).parameterize)) do %>
    <div class="call-to-action-button">See all <%= pluralised_category_name(type_id) %> <i class="fas fa-chevron-right"></i></div>
  <% end %>
</div>
