<% plural_category_name = pluralised_category_name(type_id) %>
<% with_logo = type_id != GetIntoTeachingApiClient::Constants::EVENT_TYPES["School or University event"] %>

<div class="types-of-event">
  <div class="events-featured <%= "events-featured--with-logo" if with_logo %>">
    <div class="events-featured__heading">
      <header>
        <h3><%= plural_category_name %></h3>
        <div role="doc-subtitle"><%= t("event_types.#{type_id}.description.short") %></div>
      </header>
      
      <% if with_logo %>
      <div class="events-featured__logo">
        <%= image_pack_tag "media/images/getintoteachinglogo-with-bg-purple.svg", alt: "", size: "250x125" %>
      </div>
      <% end %>
    </div>

    <% if events.any? %>
      <div class="events-featured__list">
        <%= render partial: "event", collection: events %>
      </div>
    <% else %>
      <%= render(Events::NoResultsComponent.new) do %>
        Sorry your search has not found any events of this type, try a different location or month.
      <% end %>
    <% end %>

    <% if page_param_name.present? %>
      <div class="event-pagination">
        <%= paginate events, param_name: page_param_name %>
      </div>
    <% end %>

    <% show_see_all_events ||= false %>

    <% if show_see_all_events %>
      <%= link_to(event_category_path(plural_category_name.parameterize), class: "call-to-action-button button") do %>
        Explore <%= plural_category_name %>
      <% end %>
    <% end %>
  </div>
</div>
