<% category_name, events_by_type = event_category %>

<section class="types-of-event content container-1000">
  <div class="content__left">
      <h2>
        <% if category_name == "Get into Teaching" %>
        <div class="types-of-event__header__icon icon-train-to-teach-event"></div>
        <% end %>
        Organised by <%= category_name %>
      </h2>
  </div>
  <% events_by_type.each do |type_name, events| %>
    <div class="events-featured">
        <h3><%= type_name.pluralize %></h3>
        <div class="events-featured__text">
          <p><%= t("find_an_event.types.#{type_name.parameterize(separator: "_")}") %></p>
        </div>
        <div class="events-featured__items">
        <%= render partial: "events/event", collection: events %>
        </div>
        <%= link_to(event_category_events_path(type_name.parameterize)) do %>
            <div class="call-to-action-button">See all <%= type_name.pluralize %> <i class="fas fa-chevron-right"></i></div>
        <% end %>
    </div>
  <% end %>
</section>