<% content_for :search_component do %>
  <%= render Events::SearchComponent.new(
    @event_search,
    search_events_path(anchor: "searchforevents"),
    @performed_search
  ) %>
<% end %>

<% @before_search_fullwidth = true %>

<% content_for :before_search do %>
<h2>Types of events</h2>
<section class="event-type-descriptions">
  <section class="event-type-descriptions__content">
    <% GetIntoTeachingApiClient::Constants::EVENT_TYPES.values.each do |type_id| %>
      <%= render Events::TypeDescriptionComponent.new(type_id) %>
    <% end %>
  </section>
</section>
<% end %>

<% unless @performed_search || @no_results %>
  <div class="content-alert content-alert--left">
    <div class="content-alert__icon">
      <%= image_pack_tag "media/images/icon-moved-online-purple.svg", alt: "", size: "40x26" %>
    </div>
    <div>
      <h4>Some events have moved online</h4>
      <p>Until it is safe to see you in person, the Train to Teach and most of School and University events are online.</p>
    </div>
  </div>
<% end %>

<% unless @no_results %>
  <% unless @performed_search %>
    <h2>Discover events</h2>
  <% end %>
  <% @events_by_type.each do |type_id, events| %>
    <%= render "event_group",
      type_id: type_id,
      events: events,
      page_param_name: @performed_search ? @group_presenter.page_param_name(type_id) : nil,
      show_see_all_events: true
    %>
  <% end %>
<% else %>
  <%= render(Events::NoResultsComponent.new) do %>
    Sorry your search has not found any events, try a different type, location or month.
  <% end %>
<% end %>

<section class="content-cta">
  <h3>Do you have a teaching event?</h3>
  <p>
    If you'd like to advertise your teaching event in this listing, <a href="https://form.education.gov.uk/service/Provider-event-details---Get-into-Teaching-website"
      title="Submit your event details on GOV.UK"
      target="_blank"
      rel="noopener norefferer">
    please fill in our online form</a>.
  </p>
</section>

<span data-controller="lid" data-lid-action="track" data-lid-event="Events"></span>
