<div class="events">
  <div class="events__filter">
    <h2>Filters</h2>

    <%= govuk_form_for(@event_search, method: :get, url: "/events") do |f| %>

      <div class="events__filter--group">
        <%= f.govuk_text_field(:postcode, label: { text: "Location" }, form_group: { classes: 'reduce-bottom-margin' }) %>
        <a href="#">Use my current location</a>
      </div>

      <div class="events__filter--group">
        <%= f.govuk_check_boxes_fieldset(:setting, legend: nil) do %>
          <%= f.govuk_check_box :setting, "online", label: { text: "Online" } %>
          <%= f.govuk_check_box :setting, "in_person", label: { text: "In person" } %>
        <% end %>
      </div>

      <div class="events__filter--group">
        <%= f.govuk_check_boxes_fieldset(:type, legend: { text: "Event type", tag: nil }) do %>
          <%= f.govuk_check_box :type, "train_to_teach", label: { text: "Train to teach" } %>
          <%= f.govuk_check_box :type, "online_forum", label: { text: "Online forum" } %>
          <%= f.govuk_check_box :type, "school_and_university", label: { text: "School and university" } %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="events__lists">
    <div class="promoted">
      <h2>Upcoming train to teach events</h2>

      <ol class="events__sublist">
        <li class="event train-to-teach">
          <div class="event__info">
            <div class="event__info--date">
              Friday 18 October 2022
            </div>

            <div class="event__info--time">
              17:00 - 19:00 (2 hours)
            </div>

            <div class="event__info--name">
              Train to teach question time London
            </div>

            <div class="event__info--location">
              Hackney, London, E2 9BN
            </div>

            <div class="event__info--setting">
              In person
            </div>
          </div>

          <div class="event__meta">
            <%= image_pack_tag "media/images/content/welcome-guide/jack-rowing-crop-face.jpg" %>
          </div>
        </li>

        <li class="event train-to-teach">
          <div class="event__info">
            <div class="event__info--date">
              Friday 19 October 2022
            </div>

            <div class="event__info--time">
              16:00 - 17:00 (1 hour)
            </div>

            <div class="event__info--name">
              Train to teach question time Manchester
            </div>

            <div class="event__info--location">
              Piccadilly Hotel, Manchester, M1 2EJ
            </div>

            <div class="event__info--setting">
              In person
            </div>
          </div>

          <div class="event__meta">
            <%= image_pack_tag "media/images/content/welcome-guide/jack-rowing-crop-face.jpg" %>
          </div>
        </li>
      </ol>
    </div>

    <ol class="events__sublist">
      <li class="event">
        Three
      </li>
      <li class="event">
        Four
      </li>
    </ol>
  </div>
</div>
