<% category_name = t("event_types.#{@type.id}.name.plural") %>

<% @page_title = category_name %>

<%= render "sections/hero",  
  header: category_name,
  image: "media/images/events-hero-dt.jpg",
  deep: false,
  mailinglist: false 
%>

<section class="types-of-event">
  <div class="content container-1000">
    <%= back_link(internal_referer || events_path, text: "All events") %>

    <div class="events-featured__text">
      <p><%= safe_html_format(t("find_an_event.types.#{@type.id}")) %></p>
    </div>
  </div>
</section>

<section class="search-for-events">
  <div class="container-1000">
    <%= render Events::SearchComponent.new(
      @event_search,
      event_category_events_path(pluralised_category_name(@type.id).parameterize),
      include_type: false,
      heading: "Search for #{category_name}",
      allow_blank_month: true,
    ) %>
  </div>
</section>

<section class="types-of-event content container-1000">
  <div class="events-featured__list">
    <%= render partial: "event", collection: @events %>
  </div>
</section>
