<div class="event-info">
  <h1><%= @event.name %></h1>

  <p class="event-info__date"><%= format_event_date(@event, stacked: false) %></p>

  <% unless event_status_open?(@event) || event_status_pending?(@event) %>
    <div class="content-alert content-alert--fullwidth">
      <p>This event is now closed. Search <%= link_to("here", events_path) %> for our other events.</p>
    </div>
  <% end %>

  <% if @event.message %>
    <div class="content-alert content-alert--fullwidth">
      <p><%= @event.message %></p>
    </div>
  <% end %>

  <p>
    <% if can_sign_up_online?(@event) %>
      <%= link_to event_steps_path(@event.readable_id), class: "call-to-action-button button" do %>
          Sign up for this event
      <% end %>
    <% end %>
  </p>

  <h2>Event information</h2>
  <div class="event-info__information">
    <p><%= formatted_event_description(@event.description) %></p>
  </div>

  <% if @event.building && !@event.is_online %>
  <h2>Venue information</h2>
  <p><%= @event.building.venue %>, <%= event_address(@event) %>.</p>
  <p><%= link_to("Open in Google Maps", "https://maps.google.com/?q=#{event_address(@event)}", target: "blank") %></p>
  <% if @event.provider_website_url %>
    <p><%= link_to("Visit venue website", @event.provider_website_url, { target: "blank" }) %><i class="icon"></i></p>
  <%end %>
  <p><%= event_location_map(@event) %></p>
  <% if @event.building.image_url %>
    <%= image_tag(@event.building.image_url, alt: "A photograph of the venue", class: "event-info__venue_img") %>
  <% end %>
  <% end %>

  <% if event_has_provider_info?(@event) %>
    <h2>Provider information</h2>
    <% if @event.provider_website_url %>
      <p><strong>Event website</strong><br /><%= link_to(@event.provider_website_url, @event.provider_website_url, { target: "blank" }) %><i class="icon"></i></p>
    <% end %>
    <% if @event.provider_target_audience %>
      <p><strong>Target audience</strong><br /><%= @event.provider_target_audience %></p>
    <% end %>
    <% if @event.provider_organiser %>
      <p><strong>Organiser</strong><br /><%= @event.provider_organiser %></p>
    <% end %>
    <% if @event.provider_contact_email %>
      <p><strong>Contact email</strong><br /><%= mail_to(@event.provider_contact_email) %></p>
    <% end %>
  <% end %>

  <% if @event.video_url %>
  <h2>Video</h2>
  <div class="responsive-video">
    <iframe title="An event preview" class="responsive-video__iframe" class="lazyload" data-src="<%= embed_event_video_url(@event.video_url) %>"></iframe>
  </div>
  <br />
  <% end %>

  <% if event_status_open?(@event) || event_status_pending?(@event) %>
    <% if can_sign_up_online?(@event) %>
      <h2>How to attend</h2>
      <p>
        To attend this event, you must register for a place. Once registered, you will receive log-in information and joining instructions via email.
        Please note: to access this event you will require a laptop/desktop pc and be using chrome as your browser.
      </p>
      <p>
        <%= link_to event_steps_path(@event.readable_id), class: "call-to-action-button button" do %>
            Sign up for this event
        <% end %>
      </p>
    <% elsif is_event_type?(@event, "School or University event") %>
      <h2>How to attend</h2>
      <p>To register for this event, follow the instructions in the event information section.</p>
    <% elsif @event.provider_website_url %>
      <h2>How to attend</h2>
      <p>To attend this event, please <%= link_to("visit this website", @event.provider_website_url, { target: "blank" }) %><i class="icon icon-external"></i>.<p>
    <% elsif @event.provider_contact_email %>
      <h2>How to attend</h2>
      <p>To attend this event, please <%= mail_to(@event.provider_contact_email, "email us") %>.<p>
    <% end %>
    <% if @event.scribble_id %>
      <h2>Attend online</h2>
    <% end %>
  <% end %>

  <% if @event.providers_list %>
    <%= render Content::AccordionComponent.new do |accordion| %>
      <%= accordion.step(title: "Training providers at this event") do %>
        <%= safe_html_format(@event.providers_list) %>
      <% end %>
    <% end %>
  <% end %>

  <% content_for :feature do %>
    <% if @event.scribble_id %>
    <p>
      <div data-controller="scribble" data-scribble-id="<%= @event.scribble_id %>"></div>
    </p>
    <% end %>
  <% end %>
</div>
