<% category_name = t("event_types.#{@type.id}.name.plural") %>

<% @page_title = category_name %>

<%= render "sections/hero",  
  header: "Train to teach events", 
  image: "media/images/events-hero-dt.jpg",
  deep: false,
  mailinglist: false 
%>

<section class="types-of-event content container-1000">

    <div class="content__left">
        <%= back_link(internal_referer || events_path, text: "All events") %>
        <h3><%= category_name %></h3>
        <br />
        <%= safe_html_format(t("event_types.#{@type.id}.description")) %>
    </div>

</section>

<section class="search-for-events-results content container-1000">
  <%= render partial: "event", collection: @events %>
</section>

