<%= render "sections/hero",  
  header: "Train to teach events", 
  image: "media/images/events-hero-dt.jpg",
  deep: false,
  mailinglist: false 
%>

<% category_name = name_of_event_type(@type.id) %>

<section class="types-of-event content container-1000">

    <div class="content__left">
        <%= link_to "All events", events_path, class: "backlink" %>
        <h3><%= category_name.pluralize %></h3>
        <br />
        <%= t("event_categories.#{category_name.parameterize(separator: "_")}").html_safe %>
    </div>

</section>

<section class="search-for-events-results content container-1000">
  <%= render partial: "event", collection: @events %>
</section>

