<% category_name = t("event_types.#{@type.id}.name.plural") %>

<% @page_title = category_name %>

<%= render Sections::HeroComponent.new(
    title: category_name,
    image: "media/images/events-hero-dt.jpg")
%>

<section class="types-of-event">
  <div class="content container-1000">
    <%= back_link(events_path, text: "Back") %>

    <div class="events-featured__text">
      <p><%= safe_html_format(t("find_an_event.types.#{@type.id}")) %></p>
    </div>
  </div>
</section>

<section class="search-for-events">
  <div class="container-1000">
    <%= render Events::SearchComponent.new(
      @event_search,
      event_category_events_path(pluralised_category_name(@type.id).parameterize),
      include_type: false,
      heading: "Search for #{category_name}",
      allow_blank_month: true,
    ) %>
  </div>
</section>

<% if @events.any? %>
<section class="types-of-event content container-1000">
  <div class="events-featured">
    <div class="events-featured__list">
      <%= render partial: "event", collection: @events %>
    </div>
  </div>
</section>

<div class="event-pagination content container-1000">
  <%= paginate @events %>
</div>
<% else %>
<section class="content container-1000">
  <div class="content__left">
    <div class="search-for-events-no-results">
      Sorry your search has not found any events, try a different location or month. <%= link_to("Search for another event type", events_path) %></a>.
    </div>
  </div>
</section>
<% end %>