<div class="row">
  <section class="category col-space-m">
    <section class="container category__cards main-section">
      <nav class="category__nav-cards">
        <ul>
          <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Art and design",
              description: "Become an art and design teacher and inspire pupils to fuel their passion for creativity.",
              path: "/life-as-a-teacher/explore-subjects/art-and-design",
            )) %>
          <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Biology",
              description: "Find out how to become a biology teacher including what you'll be teaching and what funding is available to help you train.",
              path: "/life-as-a-teacher/explore-subjects/biology",
            )) %>
          <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Chemistry",
              description: "Find out how to become a chemistry teacher, including what you'll teach and what funding is available to help you train.",
              path: "/life-as-a-teacher/explore-subjects/chemistry",
            )) %>
          <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Computing",
              description: "Discover how computing is vital in helping pupils learn digital skills they'll need throughout life.",
              path: "/life-as-a-teacher/explore-subjects/computing",
            )) %>
          <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Design and technology",
              description: "As a design and technology teacher, you'll help pupils to turn their ideas into reality.",
              path: "/life-as-a-teacher/explore-subjects/design-and-technology",
            )) %>
            <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Geography",
              description: "As a geography teacher you will inspire pupils to get excited about the world around them.",
              path: "/life-as-a-teacher/explore-subjects/geography",
            )) %>
          <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Languages",
              description: "Help pupils to explore cultures around the world through learning a language. There's a wide range of languages you could teach, like French, Mandarin, Spanish or ancient Greek.",
              path: "/life-as-a-teacher/explore-subjects/languages",
            )) %>
          <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Maths",
              description: "Find out how to become a maths teacher, so you can show pupils how important maths is in everyday life and in understanding the world.",
              path: "/life-as-a-teacher/explore-subjects/maths"
            )) %>
          <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Physics",
              description: "Find out how to become a physics teacher and inspire the next generation of scientists, engineers and innovators.",
              path: "/life-as-a-teacher/explore-subjects/physics"
            )) %>
        </ul>
      </nav>
    </section>
  </section>
</div>
