<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <p>There’s no career quite like teaching. From sharing your passion for a subject, to having a job where every day is different, there’s lots of reasons why people choose to become teachers in England.</p>

    <h2 class="heading--box-blue">Make a difference</h2>

    <p>From day one as a teacher, you’ll be empowered to make decisions and have an impact. Every lesson you teach or conversation you have in a school corridor has the opportunity to inspire your pupils, shape their futures, and the world around them.</p>

    <p><%= render 'content/shared/quotes/quote_why_teach_chelsea' %></p>

    <p>Your impact will not be limited to your pupils. You’ll have opportunities to make a difference to your school, colleagues, and local community.</p>

    <p><%= render 'content/shared/quotes/quote_why_teach_shaniqua' %></p>

    <h2 class="heading--box-blue">Explore your creativity</h2>

    <p>As a teacher, you’ll have the freedom and trust to use your knowledge, passion and creativity to teach curriculums in your own way. From themed learning days and engaging activities to creative wall displays, you can bring your personality and passion to the classroom from the very first day.</p>

    <p><%= render 'content/shared/quotes/quote_why_teach_helen' %></p>

    <h2 class="heading--box-blue">Use skills from your degree or previous career</h2>

    <p>Teaching provides you with a great environment to use the skills and knowledge you’ve developed during a degree or a previous career. You’ll share your passion with your pupils and continue to learn as you teach.</p>

    <p><%= render 'content/shared/quotes/quote_why_teach_jack' %></p>
    <p>You may already have valuable experience working with pupils in the classroom, for example as a teaching assistant. Your expertise working with pupils might make you a desirable candidate for teacher training and may help you to make a smooth transition into teaching.</p>
    <%= render 'content/shared/quotes/quote_teaching_assistant_emma' %>
    <p>Find out more about <a href="/life-as-a-teacher/change-careers">changing careers to become a teacher</a>.</p>

    <h2 class="heading--box-blue">Career progression</h2>

    <p>In teaching, there are lots of opportunities for progression and self development. You can progress your career at your own pace, and tailor your journey to your interests and goals.</p>

    <p><%= render 'content/shared/quotes/quote_why_teach_gloria' %></p>

    <p><a href="/life-as-a-teacher/teaching-as-a-career/career-progression">Find out more about career progression</a>.</p>

    <h2 class="heading--box-blue">Teacher pay and pensions</h2>

      <p>In addition to the personal rewards of teaching, there are practical benefits too, including:</p>
      <ul>
        <li>a <a href="/life-as-a-teacher/pay-and-benefits/teacher-pay">competitive salary starting at <%= value :salaries_starting_minshortened %></a> (or higher in London)</li>
        <li>a <a href="/life-as-a-teacher/pay-and-benefits/teachers-pension-scheme">secure pension</a></li>
      </ul></p>

    <h2 class="heading--box-blue">Holidays</h2>

    <p>You’ll get more days holiday than people in many other professions. In school, full-time teachers work 195 days per year.</p>

    <p>For comparison, you’d work 227 days per year (on average) if you worked full time in an office.</p>

    <h2 class="heading--box-blue">Become a teacher</h2>
    <p>If teaching sounds like the career for you, you can find out more about <a href="/steps-to-become-a-teacher">how to become a teacher</a>.</p>

  </section>
  <%= render CallsToAction::MailinglistComponent.new(
    text: "Explore more benefits of teaching, and learn what it's really like to be in the classroom.",
  )%>
</div>
