<div class="home-hero" style="background-image: url('<%= asset_pack_path 'media/images/homehero.png' %>')">
    <div class="hero-banner home-hero-banner">
        <h1>Inspire The Next Generation.</h1>
        <p>Get information and support to help you become a teacher</p>
    </div>
    <div class="hero-banner-mobile home-hero-banner">
        <h1>Inspire The <br/> Next Generation.</h1>
        <p>Get access to postgraduate training and become a teacher</p>
    </div>
</div>

<div class="content-white">
    <div class="strap-header why-header-mobile">
        <h1>Why I became a teacher.</h1>
    </div>
    <div>
        <div class="content-white-left" style="background-image: url('<%= asset_pack_path 'media/images/paulsstory.png' %>')">
            <div class="play-overlay">
                <span><i class="fas fa-play fa-2x"></i></span>
            </div>
        </div>
        <div class="content-white-right">
            <h1 class="strap-header why-header">My story into teaching</h1>
            <p>As a newly qualified teacher, Paul was keen to move up the teaching career ladder.</p>
            <p>
                <a href='/'>
                    Read Paul's story and others <i class="fas fa-chevron-right"></i>
                </a>
            </p>
        </div>
    </div>
</div>

<div class="pic-links">
    <div class="pic-links-content">
        <div class="pic-link">
            <div class="pic-link-pic" style="background-image: url('<%= asset_pack_path 'media/images/piclink1.png' %>')">
                <a href="/">
                    <div class="pic-link-link">Teaching as a career  <i class="fas fa-chevron-right"></i></div>
                </a>
            </div>
        </div>
        <div class="pic-link">
            <div class="pic-link-pic" style="background-image: url('<%= asset_pack_path 'media/images/piclink2.png' %>')">
                <a href="/">
                    <div class="pic-link-link">Salaries and benefits  <i class="fas fa-chevron-right"></i></div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="steps-section">
    <div>
        <h1 class="strap-header strap-header-blue">Discover the steps to become a teacher.</h1>
    </div>
    <div class="steps-section-table">
        <div class="steps-section-table-row">
            <div class="steps-section-table-cell">
                <div class="steps-section-number">1</div>
                <div class="steps-section-text">
                    Check your <br/>qualifications
                </div>
            </div>
            <div class="steps-section-table-cell">
                <div class="steps-section-number">2</div>
                <div class="steps-section-text">
                    Get school <br/>experience</div>
                </div>
            <div class="steps-section-table-cell">
                <div class="steps-section-number">3</div>
                <div class="steps-section-text">
                    Decide how <br/>to train
                </div>
            </div>
            <div class="steps-section-table-cell">
                <div class="steps-section-number">4</div>
                <div class="steps-section-text">
                    Application <br/>process
                </div>
            </div>
        </div>
    </div>
    <div>
        <a class="git-link" href='/'>
            Use our step by step guide to help you become a teacher <i class="fas fa-chevron-right"></i>
        </a>
    </div>
</div>

<div class="content-white">
    <div class="strap-header why-header-mobile strap-header-blue">
        <h1 class="strap-header-blue">Find an event near you.</h1>
    </div>
    <div>
        <div class="content-white-left" style="background-image: url('<%= asset_pack_path 'media/images/map.png' %>')">
        </div>
        <div class="content-white-right">
            <h1 class="strap-header why-header strap-header-blue">Find an event near you</h1>
            <p>Come to a free teaching event and find out how you can train to become a teacher.</p>
            <p>
                <a href='/'>
                    Find events <i class="fas fa-chevron-right"></i>
                </a>
            </p>
        </div>
    </div>
</div>

<div style="height:500px">
    &nbsp;
</div>