<div role="main" id="main-content">
    <section>
        <div class="home-hero" style="background-image: url('<%= asset_pack_path 'media/images/hero-home.png' %>')">
            <div class="home-hero__banner">
                <h1>Inspire the next generation</h1>
                <p>Get information and support to help you become a teacher</p>
            </div>
        </div>
        <div class="home-hero__mailing-strip">
            <div class="home-hero__mailing-strip__text">
                <p>You can sign up to receive information via email that could help you make your decision to get into teaching.</p>  
            </div>
            <%= link_to(mailing_list_steps_path, class: "home-hero__mailing-strip__button") do %>
                    <span>Sign up here</span>
            <% end %>
        </div>
    </section>

    <section class="featured-content container-1000">
        <div class="featured-content__items">
            <div class="featured-content__item">
                <span class="featured-content__title">Returning to teaching</span>
                <div class="featured-content__image" style="background-image: url('<%= asset_pack_path 'media/images/featured-1.jpg' %>')"></div>
                <div class="featured-content__content">
                    <span>Thousands of former teachers return to the profession each year, so the transition may be easier than you expect.</span>
                    <a class="featured-content__link" href="/returning-to-teaching">Find out more</a>
                </div>
            </div>
            <div class="featured-content__item">
                <span class="featured-content__title">Real-life experiences</span>
                <div class="featured-content__image" style="background-image: url('<%= asset_pack_path 'media/images/paulsstory.png' %>')"></div>
                <div class="featured-content__content">
                    <span>Read current teachers' and trainees' experiences of school life, training, supporting students, and more.</span>
                    <a class="featured-content__link" href="/life-as-a-teacher/my-story-into-teaching/">See real stories</a>
                </div>
            </div>
            <div class="featured-content__item">
                <span class="featured-content__title">International candidates</span>
                <div class="featured-content__image" style="background-image: url('<%= asset_pack_path 'media/images/featured-2.jpg' %>')"></div>
                <div class="featured-content__content">
                    <span>Teaching in England offers a wealth of opportunities and rewards that helps you to build a stimulating and successful career.</span>
                    <a class="featured-content__link" href="/international-candidates">Find out more</a>
                </div>
            </div>
        </div>
    </section>

    <section class="pic-links">
        <div class="pic-links__pic" style="background-image: url('<%= asset_pack_path 'media/images/piclink1.png' %>')">
            <a href="/life-as-a-teacher" class="call-to-action-button">
                Teaching as a <span>career</span>
            </a>
        </div>

        <div class="pic-links__pic" style="background-image: url('<%= asset_pack_path 'media/images/piclink2.png' %>')">
            <div class="pic-links__pic__mask"></div>
            <div class="pic-links__pic__salaries">
                <a href="/life-as-a-teacher/teachers-salaries-and-benefits/" class="call-to-action-button">
                    Salaries and <span>benefits</span>
                </a>
            </div>
        </div>
    </section>

    <section class="steps container-1000">
        <div>
            <h1 class="strapline">Discover the steps to become a teacher</h1>
        </div>
        <div class="steps__wrapper">
            <div class="steps__step">
                    <div class="steps__number"><span>1</span></div>
                    <a href="/steps-to-become-a-teacher#step-1" class="steps__link">
                        <span>Check your</span>
                        <span>qualifications</span>
                    </a>
                </div>
                <div class="steps__step">
                    <div class="steps__number"><span>2</span></div>
                    <a href="/steps-to-become-a-teacher#step-2" class="steps__link">
                        <span>Find out</span>
                        <span>about funding</span>
                    </a>
                </div>
                <div class="steps__step">
                    <div class="steps__number"><span>3</span></div>
                    <a href="/steps-to-become-a-teacher#step-3" class="steps__link">
                        <span> Decide</span>
                        <span>how to train</span>
                    </a>
                </div>
                <div class="steps__step">
                    <div class="steps__number"><span>4</span></div>
                    <a href="/steps-to-become-a-teacher#step-4" class="steps__link">
                        <span>Application</span>
                        <span>process</span>
                    </a>
                </div>
        </div>
    </section>

    <section class="home-quote">
        <div class="container-1000">
            <div class="home-quote__text">
                <blockquote class="home-quote__quote">The best part of teaching for me is seeing that lightbulb moment when a child suddenly understands something they didn’t before</blockquote>
                <span class="home-quote__citation">Simon, teacher</span>
            </div>
        </div>
        <div class="home-quote__img" style="background-image: url('<%= asset_pack_path 'media/images/simonsquote.png' %>')"></div>
    </section>

    <section class="find-an-event container-1000">
        <div class="find-an-event__left">
            <div class="find-an-event__left__map" style="background-image: url('<%= asset_pack_path 'media/images/map.png' %>')">
                <div class="find-an-event__left__map__pin">
                    <div class="icon-pin-large"></div>
                </div>
            </div>
        </div>
        <div class="find-an-event__right">
            <div class="find-an-event__right__header">
                <h1 class="strapline-image">Find an event near you</h1>
            </div>
            <p>Come to a free teaching event and find out how you can train to become a teacher</p>
            <p>
                <%= link_to events_path, class: "git-link" do %>
                    Find events <i class="fas fa-chevron-right"></i>
                <% end %>
            </p>
        </div>
    </section>
</div>
