<div class="home-hero" style="background-image: url('<%= asset_pack_path 'media/images/homehero.png' %>')">
    <div class="hero-banner home-hero-banner">
        <h1>Inspire the next generation</h1>
        <p>Get information and support to help you become a teacher</p>
    </div>
    <div class="hero-banner-mobile home-hero-banner">
        <h1>Inspire the <br/> next generation</h1>
        <p>Get information and support to help you become a teacher</p>
    </div>
</div>

<div class="content-white">
    <div class="strap-header why-header-mobile">
        <h1>My story into teaching</h1>
    </div>
    <div>
        <div class="content-white-left" style="background-image: url('<%= asset_pack_path 'media/images/paulsstory.png' %>')">
            <div class="play-overlay">
                <span><i class="fas fa-play fa-2x"></i></span>
            </div>
        </div>
        <div class="content-white-right">
            <h1 class="strap-header why-header">My story into teaching</h1>
            <p>As a newly qualified teacher, Paul was keen to move up the teaching career ladder</p>
            <p>
                <a href='https://dfe-digital.github.io/get-into-teaching-prototype/life-as-a-teacher/real-stories/'>
                    Read Paul's story and others <i class="fas fa-chevron-right"></i>
                </a>
            </p>
        </div>
    </div>
</div>

<div class="pic-links">
    <div class="pic-links-content">
        <div class="pic-link">
            <div class="pic-link-pic" style="background-image: url('<%= asset_pack_path 'media/images/piclink1.png' %>')">
                <a href="https://dfe-digital.github.io/get-into-teaching-prototype/life-as-a-teacher/">
                    <div class="call-to-action">Teaching as a career  <i class="fas fa-chevron-right"></i></div>
                </a>
            </div>
        </div>
        <div class="pic-link">
            <div class="pic-link-pic" style="background-image: url('<%= asset_pack_path 'media/images/piclink2.png' %>')">
                <a href="https://dfe-digital.github.io/get-into-teaching-prototype/life-as-a-teacher/teachers-salaries-and-benefits/">
                    <div class="call-to-action">Salaries and benefits  <i class="fas fa-chevron-right"></i></div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="steps-section">
    <div>
        <h1 class="strap-header strap-header-blue">Discover the steps to become a teacher</h1>
    </div>
    <div class="steps-section-table">
        <div class="steps-section-table-row">
            <div class="steps-section-table-cell">
                <div class="steps-section-number">1</div>
                <div class="steps-section-text">
                    Check your <br/>qualifications
                </div>
            </div>
            <div class="steps-section-table-cell">
                <div class="steps-section-number">2</div>
                <div class="steps-section-text">
                    Find out <br/>about funding
                </div>
            </div>
            <div class="steps-section-table-cell">
                <div class="steps-section-number">3</div>
                <div class="steps-section-text">
                    Get school <br/>experience</div>
                </div>
            <div class="steps-section-table-cell">
                <div class="steps-section-number">4</div>
                <div class="steps-section-text">
                    Decide how <br/>to train
                </div>
            </div>
            <div class="steps-section-table-cell">
                <div class="steps-section-number">5</div>
                <div class="steps-section-text">
                    Application <br/>process
                </div>
            </div>
        </div>
    </div>
    <div>
        <a class="git-link" href='https://dfe-digital.github.io/get-into-teaching-prototype/steps-to-become-a-teacher/'>
            Use our step by step guide to help you become a teacher <i class="fas fa-chevron-right"></i>
        </a>
    </div>
</div>

<div class="quote-section">
    <div class="quote-section-left">
        <div class="quote-graphic">
            <i class="fas fa-quote-left fa-2x"></i>
        </div>
        <div class="quote-quote">
            <q>The best part of teaching for me is seeing that lightbulb moment when a child suddenly understands something they didn’t before</q>
            <div class="quote-quotee">Simon, teacher</div>
        </div>
    </div>
    <div class="quote-section-right" style="background-image: url('<%= asset_pack_path 'media/images/simonsquote.png' %>')">
        <div class="quote-section-angle"></div>
    </div>
</div>

<div class="quote-section-mobile">
    <div class="quote-section-mobile-top" style="background-image: url('<%= asset_pack_path 'media/images/simonsquote.png' %>')">
        <div class="quote-section-angle"></div>
    </div>
    <div class="quote-section-mobile-bottom">
        
        <div class="quote-graphic">
            <i class="fas fa-quote-left fa-2x"></i>
        </div>
        <div class="quote-quote">
            <q>The best part of teaching for me is seeing that lightbulb moment when a child suddenly understands something they didn’t before</q>
            <div class="quote-quotee">Simon, teacher</div>
        </div>
    </div>
</div>

<div class="content-white find-an-event">
    <div class="strap-header why-header-mobile strap-header-blue">
        <h1 class="strap-header-blue">Find an event near you</h1>
    </div>
    <div>
        <div class="content-white-left" style="background-image: url('<%= asset_pack_path 'media/images/map.png' %>')">
        </div>
        <div class="content-white-right">
            <h1 class="strap-header why-header strap-header-blue">Find an event near you</h1>
            <p>Come to a free teaching event and find out how you can train to become a teacher</p>
            <p>
                <a href='https://dfe-digital.github.io/get-into-teaching-prototype/find-an-event-near-you/'>
                    Find events <i class="fas fa-chevron-right"></i>
                </a>
            </p>
        </div>
    </div>
</div>

<div class="talk-to-someone">
    <div class="inner-container">
        <h1 class="strap-header">Talk to someone</h1>    
        <div class="talk-to-someone-label">
            How can we help you take your next step towards teacher training?
        </div>
        <div class="talk-to-someone-table">
            <div class="talk-to-someone-column">
                <h2>Get general information and help with next steps</h2>
                <a href="/">
                    <div class="call-to-action">Chat online  <i class="fas fa-chevron-right"></i></div>
                </a>
            </div>
            <div class="talk-to-someone-column">
                <h2>Speak to an expert who can help you with your application</h2>
                <a href="https://register.getintoteaching.education.gov.uk/register">
                    <div class="call-to-action">Sign up for an adviser  <i class="fas fa-chevron-right"></i></div>
                </a>
            </div>
            <div class="talk-to-someone-column">
                <h2>Get information about teacher training and events</h2>
                <a href="/">
                    <div class="call-to-action">Get our newsletter  <i class="fas fa-chevron-right"></i></div>
                </a>
            </div>
        </div>
    </div>
</div>