<div class="home-hero" style="background-image: url('<%= asset_pack_path 'media/images/hero-home.png' %>')">
    <div class="home-hero__banner">
        <h1>Inspire the next generation</h1>
        <p>Get information and support to help you become a teacher</p>
    </div>
</div>

<section class="my-story container-1200">
    <div class="my-story__left">
        <a href='https://dfe-digital.github.io/get-into-teaching-prototype/life-as-a-teacher/real-stories/'>
            <div class="my-story__left__video" style="background-image: url('<%= asset_pack_path 'media/images/paulsstory.png' %>')">
                <div class="my-story__left__video__overlay">
                    <div class="icon-play"></div>
                </div>
            </div>
        </a>
    </div>
    <div class="my-story__right">
        <div class="my-story__right__header">
            <h1 class="strapline">My story into teaching</h1>
        </div>
        <p>As a newly qualified teacher, Paul was keen to move up the teaching career ladder</p>
        <p>
            <a href='/life-as-a-teacher/real-stories/'>
                Read Paul's story and others <i class="fas fa-chevron-right"></i>
            </a>
        </p>
    </div>
</section>

<section class="pic-links">
    <div class="pic-links__pic" style="background-image: url('<%= asset_pack_path 'media/images/piclink1.png' %>')">
        <a href="https://dfe-digital.github.io/get-into-teaching-prototype/life-as-a-teacher/">
            <div class="call-to-action-button">Teaching as a career  <i class="fas fa-chevron-right"></i></div>
        </a>
    </div>

    <div class="pic-links__pic" style="background-image: url('<%= asset_pack_path 'media/images/piclink2.png' %>')">
        <div class="pic-links__pic__mask"></div>
        <div class="pic-links__pic__salaries">
            <a href="https://dfe-digital.github.io/get-into-teaching-prototype/life-as-a-teacher/teachers-salaries-and-benefits/">
                <div class="call-to-action-button">Salaries and benefits  <i class="fas fa-chevron-right"></i></div>
            </a>
        </div>
    </div>
</section>

<section class="steps container-1200">
    <div>
        <h1 class="strapline">Discover the steps to become a teacher</h1>
    </div>
    <div class="steps__table">
        <div class="steps__table__row">  
            <div class="steps__table__row__cell">
                <div class="steps__table__row__cell--number">1</div>
                <div class="steps__table__row__cell--text">
                    Check your qualifications
                </div>
            </div>
            <div class="steps__table__row__cell">
                <div class="steps__table__row__cell--number">2</div>
                <div class="steps__table__row__cell--text">
                    Find out about funding
                </div>
            </div>
            <div class="steps__table__row__cell">
                <div class="steps__table__row__cell--number">3</div>
                <div class="steps__table__row__cell--text">
                    Get school experience
                </div>
            </div>
            <div class="steps__table__row__cell">
                <div class="steps__table__row__cell--number">4</div>
                <div class="steps__table__row__cell--text">
                    Decide how to train
                </div>
            </div>
            <div class="steps__table__row__cell">
                <div class="steps__table__row__cell--number">5</div>
                <div class="steps__table__row__cell--text">
                    Application process
                </div>
            </div>
        </div>
    </div>
    <div>
        <a class="git-link" href='/steps-to-become-a-teacher/'>
            Use our step by step guide to help you become a teacher <i class="fas fa-chevron-right"></i>
        </a>
    </div>
</section>

<section class="quote">
    <div class="quote__left">
        <div class="quote__left__graphic">
            <div class="icon-quote"></div>
        </div>
        <div class="quote__left__quote">
            <q>The best part of teaching for me is seeing that lightbulb moment when a child suddenly understands something they didn’t before</q>
            <div class="quote__left__quote--quotee">Simon, teacher</div>
        </div>
    </div>
    <div class="quote__right" style="background-image: url('<%= asset_pack_path 'media/images/simonsquote.png' %>')">
        <div class="quote__right__mask"></div>
    </div>
</section>

<section class="quote-mobile">
    <div class="quote-mobile__top" style="background-image: url('<%= asset_pack_path 'media/images/simonsquote.png' %>')">
        <div class="quote-mobile__top__mask"></div>
    </div>
    <div class="quote-mobile__bottom">
        
        <div class="quote-mobile__bottom__graphic">
            <div class="icon-quote"></div>
        </div>
        <div class="quote-mobile__bottom__quote">
            <q>The best part of teaching for me is seeing that lightbulb moment when a child suddenly understands something they didn’t before</q>
            <div class="quote-mobile__bottom__quote--quotee">Simon, teacher</div>
        </div>
    </div>
</section>

<section class="find-an-event container-1200">
    <div class="find-an-event__left">
        <div class="find-an-event__left__map" style="background-image: url('<%= asset_pack_path 'media/images/map.png' %>')">
            <div class="find-an-event__left__map__pin">
                <div class="icon-pin-large"></div>
            </div>
        </div>
    </div>
    <div class="find-an-event__right">
        <div class="find-an-event__right__header">
            <h1 class="strapline">Find an event near you</h1>
        </div>
        <p>Come to a free teaching event and find out how you can train to become a teacher</p>
        <p>
            <a href='./events'>
                Find events <i class="fas fa-chevron-right"></i>
            </a>
        </p>
    </div>
</section>

<%= render "sections/talk-to-us" %>