<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Why teach primary</h2>
    <div class="inset">
      <p>Becoming a primary school teacher is an incredibly rewarding career. You'll work with young pupils who are eager to learn and see them develop from learning foundational skills like holding a pencil to becoming independent learners.</p>
      <p>Teaching primary is a great fit for anyone who enjoys a broad curriculum, as you will teach everything from maths to physical education. You'll create a nurturing enviroment in which pupils feel safe, grow in confidence and have the skills neccessary for secondary school.</p>
      <!-- Why teach: benefits -->
      <%= render 'content/shared/teaching/benefits' %>
    </div>
  </section>

  <section class="col col-720">
    <%= render 'content/shared/quotes/quote_primary_jodie' %>
  </section>

  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">What you'll teach</h2>
   <p>Pupils start primary school in England when they are 4 and leave when they are 11 years old. They will usually be taught by one teacher who will be responsible for a class for the year.</p>
   <p>Primary school is split into groups of years. The first year is known as reception and is part of the early years foundation stage (EYFS). There are then two other groups of years known as key stages. In primary school the key stages are  key stage 1 (KS1) and key stage 2 (KS2).</p>
   <h3>Reception</h3>
   <p>Reception is the last year of EYFS and the first year of primary school with pupils aged 4 years old. Reception is an exciting time for pupils and parents as it is the first time pupils will be part of a formal school setting and will begin learning key skills such as reading. At this age, pupils will be taught through play and games.</p>
   <p>The areas of learning pupils will cover in recpetion include:</p>
   <ul>
    <li>communication and language</li>
    <li>personal, social and emotional development</li>
    <li>physical development</li>
    <li>literacy</li>
    <li>mathematics</li>
    <li>understanding the world</li>
    <li>expressive arts and design</li>
  </ul>
  <p>At the end of reception every child will be observed and assessed against the early learning goals found in the <a href="https://www.gov.uk/government/publications/early-years-foundation-stage-framework--2">early years framework</a>.</p>
  <h3>Key stage 1 (KS1)</h3>
  <p>KS1 covers years 1 and 2 with pupils aged between 4 and 7. At this age, pupils will build on skills in maths, reading and writing and will transition away from play based learning. As their class teacher, you will be responsible for delivering a broad range of lessons to pupils.</p>
  <p>Schools who follow the national curriculum for KS1 will have to teach:</p>
    <ul>
      <li>English</li>
      <li>maths</li>
      <li>science</li>
      <li>design and technology</li>
      <li>history</li>
      <li>geography</li>
      <li>art and design</li>
      <li>physical education</li>
      <li>computing</li>
    </ul>
    <p> At the end of year 1, pupils will take a phonics screening test where they will be asked to read from a list of 40 words to check their ability to read.</p>
    <p>At the end of year 2, pupils will sit a more formal exam in English and maths to check what they have learned so far.</p>
  <h3>Key stage 2 (KS2)</h3>
  <p>KS2 is years 3 to 6 with pupils aged between 7 and 11. In key stage 2, pupils will build on the skills that they learned in KS1 and be expected to become increasingly independent. As their class teacher you will be responsible for teaching pupils all subjects.</p>
    <p>Schools following the national curriculum for KS2 have to teach: </p>
    <ul>
      <li>English</li>
      <li>maths</li>
      <li>science</li>
      <li>design and technology</li>
      <li>history</li>
      <li>geography</li>
      <li>art and design</li>
      <li>physical education</li>
      <li>computing</li>
    </ul>
    <p>At the end of year 4, pupils will take a multiplication tables check to see if they have learned the skills which will help them with increasingly challenging maths.</p>
    <p>At the end of KS2, pupils will sit national assessments in maths, science, English reading and writing. They will then transition to secondary school. This is an exciting stage for pupils as they will be ready to take on the new challeneges of increasing independence and more in depth studies.</p>

    <h2 class="heading--box-blue">Pupils with special educational needs and disabilities (SEND)</h2>
    <p>All initial teacher training courses cover teaching pupils with SEND. Whether you train to teach in mainstream schools, special schools, or both, you’ll teach pupils with special educational needs and disabilities (SEND), and learn how to support their needs.</p>
    <p>Once you have gained qualified teacher status (QTS), you can choose to specialise in teaching and nurturing pupils with special educational needs and disabilities in a more SEND-focused role.</p>
    <h2 class="heading--box-blue">Start your journey into teaching primary</h2>
    <%= render 'content/shared/qualifications-training/check_qualifcations' %>
    <%= render 'content/shared/qualifications-training/find_out_more' %>
    <%= render 'content/shared/qualifications-training/non_uk_qualifications' %>
  </section>
  <section class="col col-space-m col-720">
    <h3>Fund your teacher training</h3>
    <!-- Bursaries and Scholarships -->
    <%= render 'content/shared/teaching/bursary_no' %>
    <!-- Funding and Support -->
    <%= render 'content/shared/teaching/funding_support' %>
    <h3>Get school experience</h3>
    <h3>progression as a primary school teacher<h3>
      <p>As a primary school teacher, there is plenty of opportunity for progression and opportunities to lead beyond the classroom. That could mean becoming a lead in a subject, leading a key stage or even becoming senior management.</p>
     <%= render 'content/shared/quotes/quote_primary_phil' %>
    </section>

  <section class="col col-720">
    <!-- Support with teacher training -->
    <%= render 'content/shared/teaching/ect_support' %>
  </section>

</div>
