<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Why teach primary</h2>
    <div class="inset">
      <p>Becoming a primary school teacher is an incredibly rewarding career. You'll work with young pupils who are eager to learn. You'll see them develop, from learning foundational skills like holding a pencil to becoming independent learners.</p>
      <p>Teaching primary is a great fit for anyone who enjoys a broad curriculum, as you'll teach everything from maths to physical education. You'll create a nurturing environment in which pupils feel safe, grow in confidence and have the skills needed to transition to secondary school.</p>
      <!-- Why teach: benefits -->
      <%= render 'content/shared/teaching/benefits' %>
    </div>
  </section>

  <section class="col col-720">
    <%= render 'content/shared/quotes/quote_primary_jodie' %>
  </section>

  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">What you'll teach at each age group</h2>
    <p>Pupils usually start primary school in England when they are 4 to 5 and leave when they are 11 years old. However, some could start when they are younger than 4, if there's a nursery attached to the school.</p>
    <p><a href="/life-as-a-teacher/age-groups-and-specialisms/early-years-teachers">Find out more about teaching pupils before the age of 5</a>.</p>
   <p>Primary school is split into groups of years. The first year is known as reception and is part of the early years foundation stage (EYFS). In reception, schools must follow and meet the requirements of the <a href="https://www.gov.uk/government/publications/early-years-foundation-stage-framework--2">EYFS statutory framework</a>.</p>
   <p>There are then 2 other groups of years known as key stages. In primary school the key stages are key stage 1 (KS1) and key stage 2 (KS2).</p>
   <h3>Reception</h3>
   <p>Reception is the last year of EYFS and the first year of primary school with children aged 4 to 5 years old. Reception is an exciting time for children as it's the first time they'll be part of a formal school setting.</p>
   <p>The 7 areas of learning and development children will cover in reception are:</p>
   <ul>
    <li>communication and language</li>
    <li>personal, social and emotional development</li>
    <li>physical development</li>
    <li>literacy</li>
    <li>mathematics</li>
    <li>understanding the world</li>
    <li>expressive arts and design</li>
  </ul>
  <p>At the end of reception, every child’s level of development is assessed against the early learning goals set out in the EYFS statutory framework.</p>
  <h3>Key stage 1 (KS1)</h3>
  <p>KS1 covers years 1 and 2 with pupils aged between 5 and 7. At this age, pupils will build on skills in maths, reading and writing. As their class teacher, you'll be responsible for delivering a broad range of lessons to pupils.</p>
  <p>Schools which follow the national curriculum for KS1 will have to teach:</p>
    <ul>
      <li>art and design</li>
      <li>computing</li>
      <li>design and technology</li>
      <li>English</li>
      <li>geography</li>
      <li>history</li>
      <li>maths</li>
      <li>music</li>
      <li>physical education</li>
      <li>science</li>
    </ul>
    <p>Religious education, and relationships and health education are also compulsory for all state-funded schools.</p>
    <p>At the end of year 1, pupils will take a phonics screening test where they'll be asked to read from a list of 40 words to check their ability to read.</p>
    <p>At the end of year 2, pupils may sit a more formal exam in English and maths to check what they have learnt so far.</p>
  <h3>Key stage 2 (KS2)</h3>
  <p>KS2 is years 3 to 6 with pupils aged between 7 and 11. In KS2, pupils will build on the skills they learnt in KS1 and be expected to become more independent. As their class teacher, you'll be responsible for teaching pupils all subjects.</p>
    <p>Schools following the national curriculum for KS2 have to teach: </p>
    <ul>
      <li>a foreign language </li>
      <li>art and design</li>
      <li>computing</li>
      <li>design and technology</li>
      <li>English</li>
      <li>geography</li>
      <li>history</li>
      <li>maths</li>
      <li>music</li>
      <li>physical education</li>
      <li>science</li>
    </ul>
    <p>Religious education, and relationships and health education are also compulsory for all state-funded schools.</p>
    <p>At the end of year 4, pupils will take a multiplication tables check to see if they have learnt the skills which will help them with increasingly challenging maths.</p>
    <p>At the end of KS2, pupils will sit national assessments in maths, science, English reading and writing. They'll then transition to secondary school. This is an exciting stage for pupils as they'll be ready to take on the new challenges of increasing independence and more in depth studies.</p>
    <%= render CallsToAction::ArrowLinkComponent.new(link_target: "/steps-to-become-a-teacher", link_text: "Find out how to become a teacher") %>
    <h2 class="heading--box-blue">Pupils with special educational needs and disabilities (SEND)</h2>
    <%= render 'content/shared/teaching/teaching_send' %>
    <h2 class="heading--box-blue">Start your journey into teaching primary</h2>
    <div class="check-qualifications">
  <h3>Check your qualifications</h3>
  <p>To train to teach primary in England, you'll need:</p>
  <ul>
    <li>GCSEs at grade 4 (C) or above in English, maths and science</li>
    <li>a bachelor's degree in any subject</li>
  </ul>
</div>
    <%= render 'content/shared/qualifications-training/find_out_more' %>
    <%= render 'content/shared/qualifications-training/non_uk_qualifications' %>
  </section>
  <section class="col col-space-m col-720">
    <h3>Fund your teacher training</h3>
    <!-- Bursaries and Scholarships -->
    <%= render 'content/shared/teaching/bursary_no' %>
    <!-- Funding and Support -->
    <%= render 'content/shared/teaching/funding_support' %>
    <%= render 'content/shared/qualifications-training/get_school_experience' %>
    <h3>Progression as a primary school teacher<h3>
      <p>As a primary school teacher, there's plenty of opportunity for progression and opportunities to lead beyond the classroom. That could mean becoming a lead in a subject, leading a key stage or even becoming a part of the senior management team.</p>
     <%= render 'content/shared/quotes/quote_primary_phil' %>
    </section>

  <section class="col col-720">
    <!-- Support with teacher training -->
    <%= render 'content/shared/teaching/ect_support' %>
  </section>
<%= render CallsToAction::AdviserComponent.new(
    text: "An adviser with years of teaching experience can help you to become a teacher. Chat by phone, text, or email as little or often as you need.",
  ) %>
</div>
