<div class="row">
  <section class="category col-space-m">
    <section class="container category__cards main-section">
      <nav class="category__nav-cards">
        <ul>
          <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Pay and benefits",
              description: "Find out the starting salary for a qualified teacher and how your pay could increase during your career.",
              path: "/life-as-a-teacher/pay-and-benefits",
              image: "static/images/content/hero-images/teacher.jpg"
            )) %>
        </ul>
        <ul>
          <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Teaching as a career",
              description: "Learn about the career progression in teaching, and the support available for early career teachers and career changers.",
              path: "/life-as-a-teacher/teaching-as-a-career",
              image: "static/images/content/hero-images/0034.jpg"
            )) %>
        </ul>
        <ul>
          <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Explore subjects you could teach",
              description: "Discover what you could teach, what teaching different subjects is really like, and how to take your next steps to become a teacher.",
              path: "/life-as-a-teacher/explore-subjects",
              image: "static/images/content/hero-images/physics_1383.jpg"
            )) %>
        </ul>
        <ul>
          <%= render Categories::CardComponent.new(heading_tag: "h2", card:
            OpenStruct.new(
              title: "Age groups and specialisms",
              description: "Explore the different types of teacher you could be, from primary and secondary, to college and early years. You can also learn about teaching pupils with special education needs and disabilities (SEND).",
              path: "/life-as-a-teacher/age-groups-and-specialisms",
              image: "static/images/content/hero-images/0030.jpg"
            )) %>
        </ul>
      </nav>
    </section>
  </section>
</div>

<%= main_tag(class: "category") do %>
  <% grouped_categories(@page.path).each do |title, pages| %>
    <section class="container category__cards main-section">
      <%= tag.h2(title, id: title.parameterize, class: "heading--box-blue") %>
      <%= tag.nav(aria: { label: "#{title} category" }, class: "category__nav-cards inset") do %>
        <ul class="inset">
          <%= render(Categories::CardComponent.with_collection(pages, heading_tag: "h3")) %>
        </ul>
      <% end %>
    </section>
  <% end %>
<% end %>
