<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Why teach computing</h2>
    <p>You'll inspire pupils to access new fields and teach them transferable skills that will open lots of sectors, from engineering to healthcare, and could lead to careers such as software engineering and web design.</p>
    <%= render 'content/shared/teaching/benefits' %>
  </section>

  <section class="col col-720">
    <%= render 'content/shared/quotes/quote_progression_chris' %>
  </section>

  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Shape your pupils' futures</h2>
    <div class="inset">
      <p>Teaching computing opens the door for your pupils to pursue exciting careers. They could work in a diverse range of fields, from cybersecurity and programming, to data analysis and teaching.</p>
      <p>By solving challenging problems, your pupils could make significant contributions to these impactful areas.</p>
      <p>Your pupils will learn more from you than you might think. As their teacher, you’ll guide your pupils though the skills they need to show their understanding of computing. You'll teach them valuable life skills such as critical thinking, decision making and problem solving.</p>
    </div>
  </section>

  <section class="col col-720">
    <%= render 'content/shared/quotes/quote_computing_shiulee' %>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">What you'll teach</h2>
    <p>You'll teach the <a href="https://www.gov.uk/government/publications/national-curriculum-in-england-computing-programmes-of-study/national-curriculum-in-england-computing-programmes-of-study">national curriculum for computing</a>, with opportunities to develop your pupils' computational thinking.</p>
    <p>Themes you'll cover when you teach 11 to 14 year olds (key stage 3) include:</p>
    <ul>
      <li>algorithms</li>
      <li>programming and debugging</li>
      <li>creative projects</li>
      <li>use of logical reasoning</li>
      <li>computer systems</li>
      <li>uses of technology</li>
      <li>online safety </li>
    </ul>
    <p>When you're teaching key stage 3 you could use interactive exercises during your lessons, like creating a robot car.</p>
    <p>Explore what teaching a key stage 3 computing lesson would be like at the <a href="https://www.thenational.academy/teachers/programmes/computing-secondary-ks3-l/units">Oak National Academy website</a>.</p>
    <p>Themes you'll cover when you teach 14 to 16 year olds (key stage 4) include:</p>
    <ul>
      <li>computational thinking</li>
      <li>digital media and information technology</li>
      <li>computer networks</li>
      <li>cyber security</li>
      <li>data representation</li>
      <li>digital technology</li>
    </ul>
    <p>When you're teaching key stage 4 you'll teach pupils ways to protect their online privacy and identity.</p>
    <p>Themes you'll cover when you teach 16 to 18 year olds (key stage 5) include:</p>
    <ul>
      <li>abstraction</li>
      <li>writing programmes to solve problems</li>
      <li>efficiency of algorithms</li>
      <li>data structures and the use of databases</li>
      <li>systems architecture</li>
      <li>computing related mathematics</li>
    </ul>
    <p>When you're teaching key stage 5 you'll help pupils to develop websites and prepare them for further learning or employment.</p>
    <%= render 'content/shared/teaching/ages_abilities' %>
  </section>

  <section class="col col-space-m col-720">
    <h2 class="heading--box-blue">Start your journey into teaching computing</h2>
    <%= render 'content/shared/qualifications-training/check_qualifcations' %>
     <p>Computing teacher training courses have had successful applications from candidates with a range of degrees, including business and management, data science, history and economics.</p>
      <%= render 'content/shared/qualifications-training/find_out_more' %>
    <%= render 'content/shared/qualifications-training/non_uk_qualifications' %>
  </section>

  <section class="col col-space-m col-720">
    <%= render 'content/shared/qualifications-training/subject_knowledge' %>
  </section>

  <section class="col col-space-m col-720">
    <h3>Fund your teacher training</h3>
    <%= render 'content/shared/teaching/bursary_scholarship' %>
    <%= render 'content/shared/teaching/funding_support' %>
  </section>

  <section class="col col-space-m col-720">
     <%= render 'content/shared/qualifications-training/paid_internships' %>
    <%= render 'content/shared/teaching/ect_support' %>
  </section>
  <%= render CallsToAction::AdviserComponent.new(
    text: "An adviser with years of teaching experience can help you to become a computing teacher. Chat by phone, text, or email as little or often as you need.",
  ) %>
</div>
