<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Why teach modern languages</h2>
    <div class="inset">
    <p>As a language teacher, you’ll teach the linguistic aspects of language and introduce pupils to the cultural contexts that give language its richness and depth.</p>
    <p>Language lessons can take pupils from the basics of introducing themselves to speaking and writing with fluency and spontaneity.</p>
    </div>
  </section>

  <section class="col col-720">
    <%= render Content::QuoteComponent.new(
    text: "People may not realise how much potential there is for progression in teaching. They think they go into the world of the classroom and that's it. Lots of teachers have added responsibilities they enjoy doing and find fulfilling.",
    name: "Chris Farr, teacher training adviser",
    large: true
  ) %>
  </section>

<section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Shape your pupils' futures</h2>
    <div class="inset">
      <p>Learning a new language will give pupils cultural awareness and enhanced communication skills that can lead to exciting careers.</p>
      <p>Popular careers range from flight attendants and ski instructors to interpreters and tour guides. Pupils may also have advantages in careers such as journalism, public relations or finance.</p>
      <p>Your pupils will learn more from you that you might think. As their teacher, you will guide your pupils though the skills they need to show their understanding of modern languages. You will teach them valuable life skills such as enhanced listening, cultural awareness and communication.</p>
    </div>
  </section>

    <section class="col col-720">
    <%= render Content::QuoteComponent.new(
    text: "Teaching languages is so much more than teaching grammar and vocabulary. You get to introduce students to new cultures and a different way of doing things. In an increasingly globalised world, you’re providing kids with an incredibly valuable skill that they’ll cherish for their entire lives.",
    name: "Tom, languages teacher",
    large: true
  ) %>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">What you'll teach</h2>
    <p>You'll teach the <a href="https://www.gov.uk/government/publications/national-curriculum-in-england-languages-progammes-of-study/national-curriculum-in-england-languages-progammes-of-study#key-stage-3-modern-foreign-language">national curriculum for modern foreign languages</a>.</p>
    <p>Themes you'll cover when you teach 11 to 14 year olds (key stage 3) include:</p>
    <ul>
      <li>identifying and using present, past, and future tenses</li>
      <li>using a variety of key grammatical structures and patterns</li>
      <li>developing and using a wide-ranging and deepening vocabulary</li>
      <li>using accurate grammar, spelling and punctuation</li>
      <li>having conversations and making use of important social conventions such as formal modes of address</li>
      <li>expressing and developing ideas clearly and with increasing accuracy</li>
      <li>speaking coherently and confidently</li>
      <li>reading literary texts in the language and expanding their understanding of the language and culture</li>
      <li>writing creatively to express their own ideas and opinions</li>
    </ul>
  </section>

  <section class="col col-720">
    <p>Themes you'll cover when you teach 14 to 16 year olds (key stage 4) include:</p>
    <ul>
      <li>understanding and responding to spoken language</li>
      <li>communicating and interacting in speech</li>
      <li>understanding and responding to written language</li>
      <li>communicating in writing</li>
    </ul>
    <p>Explore what teaching modern language lessons would be like at key stage 4:</p>
      <ul>
      <li><a href="https://www.thenational.academy/teachers/programmes/french-secondary-ks4-l/units">French lessons</li>
      <li><a href="https://www.thenational.academy/teachers/programmes/spanish-secondary-ks4-l/units">Spanish lessons</li>
      <li><a href="https://www.thenational.academy/teachers/programmes/german-secondary-ks4-l/units">German lessons</a></p>
  </section>

  <section class="col col-space-m col-720">
    <h2 class="heading--box-blue">Start your journey into teaching modern languages</h2>
    <h3>Check your qualifications</h3>
    <p>To train to teach in secondary schools in England, you’ll need:</p>
    <ul>
      <li>GCSEs at grade 4 (C) or above in English and maths</li>
      <li>a bachelor’s degree in any subject</li>
    </ul>
    <p>Having relevant A levels can show your subject knowledge, if you do not have a degree in modern languages.</p>
    <p>Find out more about what <a href="/train-to-be-a-teacher/qualifications-you-need-to-teach">qualifications you need to train to teach</a>.</p>
    <%= render Content::ExpanderComponent.new(
      title: "check your qualifications",
      text: "If you have qualifications from outside the UK, you'll need to show that they meet the standards set for teacher training in England.",
      link_title: "You can get help comparing English and international qualifications.",
      link_url: "/non-uk-teachers/non-uk-qualifications",
    ) %>
  </section>

  <section class="col col-space-m col-720">
    <h3>Subject knowledge enhancement course (SKE)</h3>
    <p>If your training provider thinks you need to top up your subject knowledge in modern languages before you become a teacher, you can do a subject knowledge enhancement (SKE) course.
    <p>There are lots of reasons why someone might need to complete an SKE course. For example, if you finished your degree more than 5 years ago or if you have an A level but not a degree in the subject you want to teach.</p>
    <p><a href="/how-to-apply-for-teacher-training/subject-knowledge-enhancement">Find out more about subject knowledge enhancement courses</a>.</p>
  </section>

  <section class="col col-space-m col-720">
    <h3>Fund your teacher training</h3>
    <p><a href="/funding-and-support/scholarships-and-bursaries">Tax-free bursaries of <%= v :bursaries_postgraduate_languagesother %> or scholarships of <%= v :scholarships_languagesfrenchgermanspanish %></a> are available for eligible trainee computing teachers</p>
    <p>You can get a bursary or scholarship alongside a tuition fee loan and maintenance loan.</p>
    <p>You may also be able to get <a href="/funding-and-support">extra funding and support</a> if you're:</p>
    <ul>
      <li>a parent or carer</li>
      <li>disabled</li>
    </ul>
    <%= render Content::ExpanderComponent.new(
        title: "funding your training",
        text: "If you train to teach languages, you may be eligible for a bursary or scholarship.",
        link_title: "Find out more about fees and financial support for non-UK trainee teachers.",
        link_url: "/non-uk-teachers/fees-and-funding-for-non-uk-trainees",
      ) %>
  </section>

  <section class="col col-space-m col-720">
    <h3>Paid internship</h3>
    <p>If you're currently doing an undergraduate or master's degree and are interested in teaching computing, you could apply for a <a href="/train-to-be-a-teacher/teaching-internships">paid teaching internship</a>.</p>
    <p>The 3-week programme could help you to understand what it's really like in the classroom and get a feel for school life.</p>
  </section>
</div>
