<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Why teach biology</h2>
    <div class="inset">
    <p>Biology is the study of living things, the intricate systems that sustain them, and the delicate balance of our ecosystems. As a biology teacher, you'll have the opportunity to inspire the next generation to explore the wonders of life itself.</p>
    </div>
  </section>

  <section class="col col-720">
    <%= render Content::QuoteComponent.new(
    text: "People may not realise how much potential there is for progression in teaching. They think they go into the world of the classroom and that's it. Lots of teachers have added responsibilities they enjoy doing and find fulfilling.",
    name: "Chris Farr, teacher training adviser",
    large: true
  ) %>
  </section>

  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Shape your students' futures</h2>
    <div class="inset">
      <p>Teaching biology opens the door for your students to pursue exciting careers in fields as diverse as zoology and wildlife conservation, to medicine and dentistry.</p>
      <p>By solving challenging problems, your students could make significant contributions to these diverse and impactful areas.</p>
      <p>Your students will learn more from you that you might think.  As their teacher, you will guide your students though the skills they need to show their understanding of biology. You will teach them valuable life skills such as critical thinking, decision making and communication.</p>
    </div>
  </section>

  <section class="col col-720">
    <%= render Content::QuoteComponent.new(
    text: "For me, science is all about being inquisitive. I was always the kid in class who was thinking, 'I wonder how that works, or I wonder why that does that'. I recognise that so much in the kids I teach and being able to give them the tools to develop that curiosity and knowledge is genuinely exhilarating.",
    name: "Holly, science teacher",
    large: true
  ) %>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">What you'll teach</h2>
    <p>You'll teach the <a href="https://www.gov.uk/government/publications/national-curriculum-in-england-science-programmes-of-study/national-curriculum-in-england-science-programmes-of-study">national curriculum for biology</a>.</p>
    <p>You could have the opportunity to teach or support physics and biology lessons throughout key stages 3 and 4.</p>
    <p>When you teach 11 to 14 year olds (key stage 3), you'll cover themes from the 3 science disciplines of biology, chemistry and physics.</p>
    <p>The biology themes are:</p>
    <ul>
      <li>structure and function of living organisms</li>
      <li>material cycles and energy</li>
      <li>interactions and interdependencies</li>
      <li>genetics and evolution</li>
    </ul>
  </section>

  <section class="col col-720">
    <p>Themes you'll cover when you teach 14 to 16 year olds (key stage 4) will be more specific to biology, and include:</p>
    <ul>
      <li>cell biology</li>
      <li>transport systems</li>
      <li>health, disease and the development of medicines</li>
      <li>coordination and control</li>
      <li>photosynthesis</li>
      <li>ecosystems</li>
      <li>evolution, inheritance and variation</li>
    </ul>
    <p><a href="https://www.thenational.academy/teachers/curriculum/science-secondary/units">Explore what teaching a key stage 4 biology lesson would be like</a>.</p>
    <p>As a secondary school biology teacher, you'll teach students aged 11 to 18. This means you'll always be expanding your knowledge and approach to meet students' needs. Once you have qualified teacher status (QTS) you can also teach any other subject, as long as you can show you have enough expertise.</p>
  </section>

  <section class="col col-space-m col-720">
    <h2 class="heading--box-blue">Start your journey into teaching biology</h2>
    <h3>Check your qualifications</h3>
    <p>To train to teach in secondary schools in England, you’ll need:</p>
    <ul>
      <li>GCSEs at grade 4 (C) or above in English and maths</li>
      <li>a bachelor’s degree in any subject</li>
    </ul>
    <p>Having relevant A levels can show your subject knowledge, if you do not have a degree in biology.</p>
    <p>Find out more about what <a href="/train-to-be-a-teacher/qualifications-you-need-to-teach">qualifications you need to train to teach</a>.</p>
    <%= render Content::ExpanderComponent.new(
      title: "check your qualifications",
      text: "If you have qualifications from outside the UK, you'll need to show that they meet the standards set for teacher training in England.",
      link_title: "You can get help comparing English and international qualifications.",
      link_url: "/non-uk-teachers/non-uk-qualifications",
    ) %>
  </section>

  <section class="col col-space-m col-720">
    <h3>Fund your teacher training</h3>
    <p><a href="/funding-and-support/scholarships-and-bursaries">Tax-free bursaries of <%= v :bursaries_postgraduate_computing %> or scholarships of <%= v :scholarships_computing %></a> are available for eligible trainee computing teachers.</p>
    <p>You can get a bursary or scholarship alongside a tuition fee loan and maintenance loan.</p>
    <p>You may also be able to get <a href="/funding-and-support">extra funding and support</a> if you're:</p>
    <ul>
      <li>a parent or carer</li>
      <li>disabled</li>
    </ul>
    <%= render Content::ExpanderComponent.new(
      title: "funding your training",
      text: "If you do not have <a href=\"https://www.gov.uk/guidance/indefinite-leave-to-remain-in-the-uk\">indefinite leave to remain in the UK</a>, you're unlikely to be eligible for funding.",
      link_title: "Find out more about fees and financial support for non-UK trainee teachers.",
      link_url: "/non-uk-teachers/fees-and-funding-for-non-uk-trainees",
    ) %>
  </section>
</div>
