<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Why teach <%= @front_matter["subject"] %></h2>
      <p> Maths is critical to science, technology and engineering as well as being fundamental for most jobs.</p>
      <p>A good understanding of maths can help children develop life skills such as cooking, managing a budget and problem solving.</p>
      <!-- Why teach: benefits -->
      <%= render 'content/shared/teaching/benefits' %>
  </section>

  <section class="col col-720">
   <%= render 'content/shared/quotes/quote_maths_rotna' %>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">What you'll teach</h2>
    <p>You'll teach the <a href="https://www.gov.uk/government/publications/national-curriculum-in-england-mathematics-programmes-of-study/national-curriculum-in-england-mathematics-programmes-of-study">national curriculum for <%= @front_matter["subject"] %></a>.</p>
    <p>Themes you'll cover when you teach 11 to 16 year olds (key stage 3 and 4) include:</p>
    <ul>
      <li>numbers</li>
      <li>algebra</li>
      <li>ratio, proportion and rates of change</li>
      <li>geometry and measures</li>
      <li>probability and statistics</li>
    </ul>
    <p>When you're teaching key stages 3 and 4 you can use interactive games with conkers and dice to help your pupils understand algebra and probability.</p>
    <p>Explore what teaching a key stage 3 maths lesson would be like at the <a href="https://www.thenational.academy/teachers/programmes/maths-secondary-ks3-l/units">Oak National Academy website</a>.</p>
    <p>Themes you'll cover when you teach 16 to 18 year olds (key stage 5) include:</p>
    <ul>
      <li>analysis of data</li>
      <li>maths for personal finance</li>
      <li>estimation</li>
      <li>critical analysis of given data and models</li>
    </ul>
  </section>

  <section class="col col-720">
   <%= render 'content/shared/quotes/quote_maths_dimitra' %>
  </section>

  <section class="col col-space-m col-720">
    <h2 class="heading--box-blue">Start your journey into teaching</h2>
     <%= render 'content/shared/qualifications-training/check_qualifcations' %>
    <p><p><%= @front_matter ["subject"].titleize %> teacher training courses have had successful applications from candidates with a range of degrees, including psychology, music, architecture and law.</p>
    <p>Find out more about what <a href="/train-to-be-a-teacher/qualifications-you-need-to-teach">qualifications you need to train to teach</a>.</p>
     <%= render 'content/shared/qualifications-training/non_uk_qualifications' %>
  </section>

  <section class="col col-space-m col-720">
    <%= render 'content/shared/qualifications-training/subject_knowledge' %>
  </section>

  <section class="col col-space-m col-720">
    <h3>Fund your teacher training</h3>
    <!-- Bursaries and Scholarships -->
    <%= render 'content/shared/teaching/bursary_scholarship' %>
    <!-- Funding and Support -->
    <%= render 'content/shared/teaching/funding_support' %>
  </section>

  <section class="col col-space-m col-720">
    <%= render 'content/shared/qualifications-training/paid_internships' %>
  </section>

  <section class="col col-720">
    <!-- Support with teacher training -->
    <%= render 'content/shared/teaching/ect_support' %>
  </section>
</div>
