<%= render Campaign::HeaderComponent.new(
  title: ["Get Into Teaching", "events"],
  colour: "yellow",
  image: "media/images/content/hero-images/0025.jpg"
) %>

<div class="subject-specific">
  <article>
    <section class="statement">
      <div>
        <span class="pink xlarge bold">What to expect at an event</span>
      </div>
    </section>

    <section>
      <p>
        Get Into Teaching events are designed to give you an insight into what it's like to be a teacher, as well as the practical information you need to get onto a teacher training course.
      </p>

      <h2 class="heading-m">Our mission</h2>
      <p>
        Events are run by the Department for Education and are impartial. We do invite local training providers along to give you an idea of what they offer, but our goal is to answer your questions and give you the confidence to take your next step.
      </p>

      <h2 class="heading-m">Attendance</h2>
      <p>
        To attend, you need to register. Spaces are limited, so the sooner you sign up, the better.
      </p>
    </section>

    <section class="category fullwidth">
      <article>
        <%= render SubjectSpecific::TextBlockWithOneImageComponent.new(
          heading: "Upcoming events in your region",
          colour: "blue",
          image_path: "media/images/content/homepage/here-to-help.jpg",
          image_alt: "Child pointing something out to a teacher in the classroom.",
        ) %>
      </article>
      <section class="container">
        <section class="category__cards">
          <%= tag.nav(class: "category__nav-cards") do %>
            <ul>
              <%= render(Categories::CardComponent.with_collection(@cards)) %>
            </ul>
          <% end %>
        </section>
      </section>
    </section>

    <section class="what-theyre-saying fullwidth no-margin">
      <div class="triangle grey-background yellow-triangle">
        <svg height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
          <polygon points="0,100 100,0 100,100"></polygon>
        </svg>
      </div>
      <div class="subheading">
        <h3 class="heading--box-pink heading--margin-0">What they're saying</h3>
      </div>
      <figure>
        <blockquote>I had doubts on what to do and how to proceed, but have found answers to all of them thanks to this event.</blockquote>
      </figure>
    </section>

    <section class="fullwidth">
      <section class="container">
        <div class="videos">
          <span class="blue xlarge bold">See what you get out of an event</span>
          <div class="videos__container">
            <div>
              <%= render Content::YoutubeVideoComponent.new(
                id: "eAWwqLLEINI",
                title: "Train to Teach Events: Take your next step towards teaching"
              ) %>
              <p>Expert advice for career changers.</p>
            </div>
            <div>
              <%= render Content::YoutubeVideoComponent.new(
                id: "eAWwqLLEINI",
                title: "Train to Teach Events: Take your next step towards teaching"
              ) %>
              <p>What makes teaching amazing?</p>
            </div>
          </div>
        </div>
      </section>
    </section>
  </article>
</div>
