<%= render Campaign::HeaderComponent.new(
  title: ["Get Into Teaching", "events"],
  colour: "yellow",
  image: "media/images/content/hero-images/0025.jpg"
) %>

<div class="subject-specific">
  <article>
    <section class="statement">
      <div>
        <span class="pink xlarge bold">What to expect</span>
      </div>
    </section>

    <section>
      <p>
        Whether you're ready to start your career in teaching or just curious, we can answer your questions at a Get Into Teaching event.
      </p>
      
      <p>
        They're a series of relaxed and informative events giving you the opportunity to get expert advice and talk to teachers and local training providers.
      </p>
      
      <h2 class="heading-m">At the event</h2>
      <p>Drop in any time during an event for presentations, one-to-one chats or to meet other like you who are thinking of stepping into the classroom.</p>

      <p>
        You can discover:
      </p>

    <ul>
      <li>if teaching is right for you</li>
      <li>how to apply for teacher training</li>
      <li>what funding is available</li>
    </ul>

      <h2 class="heading-m">Reserve your place</h2>
      <p>
        You'll need to register to attend a Get Into Teaching event. Places are limited, so the sooner you sign up, the better.
      </p>
    </section>

    <section class="category fullwidth">
      <article>
        <%= render SubjectSpecific::TextBlockWithOneImageComponent.new(
          heading: "Events in your region",
          colour: "blue",
          image_path: "media/images/content/homepage/here-to-help.jpg",
          image_alt: "Child pointing something out to a teacher in the classroom.",
        ) %>
      </article>
      <section class="container">
        <section class="category__cards">
          <%= tag.nav(class: "category__nav-cards") do %>
            <ul>
              <%= render(Categories::CardComponent.with_collection(@cards)) %>
            </ul>
          <% end %>
        </section>
      <h2 class="heading-s">Can't find what you're looking for?</h2>

    <p>
      <a href="/events">View all events</a>.
    </p>
      </section>
    </section>

    <section class="what-theyre-saying fullwidth no-margin">
      <div class="triangle grey-background yellow-triangle">
        <svg height="100%" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
          <polygon points="0,100 100,0 100,100"></polygon>
        </svg>
      </div>
      <div class="subheading">
        <h3 class="heading--box-pink heading--margin-0">What they're saying</h3>
      </div>
      <figure>
        <blockquote>I had doubts on what to do and how to proceed, but have found answers to all of them thanks to this event.</blockquote>
      </figure>
    </section>

    <section class="fullwidth">
      <section class="container">
        <div class="videos">
          <span class="blue xlarge bold">See what you get out of an event</span>
          <div class="videos__container">
            <div>
              <%= render Content::YoutubeVideoComponent.new(
                id: "eAWwqLLEINI",
                title: "Train to Teach Events: Take your next step towards teaching"
              ) %>
              <p>Expert advice for career changers.</p>
            </div>
            <div>
              <%= render Content::YoutubeVideoComponent.new(
                id: "eAWwqLLEINI",
                title: "Train to Teach Events: Take your next step towards teaching"
              ) %>
              <p>What makes teaching amazing?</p>
            </div>
          </div>
        </div>
      </section>
    </section>
  </article>
</div>
