<section class="teaching-events">
  <header>
    <h1 class="heading-l heading--box-yellow">Get Into Teaching events</h1>

    <p>
      All events listed are designed to help you get into teacher training. They are free to attend.
    </p>

    <details class="teaching-events__descriptions">
      <summary class="teaching-events__descriptions--summary">Explore the different types of events</summary>

      <dl>
        <div>
          <dt>Train to Teach events</dt>
          <dd>Watch presentations, hear from teachers, speak to advisers and meet local training providers. Run by the Department for Education (DfE).</dd>
        </div>

        <div>
          <dt>Department for Education (DfE) Online Q&amp;As</dt>
          <dd>Get answers to your specific questions from an online panel of teacher training advisers.</dd>
        </div>

        <div>
          <dt>Training provider events</dt>
          <dd>Find out about local courses and how to apply. Hosted by teacher training providers.</dd>
        </div>
      </dl>
    </details>
  </header>

  <div class="teaching-events__container">
    <div class="teaching-events__filter">
      <%= render partial: "teaching_events/index/filter" %>
    </div>

    <% if @featured_events.blank? && @events.blank? %>
      <%= render partial: "teaching_events/index/no_results" %>
    <% else %>
      <div class="teaching-events__listing">
        <% if @featured_events.any? %>
          <div class="teaching-events__events teaching-events__events--featured">
            <h2 class="heading-m">Upcoming Train to Teach events</h2>

            <ol><%= render TeachingEvents::EventComponent.with_collection(@featured_events) %></ol>

            <div class="teaching-events__about-ttt-banner">
              <div class="teaching-events__about-ttt-banner--message">
                <p>
                  Designed by the Department for Education, Train to Teach events
                  give you everything you need to get into teaching.
                </p>
              </div>

              <div class="teaching-events__about-ttt-banner--link">
                <%= link_to("What happens at a Train to Teach event?", about_ttt_events_path, class: "button button--white") %>
              </div>
            </div>
          </div>
        <% end %>

        <% if @events.any? %>
          <div class="teaching-events__events teaching-events__events--regular">
            <h2 class="heading-m">Events coming up soon</h2>
            <ol><%= render TeachingEvents::EventComponent.with_collection(@events) %></ol>

            <div class="teaching-events__pagination">
              <%= paginate @events %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>

<section class="content-cta">
  <h3>Do you have a teaching event?</h3>
  <p>
    If you'd like to advertise your teaching event in this listing, <a href="https://form.education.gov.uk/service/Provider-event-details---Get-into-Teaching-website"
      title="Submit your event details on GOV.UK"
      target="_blank"
      rel="noopener norefferer">
    please fill in our online form</a>.
  </p>
</section>
