<%= content_for(:head) do %>
  <%= tag.link(rel: "canonical", href: events_url) %>
<% end %>

<section class="teaching-events">
  <header>
    <h1>Get Into Teaching events</h1>

    <p>
      All events listed here are designed to help you get into teacher training. They are all free to attend.
    </p>
  </header>

  <div class="teaching-events__container">
    <div class="teaching-events__filter">
      <%= render partial: "teaching_events/index/filter" %>
    </div>

    <% if @featured_events.blank? && @events.blank? %>
      <div class="teaching-events__none" role="alert">
        <div class="teaching-events__none--message">
          <h3>
            No events found.
          </h3>

          <a class="button" href="/mailinglist/signup">Sign up to be notified about events in your area</a>
        </div>
      </div>
    <% else %>
      <div class="teaching-events__listing">
        <% if @featured_events.any? %>
          <div class="teaching-events__events teaching-events__events--featured">
            <h2>Upcoming Train to Teach events</h2>

            <ol><%= render TeachingEvents::EventComponent.with_collection(@featured_events) %></ol>

            <div class="teaching-events__about-ttt-banner">
              <div class="teaching-events__about-ttt-banner--message">
                <p>
                  Designed by the Department for Education, Train to Teach events
                  give you everything you need to get into teaching.
                </p>
              </div>

              <div class="teaching-events__about-ttt-banner--link">
                <%= link_to("What happens at a Train to Teach event?", about_ttt_teaching_events_path, class: "button button--white") %>
              </div>
            </div>
          </div>
        <% end %>

        <% if @events.any? %>
          <div class="teaching-events__events teaching-events__events--regular">
            <ol><%= render TeachingEvents::EventComponent.with_collection(@events) %></ol>

            <div class="teaching-events__pagination">
              <%= paginate @events %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>

<section class="content-cta">
  <h3>Do you have a teaching event?</h3>
  <p>
    If you'd like to advertise your teaching event in this listing, <a href="https://form.education.gov.uk/service/Provider-event-details---Get-into-Teaching-website"
      title="Submit your event details on GOV.UK"
      target="_blank"
      rel="noopener norefferer">
    please fill in our online form</a>.
  </p>
</section>
