<section class="teaching-events">
  <header>
    <h1 class="heading-l heading--box-gitlilac">Training provider events</h1>
    <p>
      At these events, teacher training providers will talk about the courses
      they offer. You can also meet other people interested in a career in
      teaching.
    </p>
  </header>
  <div class="teaching-events__container">
    <div class="teaching-events__filter">
      <%= render partial: "teaching_events/index/filter" %>
    </div>
    <div class="teaching-events__listing">
      <% if @events.blank? %>
        <%= render partial: "teaching_events/index/no_results" %>
      <% else %>
        <div class="teaching-events__events teaching-events__events--regular">
          <h2 class="heading-m">Upcoming events</h2>
          <ol><%= render TeachingEvents::EventComponent.with_collection(@events) %></ol>
          <div class="teaching-events__pagination">
            <%= paginate @events %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<section class="content-cta">
  <h3>Do you have a training provider event?</h3>
  <p>
    If you want to advertise your training provider event in this list, <%= link_to "complete this form", provider_events_step_path(ProviderEvents::Steps::Form.key) %>.
  </p>
  <p>
    If you need to change or remove your event, contact <%= mail_to("ITT-provider.EVENTS@education.gov.uk") %>.
  </p>
</section>
