<section class="teaching-events">
  <h1>Events</h1>

  <div class="teaching-events__container">

    <div class="teaching-events__filter">
      <%= govuk_form_for(@event_search, method: :get, url: "/teaching-events") do |f| %>

        <div class="events__filter--group">
          <%= f.govuk_text_field(:postcode, label: { text: "Postcode" }, form_group: { classes: 'reduce-bottom-margin' }) %>
          <a href="#">Use my current location</a>
        </div>

        <div class="events__filter--group">
          <%= f.govuk_check_boxes_fieldset(:setting, legend: nil) do %>
            <%= f.govuk_check_box :setting, "online", label: { text: "Online" } %>
            <%= f.govuk_check_box :setting, "in_person", label: { text: "In person" } %>
          <% end %>
        </div>

        <div class="events__filter--group">
          <%= f.govuk_check_boxes_fieldset(:type, legend: { text: "Event type", tag: nil }) do %>
            <%= f.govuk_check_box :type, "train_to_teach", label: { text: "Train to teach" } %>
            <%= f.govuk_check_box :type, "online_forum", label: { text: "Online forum" } %>
            <%= f.govuk_check_box :type, "school_and_university", label: { text: "School and university" } %>
          <% end %>
        </div>

        <div class="events__filter--group">
          <%= tag.button("Update results", class: "button") %>
        </div>
      <% end %>
    </div>

    <div class="teaching-events__listing">
      Events list
    </div>
  </div>
</section>
