<section class="teaching-events">
  <header>
    <h1 class="heading-l heading--box-yellow">Training provider events</h1>
    <p>
      At these events, teacher training providers will talk about the courses
      they offer. You can also meet other people interested in a career in
      teaching.
    </p>
  </header>
  <div class="teaching-events__container">
    <div class="teaching-events__filter">
      <%= render partial: "teaching_events/index/filter" %>
    </div>
    <div class="teaching-events__listing">
      <% if @events.blank? %>
        <%= render partial: "teaching_events/index/no_results" %>
      <% else %>
        <div class="teaching-events__events teaching-events__events--regular">
          <h2 class="heading-m">Upcoming events</h2>
          <ol><%= render TeachingEvents::EventComponent.with_collection(@events) %></ol>
          <div class="teaching-events__pagination">
            <%= paginate @events %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<section class="content-cta">
  <h3>Do you have a teaching event?</h3>
  <p>
    If you'd like to advertise your teaching event in this listing, <a href="https://form.education.gov.uk/service/Provider-event-details---Get-into-Teaching-website"
      title="Submit your event details on GOV.UK">
      please fill in our online form</a>.
  </p>
  <p>
    If you'd like to edit or remove your event listing, please email <%= mail_to("getintoteaching.helpdesk@education.gov.uk") %>.
  </p>
</section>
