<div class="teaching-event">
  <header class="yellow">
    <div class="breadcrumbs-and-heading">
      <%= render Header::BreadcrumbComponent.new %>
      <h1><%= @event.name %></h1>
    </div>

    <div class="event-details">
      <%= render(partial: 'teaching_events/show/date-and-time') %>
      <%= render(partial: 'teaching_events/show/location-and-setting') %>
      <%= render(partial: 'teaching_events/show/register-button') if is_a_train_to_teach_event?(@event) %>
    </div>

    <div class="image">
      <%= image_pack_tag("media/images/content/hero-images/0017.jpg", alt: "A photograph of the venue", class: "event-info__venue_img") %>
    </div>

    <div class="triangle yellow">
      <svg height="100%" width="100%" viewbox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0,100 0,0 100,0" />
      </svg>
    </div>
  </header>

  <div class="container teaching-event__info">
    <article>
      <%= render(partial: "teaching_events/show/event-summary") %>
      <%= render(partial: "teaching_events/show/attending-training-providers") %>
      <%= render(partial: "teaching_events/show/scribble") if @event.scribble_id.present? %>
      <%= render(partial: "teaching_events/show/how-to-attend") if is_a_train_to_teach_event?(@event) %>
      <%= render(partial: "teaching_events/show/provider-info") if @event.show_provider_information? %>
    </article>

    <aside>
      <%= render(partial: "teaching_events/show/venue-information") if @event.show_venue_information? %>
    </aside>
  </div>

  <%= render(partial: "teaching_events/show/what-theyre-saying") %>
</div>
