<%
    if @event.open? && [
      can_sign_up_online?(@event),
      is_event_type?(@event, "School or University event"),
      @event.provider_website_url,
      @event.provider_contact_email
    ].any?
%>
  <section class="teaching-event__how-to-attend">
    <h2>How to attend</h2>

    <% if can_sign_up_online?(@event) %>

      <% if @event.in_person? %>
        <p>
          Register for this event to secure your place and check in faster on arrival using a QR code.
        </p>
      <% end %>

      <% if @event.online? %>
        <p>
          Register for this event and you'll receive joining instructions via email.
        </p>
        <p>
          For the best experience when accessing this event, we recommend using Google Chrome on a laptop or desktop PC.
        </p>
      <% end %>

      <%= render(partial: 'teaching_events/show/online_register-button') %>

    <% elsif is_event_type?(@event, "School or University event") %>
      <% if @event.provider_website_url %>
        <p>
          To register for this free event, visit the event provider's website.
        </p>
        <p>
          <%= link_to("Register for this event", @event.provider_website_url, class: 'button') %>
        </p>
      <% elsif @event.provider_contact_email %>
        <p>
          To register for this free event, <%= mail_to(@event.provider_contact_email, "email the event provider") %>.
        </p>
      <% else %>
        <p>
          To register for this event, follow the instructions in the event information section.
        </p>
      <% end %>
    <% elsif @event.provider_website_url %>
      <p>
        To register for this event, visit the event provider's website.
      </p>
      <p>
        <%= link_to("Register for this event", @event.provider_website_url, class: 'button') %>
      </p>
    <% elsif @event.provider_contact_email %>
      <p>
        To register for this event, <%= mail_to(@event.provider_contact_email, "email the event provider") %>.
      </p>
    <% end %>
  </section>
<% end %>
