<section class="teaching-event__venue-information">
  <h2>Venue information</h2>

  <%= tag.p(safe_join(@event.venue_address, tag.br)) %>

  <section><%= event_location_map(@event) %></section>

  <ul>
    <li>
      <%= link_to("Open in Google Maps", "https://maps.google.com/?q=#{event_address(@event)}", target: "blank") %>
    </li>
    <% if display_event_provider_info?(@event) && @event.provider_website_url %>
      <li>
        <%= link_to("Visit venue website", @event.provider_website_url, { target: "blank" }) %>
      </li>
    <% end %>
  </ul>

  <% if @event.building.image_url %>
    <div class="teaching-event__venue-image">
      <%= image_tag(@event.building.image_url, alt: @event.building.venue) %>
    </div>
  <% end %>
</section>
