<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Why teach physics</h2>
      <p>As a physics teacher, you’ll be engaging students in a wide range of experiments that can spark their interest. You could inspire your pupils to consider rewarding professions, from tackling climate change to artificial intelligence (AI).</p>
   <%= render 'content/shared/teaching/benefits' %>
  </section>

<section class="col col-720">
    <%= render 'content/shared/quotes/quote_science_jane' %>
  </section>

   <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Shape your pupils' futures</h2>
    <div class="inset">
      <p>Teaching physics opens the door for your pupils to pursue exciting careers. They could work in a diverse range of fields, from astronomy and sound engineering, to data science and programming.</p>
      <p>By solving challenging problems, your pupils could make significant contributions to these impactful areas.</p>
      <p>Your pupils will learn more from you than you might think. As their teacher, you’ll guide your pupils though the skills they need to show their understanding of physics. You'll teach them valuable life skills such as critical thinking, decision making and problem solving.</p>
    </div>
  </section>

    <section class="col col-720">
    <%= render 'content/shared/quotes/quote_progression_chris' %>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">What you'll teach</h2>
    <p>You'll teach the <a href="https://www.gov.uk/government/publications/national-curriculum-in-england-science-programmes-of-study/national-curriculum-in-england-science-programmes-of-study">national curriculum for physics</a>, with opportunities to develop your pupils' ability to think like physicists and see physics as a solution to many challenges.</p>
    <p>Themes you'll cover when you teach 11 to 14 year olds (key stage 3) include:</p>
    <ul>
      <li>energy</li>
      <li>motion and forces</li>
      <li>electricity and electromagnetism</li>
      <li>waves and matter</li>
    </ul>
    <p>Themes you’ll cover when you teach 14 to 16 year olds (key stage 4) include:</p>
    <ul>
      <li>energy, forces and wave motion</li>
      <li>electricity, magnetism and electromagnetism</li>
      <li>the structure of matter</li>
      <li>atomic structure and space physics</li>
    </ul>
    <p>Explore what teaching a key stage 4 physics lesson would be like at the <a href="https://www.thenational.academy/teachers/programmes/physics-secondary-ks4-higher-aqa/units">Oak National Academy website</a>.</p>
    <p>Themes you’ll cover when you teach 16 to 18 year olds (key stage 5) include:</p>
    <ul>
      <li>fields, vectors and scalars</li>
      <li>mechanics and mechanical properties of matter</li>
      <li>electric circuits and waves</li>
      <li>matter, quantum and nuclear physics</li>
    </ul>
    <%= render 'content/shared/teaching/ages_abilities' %>
  </section>

  <section class="col col-space-m col-720">
    <h2 class="heading--box-blue">Start your journey into teaching physics</h2>
    <%= render 'content/shared/qualifications-training/check_qualifcations' %>
    <p>Physics teacher training courses have had successful applications from candidates with a range of degrees, including maths, geology, business studies and finance.</p>
    <%= render 'content/shared/qualifications-training/find_out_more' %>
    <%= render 'content/shared/qualifications-training/non_uk_qualifications' %>
  </section>

  <section class="col col-space-m col-720">
    <%= render 'content/shared/qualifications-training/subject_knowledge' %>
  </section>

   <section class="col col-space-m col-720">
    <h3>Fund your teacher training</h3>
    <%= render 'content/shared/teaching/bursary_scholarship' %>
    <%= render 'content/shared/teaching/funding_support' %>
  </section>

  <section class="col col-space-m col-720">
    <%= render 'content/shared/qualifications-training/paid_internships' %>
  </section>

  <section class="col col-space-m col-720">
    <h3>Engineers teach physics</h3>
    <p>If you're an engineer considering a career as a physics teacher, there's a teacher training course designed especially with your experience and skills in mind. </p>
    <p>Find out about <a href="/life-as-a-teacher/explore-subjects/engineers-teach-physics">the engineers teach physics training programme</a>. </p>
  </section>
  <section class="col col-720">
    <%= render 'content/shared/teaching/ect_support' %>
  </section>
</div>
