<% if recent_feedback.present? %>
<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m"><%= recent_feedback.count %> most recent feedback submissions</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" style="width: 100px;" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Topic</th>
      <th scope="col" class="govuk-table__header">Visit explanation</th>
      <th scope="col" class="govuk-table__header">Rating</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% recent_feedback.each do |feedback| %>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><%= feedback.created_at.to_formatted_s(:govuk_date) %></td>
      <td class="govuk-table__cell"><%= feedback.topic %></td>
      <td class="govuk-table__cell"><%= t("helpers.label.teacher_training_adviser_feedback.rating_options.#{feedback.rating}", **Value.data) %></td>
      <td class="govuk-table__cell"><%= feedback.explanation %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>There are no feedback submissions yet.</p>
<% end %>
