<h1>Search Get Into Teaching</h1>

<%= govuk_form_for Search.new, url: search_path, method: :get do |f| %>
  <%= f.govuk_text_field :search,
        width: "two-thirds",
        autocomplete: "on",
        label: { text: "Enter your search term" },
        placeholder: "Enter your search term" %>

  <div class="govuk-form-group">
    <%= f.button name: nil, class: "request-button" do %>
      Search
      <%= "again" if @search.search&.present? %>
      <%= fas_icon "search" %>
    <% end %>
  </div>
<% end %>

<% if @search.results %>
  <p>
  <% if @search.results.any? %>
    Showing search results for <strong><%= @search.search %></strong>
  <% else %>
    <em>
      No results found for <strong><%= @search.search %></strong>
    </em>
  <% end %>
  </p>

  <div class="searchpage__results">
    <%= render partial: "result", collection: @search.results %>
  </div>
<% end %>
