<div class="row">
  <section class="col col-full-content">
    <%= render(CallsToAction::Promo::PromoComponent.new(border: :top)) do |promo| %>
      <% promo.with_left_section(classes: %w[events-background]) %>
      <% promo.with_right_section(
            caption: "Events near you",
            heading: "Events are a great place to ask questions") do %>
          <p>Speak to teachers, local teacher training providers and expert advisers at an in-person event.</p>

          <%= form_for TeachingEvents::Search.new, method: :post, url: events_path do |f| %>
            <%= f.hidden_field :distance, value: 10 %>
            <%= f.hidden_field :online, multiple: true, value: false %>
            <%= f.label :postcode, "Enter postcode" %>
            <%= f.text_field :postcode, class: "govuk-input", autocomplete: "postal-code" %>
            <%= tag.button("Search", class: "button", type: :submit, id: "event-search") %>
          <% end %>

          <p>Or <%= link_to("find an online event", events_path(add_online_events(params))) %>.</p>
      <% end %>
    <% end %>
  </section>
</div>
