<!doctype html>
<html lang="en" class="govuk-template">
    <%= render "sections/head" %>
    <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link table", "link-target": "content", "link-assets-url-value": ENV["APP_ASSETS_URL"] }, id: "body" do %>
      <%= render(partial: "sections/gtm_fallback") if gtm_enabled? %>

      <%= render HeaderComponent.new(breadcrumbs: true) %>

      <main class="story-landing" id="main-content">
        <%= render Header::HeroComponent.new(@front_matter) %>

        <section class="container main-body">
          <% if @front_matter.key?("featured_page") %>
            <section class="stories-feature">
              <div class="stories-feature__image" style="background-image:url('<%= asset_pack_path(@front_matter.dig("featured_page", "image")) %>')"></div>
              <div class="stories-feature__content">
                <%= tag.h2(@front_matter.dig("featured_page", "heading")) %>
                <%= tag.span(@front_matter.dig("featured_page", "subheading"), class: "stories-feature__subheading") %>
                <%= tag.p(@front_matter.dig("featured_page", "text")) %>
                <%= link_to(@front_matter.dig("featured_page", "link", "text"), @front_matter.dig("featured_page", "link", "path"), class: "git-link white") %>
              </div>
            </section>
          <% end %>

          <section class="feature">
            <% @front_matter["sections"]&.each do |name, section| %>
              <% if section["stories"].present? %>
                <div class="story-landing__stories">
                  <div class="story-landing__header">
                    <%= tag.h2(name) %>
                    <%= tag.p(section["text"]) %>
                  </div>
                  <div class="story-landing__cards cards stories">
                    <%= render Cards::RendererComponent.with_collection(section["stories"]) %>
                  </div>

                  <div class="story-landing__footer">
                    <%= link_to section["link"] do %>
                      <span>Read all stories about <%= name.downcase %></span>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </section>
        </section>
      </main>

      <%= render FooterComponent.new %>
    <% end %>
</html>
