<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link", "link-target": "content", "link-assets-url-value": ENV["APP_ASSETS_URL"] }, id: "body" do %>
    <%= render(partial: "sections/gtm_fallback") unless Rails.application.config.x.legacy_tracking_pixels %>

    <%= render HeaderComponent.new(breadcrumbs: true) do |c| %>
      <%= c.hero(@front_matter) %>
    <% end %>

    <main id="main-content">
      <section class="container">
        <section class="feature">
          <%= yield %>

          <div class="cards stories">
            <%= render Cards::RendererComponent.with_collection(@front_matter["stories"]) %>
          </div>
        </section>
      </section>
    </main>

    <%= render FooterComponent.new %>
  <% end %>
</html>
