<!doctype html>
<html lang="en" class="govuk-template">
    <%= render "sections/head" %>
    <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link", target: "link.content" }, id: "body" do %>
      <%= render "sections/header" %>
      <%= render Sections::HeroComponent.new(@front_matter) %>
      <main class="content container-1000" role="main" id="main-content">
        <%= back_link "/life-as-a-teacher/my-story-into-teaching", text: "All stories" %>
        <%= yield %>
        <div class="story-cards">
          <%= render Stories::CardComponent.with_collection(@front_matter.dig("stories")) %>
        </div>
      </main>
      <%= render "sections/footer" %>
      <%= render "components/videoplayer" %>
      <%= render "sections/cookie-acceptance" %>
    <% end %>
</html>
