<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link table", "link-target": "content", "link-assets-url-value": ENV["APP_ASSETS_URL"] }, id: "body" do %>
    <%= render(partial: "sections/gtm_fallback") if gtm_enabled? %>

    <%= render HeaderComponent.new(breadcrumbs: true) %>

    <main id="main-content">
      <%= render Content::HeroComponent.new(@front_matter) %>

      <section class="container main-body">
        <section class="feature">
          <%= yield %>

          <div class="cards stories">
            <%= render Cards::RendererComponent.with_collection(@front_matter["stories"]) %>
          </div>
        </section>
      </section>
    </main>

    <%= render FooterComponent.new %>
  <% end %>
</html>
