<%= render(CallsToAction::Promo::PromoComponent.new) do |promo| %>
  <% promo.left_section(
      caption: "24 May 2022",
      heading: "Virtual Train to Teach event",
      link_target: "/events/train-to-teach-national-virtual-event-240522",
      link_text: "Sign up for this event") do %>
    <p>Attend an exclusive panel session made up of expert advisers, teachers and training providers.</p>
  <% end %>

  <% promo.right_section(
        caption: "Events near you",
        heading: "Events are a great place to ask questions") do %>
      <p>Events are one of the best ways to speak to people and ask the questions you need to get into teaching.</p>

      <%= form_for Events::Search.new, method: :get, url: search_events_path do |f| %>
        <%= f.hidden_field :distance, value: 10 %>
        <%= f.label :postcode, "Enter postcode" %>
        <%= f.text_field :postcode, autocomplete: "postal-code" %>
        <%= tag.button("Search", class: "button", id: "event-search") %>
      <% end %>
  <% end %>
<% end %>
