<div class="promo-content events-near-you">
  <div class="events-near-you__next-event">
    <div>
      <h2>
        <div class="caption">
          Find events
        </div>

        <br>

        <div>Train to teach events </div>
      </h2>
    </div>

    <div>
      <div class="date-and-time">
        <p>Meet the teachers and experts who can tell you what teaching is really like.</p>
      </div>
    </div>

    <div>
      <a href="#" class="button button--white button--inline-block">Find an event near you</a>
    </div>
  </div>

  <div class="events-near-you__find-an-event">
    <h2>
      <div class="caption">
        Events near you
      </div>

      Events are a great place to ask questions
    </h2>

    <p>
      Events are one of the best ways to speak to people and ask the questions you need to get into teaching.
    </p>

    <%= form_for Events::Search.new, method: :get, url: search_events_path do |f| %>
      <%= f.hidden_field :distance, value: 10 %>
      <%= f.label :postcode, "Enter postcode" %>
      <%= f.text_field :postcode, autocomplete: "postal-code" %>
      <%= tag.button("Search", class: "button", id: "event-search") %>
    <% end %>
  </div>
</div>
