<%= render(CallsToAction::Promo::PromoComponent.new) do |promo| %>
  <% promo.left_section(
      caption: "Find events",
      heading: "Train to teach events",
      link_target: "/event-categories/train-to-teach-events",
      link_text: "Find an event near you") do %>
    <p>Meet the teachers, training providers and other experts who can tell you about training to teach.</p>
  <% end %>

  <% promo.right_section(
        caption: "Events near you",
        heading: "Events are a great place to ask questions") do %>
      <p>Events are one of the best ways to speak to people and ask the questions you need to get into teaching.</p>

      <%= form_for Events::Search.new, method: :get, url: search_events_path do |f| %>
        <%= f.hidden_field :distance, value: 10 %>
        <%= f.label :postcode, "Enter postcode" %>
        <%= f.text_field :postcode, autocomplete: "postal-code" %>
        <%= tag.button("Search", class: "button", id: "event-search") %>
      <% end %>
  <% end %>
<% end %>
