<div class="event-box">
    <header class="event-box__header">
        <h2><%= heading %></h2>
    </header>

    <% unless condensed? %>
      <div class="event-box__datetime">
        <%= datetime %>
      </div>
    <% end %>

    <%= divider %>

    <div class="event-box__content">
      <% unless condensed? %>
        <p><%= description %></p>
      <% end %>
    </div>

    <footer class="event-box__footer">
      <% if type && type != GetIntoTeachingApiClient::Constants::EVENT_TYPES["Online Event"] %>
        <div class="event-box__footer__item">
          <%= event_type_icon %>
          <div class="event-box__footer__meta">
            <%= type_name %>
          </div>
        </div>
      <% end %>

      <% if online? %>
        <div class="event-box__footer__item">
          <%= online_icon %>
          <div class="event-box__footer__meta">
            Online Event
          </div>
        </div>
      <% end %>

      <% if location.present? %>
        <div class="event-box__footer__item">
          <%= location_icon %>
          <div class="event-box__footer__meta event-box__footer__meta--location">
            <%= location %>
          </div>
        </div>
      <% end %>
    </footer>
</div>
