<div class="event-box">
    <header class="event-box__header">
      <h4 class="heading--margin-0"><%= title %></h4>
    </header>

    <div class="event-box__datetime">
      <%= datetime %>
    </div>

    <%= divider %>

    <footer class="event-box__footer">
      <% if show_category? %>
        <div class="event-box__footer__item">
          <div class="event-box__footer__icon-wrapper">
            <%= event_type_icon %>
          </div>
          <div class="event-box__footer__meta">
            <%= type_name %>
          </div>
        </div>
      <% end %>

      <% if online? %>
        <div class="event-box__footer__item">
          <%= online_icon %>
          <div class="event-box__footer__meta">
            <%= online_text %>
          </div>
        </div>
      <% end %>
    </footer>
</div>
