<div class="event-resultboxshort">
    <div class="event-resultboxshort__header">
        <h2><%= datetime %></h2>
    </div>

    <div class="event-resultbox__divider event-resultbox__divider--<%= type_name.parameterize %>"></div>

    <div class="event-resultboxshort__content">
      <% if type && type != GetIntoTeachingApiClient::Constants::EVENT_TYPES["Online Event"] %>
        <span class="event-resultboxshort__content__label">
          <div class="event-resultbox__content__icon icon-<%= type_name.parameterize %>" ></div>
          <%= type_name %>
        </span>
      <% end %>

      <% if online? %>
        <span class="event-resultboxshort__content__label">
          <div class='event-resultbox__content__icon icon-online-event <%= "icon-online-event--#{event_type_color(type)}" %>'></div>
          Online Event
        </span>
      <% end %>

      <% if location.present? %>
        <span class="event-resultboxshort__content__location event-resultboxshort__content__label">
          <div class='event-resultbox__content__icon icon-pin <%= "icon-pin--#{event_type_color(type)}" %>'></div>
          <%= safe_format(location) %>
        </span>
      <% end %>
    </div>
</div>
