<h2 id="searchforevents" class="strapline search-for-events__header"><%= heading %></h2>

<div class="search-for-events__content">
  <%= form_for search, method: :get, url: path do |f| %>

    <div class="search-for-events__content__inputs"
          data-controller="conditional-field"
          data-conditional-field-mode="hide"
          data-conditional-field-expected="">

      <% if include_type %>
        <%= tag.div(class: input_field_classes(:type)) do %>
            <%= f.label :type, "Event type", class: "search-for-events__content__input__label" %>
            <%= f.collection_select :type, search.available_event_types, :id, :value, { include_blank: "All events" } %>
        <% end %>
      <% end %>

      <%= tag.div(class: input_field_classes(:distance)) do %>
          <%= f.label :distance, "Location", class: "search-for-events__content__input__label" %>
          <%= f.select :distance, search.available_distances, {},
                data: { action: "conditional-field#toggle", target: "conditional-field.source" } %>
      <% end %>

      <%= tag.div(class: input_field_classes(:postcode), data: { target: "conditional-field.showhide" }) do %>
        <%= f.label :postcode, "Postcode", class: "search-for-events__content__input__label" %>
        <%= f.text_field :postcode %>
      <% end %>

      <%= tag.div(class: input_field_classes(:month)) do %>
          <%= f.label :month, "Month", class: "search-for-events__content__input__label" %>
          <%= f.select :month, search.available_months, **month_args %>
      <% end %>
    </div>

    <% if error_messages.any? %>
      <div class="search-for-events__content__errors">
        <% error_messages.each do |error_message| %>
          <%= tag.div(error_message) %>
        <% end %>
      </div>
    <% end %>

    <div class="search-for-events__content__update">
      <button class="request-button">Update results <%= helpers.fas_icon "sync" %></button>
    </div>
  <% end %>
</div>
