<div class="colored-stripe colored-stripe--grey colored-stripe--with-title">
  <section class="container">
    <article class="markdown overhang fullwidth">
      <h2 id="searchforevents" class="colored-stripe__title purple"><%= heading %></h2>
      <div class="colored-stripe__content">
        <div class="search" data-controller="<%= "event-search-button" if @performed_search %>">
          <%= form_for search, method: :get, url: path do |f| %>
            <div class="search__controls" data-controller="conditional-field" data-conditional-field-mode="hide" data-conditional-field-expected="">
              <% if include_type %>
                <%= tag.div(class: input_field_classes(:type)) do %>
                    <%= f.label :type, "Event type" %>
                    <%= f.collection_select :type, search.class.available_event_types, :id, :value, { include_blank: "All events" } %>
                <% end %>
              <% end %>

              <%= tag.div(class: input_field_classes(:distance)) do %>
                  <%= f.label :distance, "Location" %>
                  <%= f.select :distance, search.class.available_distances, {},
                        data: { action: "conditional-field#toggle", "conditional-field-target": "source" } %>
              <% end %>

              <%= tag.div(class: input_field_classes(:postcode), data: { "conditional-field-target": "showhide" }) do %>
                <%= f.label :postcode, "Postcode" %>
                <%= f.text_field :postcode %>
              <% end %>

              <%= tag.div(class: input_field_classes(:month)) do %>
                  <%= f.label :month, "Month" %>
                  <%= f.select :month, search.available_months, **month_args %>
              <% end %>
            </div>

            <% if error_messages.any? %>
              <div class="form__errors">
                <% error_messages.each do |error_message| %>
                  <%= tag.div(error_message) %>
                <% end %>
              </div>
            <% end %>

            <button class="request-button">Update results <%= helpers.fas_icon "sync" %></button>
          <% end %>
        </div>
      </div>
    </article>
  </section>
</div>
