<p>If you’re studying for an undergraduate or master's degree and interested in teaching, an internship could help you to understand what it’s really like in the classroom.</p>

<p>Internships last 3 weeks, start in June or July and you’ll be paid from <%= v :teachinginternship_weekly %>% per week.</p>

<p>Find out how to apply, including details of teaching internship providers in each region, further down this page.</p>

<section class="col col-640">
  <%= render Content::QuoteComponent.new(
    text: "The support I had was amazing, I was treated like a member of staff, and I was welcomed by everyone.",
    name: "Chloe, former teaching intern",
    classes: "quote--indent"
  ) %>
</section>

<h2>Who can apply</h2>

<p>You'll need to be studying for a related undergraduate or master's degree and interested in teaching one of the following:</p>
<ul>
  <li>chemistry</li>
  <li>computing</li>
  <li>languages</li>
  <li>maths</li>
  <li>physics</li>
</ul>

<p> If you’re interested in teaching a different subject, you can still <a href="/is-teaching-right-for-me/get-school-experience">get school experience</a> and find out what it’s like to be in a classroom.</p>

<section class="col col-640">
  <%= render Content::QuoteComponent.new(
    text: "Towards the end of the internship, I was able to teach parts of lessons that I had planned, and I really started to find my feet at the front of the classroom.",
    name: "Ben, former teaching intern",
    classes: "quote--indent"
  ) %>
</section>

<h2> What you'll experience</h2>

<p>You'll get a feel for what life as a teacher is like. Your internship will give you an opportunity to:</p>
  <ul>
     <li>shadow experienced teachers and observe lessons</li>
     <li>jointly plan and teach lessons</li>
     <li>get one-to-one guidance from outstanding classroom teachers and subject specialists</li>
     <li>see what school life is like for a teacher outside of the classroom</li>
  </ul>

<section class="col col-640">
  <%= render Content::QuoteComponent.new(
    text: "I observed lessons, provided 1:1 support to pupils, and even taught classes! The internship was particularly beneficial in providing a unique insight into teacher training and the application process.",
    name: "Carly, former teaching intern",
    classes: "quote--indent"
  ) %>
</section>

<h2>Steps to apply</h2>

<p> You must apply directly to one of the teaching internship providers below by following these steps:</p>
<ol>
  <li>Find a teaching internship provider delivering the programme near you and review the areas where they have partner schools.</li>
  <li>Use the link to their website to find out further details and how to apply.</li>
  <li>Maximise the chances of your application succeeding with <a href="/explore-teaching-advisers">free one-to-one support from an explore teaching adviser</a>.</li>
</ol>
<h3>Find a teaching internship in your region</h3>
<p>Select a region:</p>
<section>
<section class="providers-list">
  <%= render GroupedCards::ListingComponent.new @front_matter["provider_groups"] %>
</section>
