<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link table", "link-target": "content", "link-assets-url-value": ENV["APP_ASSETS_URL"] }, id: "body" do %>
    <%= render(partial: "sections/gtm_fallback") if new_gtm_enabled? %>

    <%= render HeaderComponent.new(breadcrumbs: true) %>

    <main id="main-content">
      <section class="container blog">
        <%= render(partial: "blog/header", locals: { mobile: true }) %>
        <aside>
          <%= yield :aside %>
        </aside>
        <article class="text-content longform<%= " with-aside" if content_for?(:aside) %>">
          <%= render(partial: "blog/header", locals: { mobile: false }) %>
          <%= yield %>
        </article>
      </section>
    </main>

    <%= render FooterComponent.new %>
  <% end %>
</html>
