<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= body_tag do %>
    <%= render "sections/govuk_javascript" %>
    <%= render HeaderComponent.new(breadcrumbs: true) %>

    <%= main_tag do %>
      <section class="container blog main-section">
        <%= render(partial: "blog/header", locals: { mobile: true }) %>
        <article class="text-content longform<%= " with-aside" if content_for?(:aside) %>">
          <%= render(partial: "blog/header", locals: { mobile: false }) %>
          <%= yield %>
        </article>
        <aside role="complementary">
          <%= yield :aside %>
        </aside>
      </section>
    <% end %>

    <%= render FooterComponent.new %>
  <% end %>
</html>
