<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link", "link-target": "content" }, id: "body" do %>
    <%= render(partial: "sections/gtm_fallback") unless Rails.application.config.x.legacy_tracking_pixels %>

    <%= render HeaderComponent.new(breadcrumbs: true) %>

    <main id="main-content">
      <section class="container blog">
        <header class="list-header">
          <%= tag.h1(@front_matter["title"]) %>
        </header>

        <%= yield :popular_tags %>

        <div class="text-content longform">
          <%= yield %>
        </div>
      </section>
    </main>

    <%= render FooterComponent.new %>
  <% end %>
</html>
