<% content_for(:head) do %>
  <%= blog_structured_data(@post) %>
<% end %>

<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link table", "link-target": "content", "link-assets-url-value": ENV["APP_ASSETS_URL"] }, id: "body" do %>
    <%= render(partial: "sections/gtm_fallback") if gtm_enabled? %>

    <%= render HeaderComponent.new(breadcrumbs: true) %>

    <main id="main-content">
      <section class="container blog main-body">
        <article class="markdown longform blog-article">
          <header>
            <%= tag.h1(@front_matter["title"]) %>
            <% if @front_matter.key?("subtitle") %>
              <%= tag.div(@front_matter["subtitle"], role: 'doc-subtitle') %>
            <% end %>

            <%= render partial: "blog/date_and_author", locals: { front_matter: @front_matter } %>
          </header>

          <%= yield %>

          <% if @front_matter.key?("closing_paragraph") %>
            <%= render(partial: %(blog/closing-paragraphs/#{@front_matter['closing_paragraph']})) %>
          <% end %>

          <hr>

          <footer>
            <h2>Related to this article</h2>
            <div class="blog-tags-list container ">
              <h3>Tags</h3>
              <%= render partial: "blog/tag_list", locals: { tags: @front_matter["tags"] } %>
            </div>

            <h3>Similar articles</h3>
            <ul>
              <% Pages::Blog.similar_posts(@post).each do |path, fm| %>
                <li><%= link_to(fm[:title], path) %></li>
              <% end %>
            </ul>
          </footer>
        </article>
      </section>
    </main>

    <%= render FooterComponent.new %>
  <% end %>
</html>
