<% content_for(:head) do %>
  <%= blog_structured_data(@post) %>
<% end %>

<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= body_tag do %>
    <%= render "sections/govuk_javascript" %>
    <%= render HeaderComponent.new(@front_matter) %>

    <%= main_tag do %>
      <section class="container blog main-section">
        <%= render(partial: "sections/content_errors") %>

        <article class="markdown longform blog-article">
          <header>
            <%= tag.h1(@front_matter["title"], class: "heading-l heading--margin-bottom-0") %>
            <% if @front_matter.key?("subtitle") %>
              <%= tag.div(@front_matter["subtitle"], role: 'doc-subtitle') %>
            <% end %>

            <%= render partial: "blog/date_and_author", locals: { front_matter: @front_matter } %>
          </header>

          <%= yield %>

          <% if @front_matter.key?("closing_paragraph") %>
            <%= render(partial: %(blog/closing-paragraphs/#{@front_matter['closing_paragraph']})) %>
          <% end %>

          <hr>

          <footer>
            <h2 class="heading-m">Related to this article</h2>
            <div class="blog-tags-list container ">
              <h3 id="tags">Tags</h3>
              <%= render partial: "blog/tag_list", locals: { tags: @front_matter["tags"] } %>
            </div>

            <h3>Similar articles</h3>
            <ul>
              <% Pages::Blog.similar_posts(@post).each do |path, fm| %>
                <li><%= link_to(fm[:title], path) %></li>
              <% end %>
            </ul>
          </footer>
        </article>
      </section>

      <% if @front_matter.key?("promo_content") %>
        <% @front_matter["promo_content"]&.each do |partial| %>
          <%= render(partial) %>
        <% end %>
      <% end %>
    <% end %>

    <%= render FooterComponent.new %>
  <% end %>
</html>
