<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link scroll", "link-target": "content" }, id: "body" do %>

    <%= render HeaderComponent.new(breadcrumbs: true) %>

    <main role="main" id="main-content">
      <section class="container">
        <article class="markdown blog">
          <header>
            <%= tag.h1(@front_matter["title"]) %>

            <%= tag.span(format_blog_date(@front_matter["date"])) %>
            <% if @front_matter.key?("author") %>
              <%= tag.span(@front_matter["author"]) %>
            <% end %>
          </header>

          <%= yield %>
        </article>
      </section>
    </main>

    <%= render "sections/mailing-list-bar" %>
    <%= render "sections/footer" %>
    <%= render "components/videoplayer" %>
    <%= render "sections/cookie-acceptance" %>
    <%= render "components/analytics" %>
  <% end %>
</html>
