<div class="navbar limit-content-width">
    <%= render "components/logo" %>
    <div class="navbar__desktop">
        <ul>
            <%= nav_link("Home", '/') %>
            <% resources.each do |resource| %>
                <%= nav_link(resource[:front_matter][:title], resource[:path]) %>
            <% end %>
            <%= nav_link("Find an event near you", events_path) %>
        </ul>

        <div class="navbar__desktop__search">
          <%= link_to image_pack_tag("icon-site-search.svg", alt: "Search"), search_path %>
        </div>
    </div>

    <div class="navbar__mobile" data-controller="navigation">
        <div class="navbar__mobile__buttons">
            <a data-action="click->navigation#navToggle" href="javascript:void(0);" class="icon">
                <div data-navigation-target="label" id="navbar-label" class="icon-hamburger-label">Close</div>
                <div data-navigation-target="hamburger" id='hamburger' class="icon-close"></div>
            </a>
            <%= link_to image_pack_tag("icon-site-search.svg", alt: "Search"), search_path %>
        </div>
        <div data-navigation-target="links" id="navbar-mobile-links" class="navbar__mobile__links">
            <ul>
                <%= nav_link("Home", '/') %>
                <% resources.each do |resource| %>
                    <%= nav_link resource[:front_matter][:title], resource[:path] %>
                <% end %>
                <%= nav_link "Find an event near you", events_path %>
            </ul>
        </div>
    </div>
</div>
