<div class="navbar limit-content-width">
    <div class="logo-wrapper">
        <div class="logo">
            <%= render "components/logo" %>
        </div>
    </div>
    <div class="navbar__desktop">
        <ul>
            <%= nav_link("Home", '/') %>
            <% resources.each do |resource| %>
                <%= nav_link(resource[:front_matter][:title], resource[:path]) %>
            <% end %>
            <%= nav_link("Find an event near you", events_path) %>
        </ul>
    </div>

    <div class="navbar__mobile" data-controller="navigation">
        <div class="navbar__mobile__buttons">
            <a data-action="click->navigation#navToggle" href="javascript:void(0);" class="icon">
                <div data-navigation-target="hamburger" id='hamburger' class="icon-close"></div>
                <div data-navigation-target="label" id="navbar-label" class="icon-hamburger-label">Close</div>
            </a>
        </div>
        <div data-navigation-target="links" id="navbar-mobile-links" class="navbar__mobile__links">
            <ul>
                <li><%= link_to("Home", root_path) %></li>
                <% resources.each do |resource| %>
                    <li><%= link_to resource[:front_matter][:title], resource[:path] %></li>
                <% end %>
                <li><%= link_to "Find an event near you", events_path %></li>
            </ul>
        </div>
    </div>
</div>
