<!doctype html>
<html lang="en" class="govuk-template">
    <%= render "sections/head" %>
    <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link scroll", "link-target": "content" }, id: "body" do %>

    <div id="skiplink-container">
      <div>
        <a href="#main-content" class="skiplink govuk-link">Skip to main content</a>
      </div>
    </div>

    <%= render "sections/header" %>
    <%= render Header::HeroComponent.new(@front_matter) do %>
      <% if @front_matter["hero_nav"].any? %>
        <ol class="hero__nav">
          <% @front_matter["hero_nav"].each do |section, href| %>
          <li><%= link_to(tag.span(section), href) %></li>
          <% end %>
        </ol>
      <% end %>
    <% end %>

    <main role="main" id="main-content">
      <section class="container">
        <article class="markdown hero-nav">
          <%= yield %>
        </article>
      </section>
    </main>

    <%= render "sections/mailing-list-bar" %>
    <%= render "sections/footer" %>
    <%= render "components/videoplayer" %>
    <%= render "sections/cookie-acceptance" %>
    <%= render "components/analytics" %>
  <% end %>
</html>
