<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link", "link-target": "content", "link-assets-url-value": ENV["APP_ASSETS_URL"] }, id: "body" do %>
    <%= render(partial: "sections/gtm_fallback") unless Rails.application.config.x.legacy_tracking_pixels %>

    <%= render HeaderComponent.new do |c| %>
      <% c.hero(@front_matter) do %>
        <% if @front_matter["hero_nav"].any? %>
          <ol class="hero__nav">
            <% @front_matter["hero_nav"].each do |section, href| %>
              <%= tag.li(link_to(tag.span(section), href)) %>
            <% end %>
          </ol>
        <% end %>
      <% end %>
    <% end %>

    <main id="main-content">
      <section class="container">
        <article class="markdown hero-nav">
          <%= yield %>
        </article>
      </section>
    </main>

    <%= render FooterComponent.new %>
  <% end %>
</html>
