<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link table", "link-target": "content", "link-assets-url-value": ENV["APP_ASSETS_URL"] }, id: "body" do %>
    <%= render(partial: "sections/gtm_fallback") if gtm_enabled? %>

    <%= render HeaderComponent.new %>

    <main id="main-content" role="main">
      <%= render Content::HeroComponent.new(@front_matter) do %>
        <% if @front_matter["hero_nav"].any? %>
          <ol class="hero__nav">
            <% @front_matter["hero_nav"].each do |section, href| %>
              <%= tag.li(link_to(tag.span(section), href)) %>
            <% end %>
          </ol>
        <% end %>
      <% end %>

      <section class="container main-body">
        <%= render(partial: "sections/content_errors") %>

        <article class="markdown hero-nav">
          <%= yield %>
        </article>
      </section>
    </main>

    <%= render FooterComponent.new %>
  <% end %>
</html>
