<div class="row">
  <section class="col col-720">
    <h2 class="heading--box-blue">How can I fund my teacher training?</h2>
  <section>
    <%= render Content::InsetTextComponent.new(text: "Financial support for courses starting between September 2025 and July 2026 will be announced soon.") %>
  </section>
    <div class="inset">
      <p><%= link_to("Find out more about how to get a bursary or scholarship", page_path("funding-and-support/scholarships-and-bursaries")) %>.</p>
    </div>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">More financial support</h2>

    <div class="inset">
      <p>
        You can get a tuition fee loan and maintenance loan to fund your teacher training,
        even if you've had student finance before.
      </p>

      <p>You could also be eligible for up to:</p>

      <ul>
        <li><%= v :finance_childcaregrantweeklypayment_twoplus %> a week to support childcare costs for 2 or more children</li>
        <li><%= v :finance_adultdependantsgrant_value %> a year if an adult depends on you</li>
        <li><%= v :finance_disabilityadditionalfunding %> a year if you're disabled</li>
      </ul>

      <p><%= link_to("Find out more about how you could fund your training", page_path("funding-and-support")) %>.</p>
    </div>
  </section>
</div>
