<li>
  <article class="blog">
    <header>
      <h2><%= link_to fm[:title], path %></h2>
      <% if fm[:subtitle].present? %>
        <div role="doc-subtitle"><%= fm[:subtitle] %></div>
      <% end %>
      <div class="blog__date">
        <i>Published</i> <%= format_blog_date(fm[:date]) %>
      </div>

      <div class="blog__author">
        <i>By</i> <%= fm[:author] || "the Department for Education" %>
      </div>
    </header>
    <% if fm[:images].present? %>
      <p><%= image_pack_tag(fm[:images]&.values&.first) %></p>
    <% end %>
    <p><%= fm[:description] %></p>

    <%= link_to "Read more", path %>
  </article>
</li>
