<%= content_for :aside do %>
  <div>
    <h2 class="heading-s">Popular tags</h2>
    <%= render partial: "blog/tag_list", locals: { tags: Pages::Blog.popular_tags } %>
  </div>

  <div>
    <h2 class="heading-s">Highlights</h2>
    <%= render partial: "blog/highlights" %>
  </div>

  <hr>
<% end %>

<ol class="blog-index">
  <% @posts.each do |post| %>
    <li>
      <%= render partial: "blog/post_preview", locals: { path: post[:path], fm: post[:fm] } %>
      <hr>
    </li>
  <% end %>
</ol>

<%= paginate @posts, window: 2 %>
