<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Why teach English</h2>
    <div class="inset">
<p>As an English teacher, you’ll teach pupils essential skills. From reading and writing to engaging in debates, you’ll nurture their ability to think critically and communicate effectively, preparing them for life beyond the classroom.</p>      <!-- Why teach: benefits -->
      <%= render 'content/shared/teaching/benefits' %>
      <%= render 'content/shared/teaching/why_teach' %>
    </div>
  </section>

  <section class="col col-720">
    <!-- Quote: Chris Farr -->
    <%= render 'content/shared/quotes/quote_progression_chris' %>
  </section>

  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Shape your pupils' futures</h2>
    <div class="inset">
      <p>Teaching English opens the door for your pupils to pursue exciting careers in fields such as journalism, marketing, and publishing. You may even inspire the next generation of teachers.</p>
      <p>Your pupils will learn more from you than you might think. As their teacher, you'll guide them through the skills they need to show their understanding of written and spoken English. You'll teach them valuable life skills such as critical thinking, creativity and communication.</p>
    </div>
  </section>

  <section class="col col-720">
    <!-- Quote: Holly, science teacher -->
    <%= render 'content/shared/quotes/quote_english_laura' %>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">What you'll teach</h2>
    <p>Many schools follow the <a href="https://www.gov.uk/government/publications/national-curriculum-in-england-english-programmes-of-study/national-curriculum-in-england-english-programmes-of-study">national curriculum for English</a>.</p>
    <p>English subject content in key stages 3 and 4 is divided into reading, writing, spoken English, and vocabulary and grammar.</p>
    <p>Skills you’ll cover when you teach 11 to 14 year olds (key stage 3) include:</p>
    <ul>
      <li>developing a love of reading increasingly difficult material</li>
      <li>understanding how authors' choices can change meaning</li>
      <li>summarising and organising material to support arguments</li>
      <li>writing a range of stories, scripts, poetry and letters</li>
      <li>planning, drafting and editing writing</li>
      <li>using standard English confidently</li>
      <li>giving short speeches and presentations</li>
      <li>rehearsing and performing play scripts and poems</li>
    </ul>
    <p>Explore what teaching a key stage 3 English lesson would be like by visiting the <a href="https://www.thenational.academy/teachers/programmes/english-secondary-ks3/units">Oak National Academy website</a>.</p>
    <p>Skills you'll cover when you teach 14 to 16 year olds (key stage 4) include:</p>
    <ul>
      <li>understanding and evaluating texts </li>
      <li>analysing a writer’s choice of vocabulary, grammar and structure</li>
      <li>writing accurately and fluently for pleasure and information</li>
      <li>adapting writing style for different purposes and audiences</li>
      <li>analysing some of the differences between written and spoken English</li>
      <li>listening to the contributions of others </li>
      <li>improvising, rehearsing and performing play scripts</li>
    </ul>
    <p>At A level and AS level (key stage 5) English is divided into language and literature. You’ll help pupils develop a deeper knowledge and understanding of:</p>
    <ul>
      <li>language analysis</li>
      <li>functions of texts</li>
      <li>relationships between writers and audiences</li>
      <li>text structure</li>
      <li>interpreting meaning</li>
      <li>analysing genre and mode</li>
    </ul>
    <!-- Teaching pupils: ages and abilities -->
    <%= render 'content/shared/teaching/ages_abilities' %>
  </section>

  <section class="col col-space-m col-720">
    <h2 class="heading--box-blue">Start your journey into teaching English</h2>
    <!-- Check your qualifications-->
    <%= render 'content/shared/qualifications-training/check_qualifcations' %>
    <p>English teacher training courses have had successful applications from candidates with a range of degrees, including psychology, creative writing, history and  journalism.</p>
    <%= render 'content/shared/qualifications-training/find_out_more' %>
    <!-- Non-UK qualifications expander -->
    <%= render 'content/shared/qualifications-training/non_uk_qualifications' %>
  </section>

  <section class="col col-space-m col-720">
    <h3>Fund your teacher training</h3>
    <!-- Bursaries and Scholarships -->
    <%= render 'content/shared/teaching/bursary_only' %>
    <!-- Funding and Support -->
    <%= render 'content/shared/teaching/funding_support' %>
  </section>

  <section class="col col-720">
    <%= render 'content/shared/teaching/ect_support' %>
  </section>
  <%= render CallsToAction::AdviserComponent.new(
    text: "An adviser with years of teaching experience can help you to become an English teacher. Chat by phone, text, or email as little or often as you need.",
  ) %>
</div>
