<div class="row inset">
  <section class="col col-720 col-space-l-top">
  <h2 class="heading--box-blue">Help your pupils learn new skills</h2>
  <div class="inset">
    <p>Computing focuses on 3 areas:</p>
    <ul>
      <li>information and communication technology</li>
      <li>digital literacy</li>
      <li>computer science</li>
    </ul>
<p>You'll inspire pupils to access new fields and teach them transferable skills that will open lots of sectors, from engineering to healthcare, and could lead to careers such as software engineering and web design.</p>
    </div>
</section>

<section class="col col-720">
    <%= render Content::QuoteComponent.new(
    text: "Every lesson presents an opportunity to delve into the latest advancements in the field and inspire students to become innovators. Teaching computing is about fostering a deep understanding of technology while enabling students to develop the skills and resilience to thrive in this digital age.",
    name: "Shiulee, Curriculum lead for computing and business",
    large: true
  ) %>
  </section>

<section class="col col-720">
  <h2 class="heading--box-blue">What you'll be teaching</h2>
  <p>You'll teach the <a href="https://www.gov.uk/government/publications/national-curriculum-in-england-computing-programmes-of-study/national-curriculum-in-england-computing-programmes-of-study">national curriculum for computing</a>, with opportunities to develop your pupils' computational thinking.</p>
  <h4>Themes you'll cover when you teach 11 to 14 year olds (key stage 3) include:</h4>
  <ul>
    <li>Algorithms</li>
    <li>Programming and debugging</li>
    <li>Creative projects</li>
    <li>Use of logical reasoning</li>
    <li>Computer systems</li>
    <li>Uses of technology</li>
    <li>Online safety </li>
  </ul>
<p>When you're teaching key stage 3 you could use interactive exercises during your lessons, like creating a robot car.</p>
<p><a href="https://www.thenational.academy/teachers/programmes/computing-secondary-ks3-l/units">Explore what teaching a key stage 3 computing lesson would be like</a>.</p>
</section>

<section class="col col-720">
  <h4>Themes you'll cover when you teach 14 to 16 year olds (key stage 4) computer science as a GCSE qualification include:</h4>
  <ul>
    <li>Computational thinking</li>
    <li>Digital media and information technology</li>
    <li>Computer networks</li>
    <li>Cyber security</li>
    <li>Data representation</li>
    <li>Digital technology</li>
  </ul>
<p>When you're teaching key stage 4 you'll teach pupils ways to protect their online privacy and identity.</p>
<p><a href="https://www.thenational.academy/teachers/programmes/computing-secondary-ks4-l/units">Explore what teaching a key stage 4 computing lesson would be like</a>.</p>
</section>

<section class="col col-720">
  <h4>Themes you'll cover when you teach 16 to 18 year olds (key stage 5) computer science as an A level qualification include:</h4>
  <ul>
    <li>Abstraction</li>
    <li>Writing programmes to solve problems</li>
    <li>Efficiency of algorithms</li>
    <li>Data structures and the use of databases</li>
    <li>Systems architecture</li>
    <li>Computing related mathematics</li>
  </ul>
<p>When you're teaching key stage 5 you'll help pupils to develop websites and prepare them for further learning or employment.</p>
</section>

 <section class="col col-space-m col-720">
    <h2 class="heading--box-blue">Start your journey into teaching</h2>
    <h3>Check your qualifications</h3>
    <p>To train to teach in secondary schools in England, you’ll need:</p>
    <ul>
      <li>GCSEs at grade 4 (C) or above in English and maths</li>
      <li>a bachelor’s degree in any subject</li>
    </ul>
    <p>Computing teacher training courses have had successful applications from candidates with a range of degrees, including business and management, data science, history and economics.</p>
    <p>Find out more about what <a href="/is-teaching-right-for-me/qualifications-you-need-to-teach">qualifications you need to train to teach</a>.</p>
    <%= render Content::ExpanderComponent.new(
    title: "check your qualifications",
    text: "If you have qualifications from outside the UK, you'll need to show that they meet the standards set for teacher training in England.",
    link_title: "You can get help comparing English and international qualifications.",
    link_url: "/non-uk-teachers/non-uk-qualifications",
  ) %>
  </section>
    
  <section class="col col-space-m col-720">    
    <h3> Subject knowledge enhancement course (SKE)
    <p>If your training provider thinks you need to top up your computing knowledge, you might need to do an <a href="/how-to-apply-for-teacher-training/subject-knowledge-enhancement">SKE course</a> before you start your teacher training.</p>
  </section>

<section class="col col-space-m col-720">
  <h3>Fund your teacher training</h3>
  <p><a href="/funding-and-support/scholarships-and-bursaries">Tax-free bursaries of <%= v :bursaries_postgraduate_computing %> or scholarships of <%= v :scholarships_computing %></a> are available for eligible trainee computing teachers</a>.</p>
  <p>You can get a bursary or scholarship alongside a tuition fee loan and maintenance loan.</p>
  <p>You may also be able to get <a href="/funding-and-support">extra funding and support</a> if you're:</p>
  <ul>
    <li>a parent or carer</li>
    <li>disabled</li>
  </ul>
  <p>Find out more about <a href="/non-uk-teachers/fees-and-funding-for-non-uk-trainees">fees and financial support for non-UK trainee teachers</a>.</p>
    <%= render Content::ExpanderComponent.new(
      title: "funding your training",
      text: "If you do not have indefinite leave to remain in the UK you're unlikely to be eligible for funding.",
      link_title: "Find out more about fees and financial support for non-UK trainee teachers.",
      link_url: "/non-uk-teachers/fees-and-funding-for-non-uk-trainees",
    ) %>
  </section>

  <section class="col col-space-m col-720">
    <h3>Paid internship</h3>
    <p>If you're currently doing an undergraduate or master's degree and are interested in teaching maths, you could apply for a <a href="/is-teaching-right-for-me/teaching-internship-providers">paid teaching internship</a>.</p>
    <p>The 3-week programme could help you to understand what it's really like in the classroom and get a feel for school life.</p>
  </section>
</div>