<% content_for(:above_main_content) do %>
<div role="navigation">
  <div class="govuk-width-container">
    <p>
      <%= back_link step_path(wizard.previous_key) if wizard.previous_key %>
    </p>
  </div>
</div>
<% end %>

<div class="govuk-width-container">
  <%= govuk_form_for current_step, url: step_path do |f| %>
    <%= f.govuk_error_summary %>

    <%= render current_step.key, current_step: current_step, f: f %>

    <% if wizard.step_can_proceed? %>
      <%= f.govuk_submit(wizard.last_step? ? "Complete sign up" : "Continue") %>
    <% end %>

    <% if content_for?(:form_help) %>
      <div class="form-help"><%= yield(:form_help) %></div>
    <% end %>
  <% end %>
</div>
