<% @page_title = "About you" %>

  <%= f.govuk_fieldset legend: { text: 'About you', tag: "h1" } do %>

  <%= f.govuk_text_field :first_name, width: 20 %>
  <%= f.govuk_text_field :last_name, width: 20 %>
  <%= f.govuk_email_field :email, width: 20 %>
  <%= f.hidden_field :channel_id, value: f.object.channel_id || params[:channel] %>
  <%= f.hidden_field :sub_channel_id, value: f.object.sub_channel_id || params[:sub_channel] %>
  <%= f.hidden_field :accepted_policy_id, value: f.object.latest_privacy_policy.id %>

  <p>Your details are protected under the terms of our <%= link_to "privacy notice", privacy_policy_path(id: session[:privacy_policy_id].presence || GetIntoTeachingApiClient::PrivacyPoliciesApi.new.get_latest_privacy_policy.id), target: :blank %>.</p>

  <p>Our privacy notice explains how we use your personal data. It's important you read this before signing up to get support from an adviser.</p>
<% end %>
