<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">A meaningful and rewarding job</h2>
    <p>Many teachers have worked in other careers before stepping into the classroom.</p>
    <p><%= render 'content/shared/quotes/quote_career_change_jack' %></p>
    <p>Transfering your existing skills to teaching can be incredibly rewarding. You'll be in demand as someone who has real-world professional and industry experience.</p>
    <p><%= render 'content/shared/quotes/quote_career_change_mark' %></p>
    <p>The skills and experiences you bring from previous careers are invaluable in the classroom. From communication and public speaking, to problem solving and people management, your pupils will learn more from you than you might think.</p>
    <p>As a teacher, you can watch pupils progress as they learn, making an impact from your very first lesson.</p>
    <p><%= render 'content/shared/quotes/quote_career_change_jodie' %></p>
    <p><a href="/life-as-a-teacher/teaching-as-a-career/why-teach">Find out more about why other people choose to become teachers</a>.</p>
    <h2 class="heading--box-blue">Practical benefits of teaching</h2>
    <p><%= render 'content/shared/teaching/benefits_generic' %></p>
    <p><a href="/life-as-a-teacher/change-careers/how-to-change-careers-to-become-a-teacher">Find out how to change your career to become a teacher</a>.</p>
</div>
<div class="row">
  <div class="col-space-l col-space-l-top">
    <%= render Content::QuoteWithImageComponent.new(
      title: "Teacher stories - Peter",
      text: "<p>I’d been working in the same role for many years and I was no longer feeling challenged. So I had a decision to make: stay in my finance role, or give myself a new break.</p><a href='/life-as-a-teacher/change-careers/making-a-career-change-to-teaching'>Read more about Peter's career change to teaching</a>.",
      quotes: true,
      background_color: "blue",
      heading_color: "pink",
    ) %>
  </div>
  <%= render CallsToAction::AdviserComponent.new(
    text: "An adviser with years of teaching experience can help you change careers to become a teacher. Chat by phone, text, or email as little or often as you need.",
  ) %>
</div>
