<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Why teach art and design</h2>
     <div class="inset">
    <p>Teaching art and design gives pupils the technical skills needed to express their ideas in a wide variety of materials and media. You'll help pupils develop their own skills by encouraging them to critically review their work. Your pupils will develop an appreciation of art and design, and of the diverse ideas and perspectives of others.</p>
    <p>In addition to the personal rewards of teaching art and design, there are practical benefits too, including:</p>
      <ul>
        <li>a <a href="/life-as-a-teacher/pay-and-benefits">competitive salary starting at <%= value :salaries_starting_minshortened %></a> (or higher in London)</li>
        <li>a <a href="/life-as-a-teacher/pay-and-benefits/teachers-pension-scheme">generous and secure pension</a></li>
        <li>more holiday days than people in many other professions</li>
        <li>opportunities for progression</li>
      </ul>
    </div>
  </section>

  <section class="col col-720">
    <%= render Content::QuoteComponent.new(
    text: "People may not realise how much potential there is for progression in teaching. They think they go into the world of the classroom and that's it. Lots of teachers have added responsibilities they enjoy doing and find fulfilling.",
    name: "Chris Farr, teacher training adviser",
    large: true
  ) %>
  </section>

  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Shape your pupils' futures</h2>
      <p>Teaching art and design opens the door for your pupils to pursue exciting careers in fields as diverse as fashion and textiles, to illustration and video game design.</p>
      <p>By thinking creatively, your pupils could make significant contributions to these diverse and impactful areas.</p>
      <p>Your pupils will learn more from you than you might think.  As their teacher, you'll guide them though the skills they need to show their understanding of art and design. You'll teach them valuable life skills such as critical thinking, adaptability and communication.</p>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">What you'll teach</h2>
    <p>You'll teach the <a href="https://www.gov.uk/government/publications/national-curriculum-in-england-art-and-design-programmes-of-study/national-curriculum-in-england-art-and-design-programmes-of-study">national curriculum for art and design</a>.</p>
    <p>Themes you'll cover when you teach 11 to 14 year olds (key stage 3) include:</p>
    <ul>
      <li>observation and recording techniques</li>
      <li>media exploration</li>
      <li>proficiency in material handling</li>
      <li>creativity and idea development</li>
      <li>contextual understanding</li>
    </ul>
  </section>

  <section class="col col-720">
    <p>In key stage 4 (14 to 16 years olds) you will help pupils demonstrate skills in:</p>
    <ul>
      <li>composition and design</li>
      <li>making appropriate use of colour, line, tone, texture, shape and form, in response to an idea, theme or brief</li>
      <li>explain and critically review their work throughout</li>
  </section>

  <section class="col col-720">
    <p>At A level and AS level (key stage 5), you’ll help pupils develop a deeper knowledge and understanding of:</p>
    <ul>
      <li>how ideas, feelings and meanings can be conveyed and interpreted in images and artefacts</li>
      <li>continuity and change in different genres, styles and traditions</li>
      <li>recording experiences and observations, in a variety of ways</li>
      <li>exploring relevant resources; analyse, discuss and evaluate images, objects and artefacts; and make and record independent judgements</li>
      <li>using knowledge and understanding of the work of others to develop and extend thinking and inform their own work</li>
      <li>generate and explore potential lines of enquiry using appropriate media and techniques</li>
  </section>

   <section class="col col-space-m col-720">
    <h2 class="heading--box-blue">Start your journey into teaching art and design</h2>
    <h3>Check your qualifications</h3>
    <p>To train to teach in secondary schools in England, you’ll need:</p>
    <ul>
      <li>GCSEs at grade 4 (C) or above in English and maths</li>
      <li>a bachelor’s degree in any subject</li>
    </ul>
    <p>Art and design teacher training courses have had successful applications from candidates with a range of degrees, including fine art, illustration, graphic design, photography and fashion design.</p>
    <p>Find out more about what <a href="/train-to-be-a-teacher/qualifications-you-need-to-teach">qualifications you need to train to teach</a>.</p>
    <%= render Content::ExpanderComponent.new(
      title: "check your qualifications",
      text: "If you have qualifications from outside the UK, you'll need to show that they meet the standards set for teacher training in England.",
      link_title: "You can get help comparing English and international qualifications.",
      link_url: "/non-uk-teachers/non-uk-qualifications",
    ) %>
  </section>

  <section class="col col-space-m col-720">
    <h3>Fund your teacher training</h3>
    <p><a href="/funding-and-support/scholarships-and-bursaries">Tax-free bursaries of <%= v :bursaries_postgraduate_artanddesign %> are available for eligible trainee art and design teachers</p>
    <p>You can get a bursary alongside a tuition fee loan and maintenance loan.</p>
    <p>You may also be able to get <a href="/funding-and-support">extra funding and support</a> if you're:</p>
    <ul>
      <li>a parent or carer</li>
      <li>disabled</li>
    </ul>
    <%= render Content::ExpanderComponent.new(
      title: "funding your training",
      text: "If you do not have <a href=\"https://www.gov.uk/guidance/indefinite-leave-to-remain-in-the-uk\">indefinite leave to remain in the UK</a>, you're unlikely to be eligible for funding.",
      link_title: "Find out more about fees and financial support for non-UK trainee teachers.",
      link_url: "/non-uk-teachers/fees-and-funding-for-non-uk-trainees",
    ) %>
  </section>
  <section class="col col-720">
    <h2 class="heading--box-blue">Support with teacher training</h2>
    <p>Throughout your initial teacher training in art and design, you'll have the support of a mentor.</p>
    <p>Your mentor will:</p>
    <ul>
      <li>guide you through your training, sharing learning and career development opportunities with you</li>
      <li>meet with you regularly to make sure your training is a positive experience</li>
    </ul>
    <p>You'll also be part of a welcoming school community where you'll learn from fellow teachers through taught sessions, seminars and workshops.</p>
    <p>Once you've completed your initial teacher training, you'll continue to be supported during your first 2 years of teaching. Find out what support you'll get as <a href="/support-for-early-career-teachers">an early career teacher</a>.</p>
  </section>
</div>
