<h1>Book a callback</h1>

<p>Do you have any immediate questions, or want to speak to someone? One of our experienced agents can call you back at a time that suits you.</p>

<p>They know the process inside out and can answer any of your questions.</p>

<p>This is a free service.</p>

<%= f.govuk_text_field :first_name, autocomplete: "given-name", width: 'two-thirds' %>
<%= f.govuk_text_field :last_name, autocomplete: "family-name", width: 'two-thirds' %>
<%= f.govuk_email_field :email, autocomplete: "email", width: 'two-thirds' %>
<%= f.hidden_field :accepted_policy_id, value: f.object.latest_privacy_policy.id %>

<p>Your details are protected under the terms of our <%= link_to("privacy notice", privacy_policy_path(id: f.object.latest_privacy_policy.id), { target: :blank }) %>.</p>

<p>Our privacy notice explains how we use your personal data. It's important you read this before booking a callback.</p>
