<% @hide_page_helpful_question = true %>

<section>
  <h1 class="heading-l heading--box-green">Callback confirmed</h1>

  <h2 class="heading-m">What happens next</h2>

  <p>One of our agents will call you within 30 minutes of <%= params[:date] %> at <%= params[:time] %>.</p>

</section>

<div class="blocks">
  <%= render Content::GenericBlockComponent.new(
    title: "Life as a teacher",
    icon_image: "static/images/icon-school-black.svg",
    icon_size: "40x30",
    classes: "blocks__directory"
  ) do %>
    <ul>
      <li><a href="/blog">Read teachers' stories</a></li>
      <li><a href="https://schoolexperience.education.gov.uk/">Experience a real school</a></li>
      <li><a href="/is-teaching-right-for-me/teacher-pay-and-benefits">Teacher salaries</a></li>
    </ul>
  <% end %>

  <%= render Content::GenericBlockComponent.new(
    title: "Your next steps",
    icon_image: "static/images/icon-doc-black.svg",
    icon_size: "40x35",
    classes: "blocks__directory"
  ) do %>
    <ul>
      <li><a href="/steps-to-become-a-teacher">How to become a teacher</a></li>
      <li><a href="/train-to-be-a-teacher">Explore ways to train</a></li>
      <li><a href="/funding-and-support">Find your funding options</a></li>
    </ul>
  <% end %>

  <%= render Content::GenericBlockComponent.new(
    title: "Sign up to get a teacher training adviser",
    icon_image: "static/images/icon-git-black.svg",
    icon_size: "33x33",
    classes: "blocks__directory"
  ) do %>
    <p class="block__text">
      Talk to an adviser with years of teaching experience for free, one-to-one support before you apply for teacher training. Chat through phone, text or email, as little or as often as you need.
    </p>

    <%= link_to "Get an adviser", "/teacher-training-adviser/sign_up/identity", class: "button button--white button--unpadded" %>
  <% end %>
</div>
