<% if recent_feedback.present? %>
<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m"><%= recent_feedback.count %> most recent feedback submissions</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" width="100" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Rating</th>
      <th scope="col" width="140" class="govuk-table__header">Successful visit</th>
      <th scope="col" class="govuk-table__header">Unsuccessful visit explanation</th>
      <th scope="col" class="govuk-table__header">Area</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% recent_feedback.each do |feedback| %>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><%= feedback.created_at.to_formatted_s(:govuk_date) %></td>
      <td class="govuk-table__cell"><%= t("helpers.label.teacher_training_adviser_feedback.rating_options.#{feedback.rating}") %></td>
      <td class="govuk-table__cell"><%= human_boolean(feedback.successful_visit?) %></td>
      <td class="govuk-table__cell"><%= feedback.unsuccessful_visit_explanation %></td>
      <td class="govuk-table__cell"><%= feedback.area %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>There are no feedback submissions yet.</p>
<% end %>
