<section class="text-block-with-two-images">
  <div class="statement">
    <%= tag.h2(heading, class: [colour, "xlarge"]) %>

    <%= tag.div(class: colour) do %>
      <%= content %>
    <% end %>
  </div>

  <%= image_1 %>
  <%= image_2 %>
</section>
