<section class="homepage-feature blocks">
  <%= render Content::GenericBlockComponent.new(
    title: "Life as a teacher",
    icon_image: "icon-school-black.svg",
    icon_size: "40x30",
    classes: "blocks__directory"
  ) do %>
    <ul>
      <li><a href="/blog">Read teachers' stories</a></li>
      <li><a href="https://schoolexperience.education.gov.uk/">Experience a real school</a></li>
      <li><a href="/salaries-and-benefits">Teachers' salaries</a></li>
    </ul>
  <% end %>

  <%= render Content::GenericBlockComponent.new(
    title: "Your training",
    icon_image: "icon-doc-black.svg",
    icon_size: "40x35",
    classes: "blocks__directory"
  ) do %>
    <ul>
      <li><a href="/steps-to-become-a-teacher">How to become a teacher</a></li>
      <li><a href="/train-to-be-a-teacher">Explore ways to train</a></li>
      <li><a href="/funding-and-support">Find your funding options</a></li>
      <li><a href="/returning-to-teaching">Returning to teaching</a></li>
      <li><%= link_to("Find postgraduate teacher training", "https://www.gov.uk/find-postgraduate-teacher-training-courses") %></li>
      <li><%= link_to("Apply for teacher training", "https://www.gov.uk/apply-for-teacher-training") %></li>
    </ul>
  <% end %>

  <%= render Content::GenericBlockComponent.new(
    title: "Take the next step",
    icon_image: "icon-arrow.svg",
    icon_size: "33x33",
    classes: "blocks__directory"
  ) do %>
    <ul>
      <li><a href="/tta-service">Get an adviser</a></li>
      <li><a href="/events">Go to an event</a></li>
      <li><a href="/mailinglist/signup/name">Sign up for personalised updates</a></li>
      <li><a href="/urgent-call-for-qualified-teachers">Urgent call for qualified teachers</a></li>
    </ul>
  <% end %>
</section>
