<li class="event">
  <div class="event__info">
    <div class="event__info--date">
      <%= date %>
    </div>

    <div class="event__info--time">
      <%= time_and_duration %>
    </div>

    <div class="event__info--name">
      <%= title %>
    </div>

    <div class="event__info--location">
      <%= location %>
    </div>

    <div class="event__info--setting">
      <%= setting %>
    </div>
  </div>
</li>
