<div class="row inset">
  <section class="col col-720 col-space-l-top">
    <h2 class="heading--box-blue">Why teach physics</h2>
      <p>As a physics teacher, you’ll be engaging students in a wide range of experiments that can spark their interest. You could inspire your pupils to consider rewarding professions, from tackling climate change to artificial intelligence (AI).</p>
  </section>

  <section class="col col-720">
    <%= render Content::QuoteComponent.new(
      text: "It's inspiring getting 'wow, that's how it works' from pupils as they grasp a subject they thought was hard.",
      name: "Jane, physics and robotics teacher",
      large: true
    ) %>
  </section>

  <section class="col col-720">
    <h2 class="heading--box-blue">What you'll teach</h2>
    <p>You'll teach the <a href="https://www.gov.uk/government/publications/national-curriculum-in-england-science-programmes-of-study/national-curriculum-in-england-science-programmes-of-study">national curriculum for physics</a>, with opportunities to develop your pupils' ability to think like physicists and see physics as a solution to many challenges.</p>
    <p>Themes you'll cover when you teach 11 to 14 year olds (key stage 3) include:</p>
    <ul>
      <li>energy</li>
      <li>motion and forces</li>
      <li>electricity and electromagnetism</li>
      <li>waves and matter</li>
    </ul>
  </section>

  <section class="col col-720">
    <p>Themes you’ll cover when you teach 14 to 16 year olds (key stage 4) include:</p>
    <ul>
      <li>energy, forces and wave motion</li>
      <li>electricity, magnetism and electromagnetism</li>
      <li>the structure of matter</li>
      <li>atomic structure and space physics</li>
    </ul>
    <p><a href="https://www.thenational.academy/teachers/programmes/physics-secondary-ks4-higher-aqa/units">Explore what teaching a key stage 4 physics lesson would be like</a>.</p>
  </section>

  <section class="col col-720">
    <p>Themes you’ll cover when you teach 16 to 18 year olds (key stage 5) include:</p>
    <ul>
      <li>fields, vectors and scalars</li>
      <li>mechanics and mechanical properties of matter</li>
      <li>electric circuits and waves</li>
      <li>matter, quantum and nuclear physics</li>
    </ul>
  </section>

  <section class="col col-720">
    <%= render Content::QuoteComponent.new(
      text: "People may not realise how much potential there is for progression in teaching. They think they go into the world of the classroom and that’s it. Lots of teachers have added responsibilities they enjoy doing and find fulfilling.",
      name: "Chris Farr, teacher training adviser",
      large: true
    ) %>
  </section>

  <section class="col col-space-m col-720">
    <h2 class="heading--box-blue">Start your journey into teaching</h2>
    <h3>Check your qualifications</h3>
    <p>To train to teach in secondary schools in England, you’ll need:</p>
    <ul>
      <li>GCSEs at grade 4 (C) or above in English and maths</li>
      <li>a bachelor’s degree in any subject</li>
    </ul>
    <p>Physics teacher training courses have had successful applications from candidates with a range of degrees, including maths, geology, business studies and finance.</p>
    <p>Find out more about what <a href="/train-to-be-a-teacher/qualifications-you-need-to-teach">qualifications you need to train to teach</a>.</p>
    <%= render Content::ExpanderComponent.new(
      title: "check your qualifications",
      text: "If you have qualifications from outside the UK, you'll need to show that they meet the standards set for teacher training in England.",
      link_title: "You can get help comparing English and international qualifications.",
      link_url: "/non-uk-teachers/non-uk-qualifications",
    ) %>
  </section>

  <section class="col col-space-m col-720">
    <h3>Subject knowledge enhancement course (SKE)</h3>
    <p>If your training provider thinks you need to top up your physics knowledge, you might need to do an <a href="/how-to-apply-for-teacher-training/subject-knowledge-enhancement">SKE course</a> before you start your teacher training.</p>
  </section>

  <section class="col col-space-m col-720">
    <h3>Fund your teacher training</h3>
    <p><a href="/funding-and-support/scholarships-and-bursaries">Tax-free bursaries of <%= v :bursaries_postgraduate_physics %> or scholarships of <%= v :scholarships_physics %> </a>are available for eligible trainee physics teachers.</p>
    <p>You can get a bursary or scholarship alongside a tuition fee loan and maintenance loan.</p>
    <p>You may also be able to get <a href="/funding-and-support">extra funding and support</a> if you're:</p>
    <ul>
      <li>a parent or carer</li>
      <li>disabled</li>
    </ul>
    <%= render Content::ExpanderComponent.new(
        title: "funding your training",
        text: "If you train to teach physics, you may be eligible for a bursary or scholarship.",
        link_title: "Find out more about fees and financial support for non-UK trainee teachers.",
        link_url: "/non-uk-teachers/fees-and-funding-for-non-uk-trainees",
      ) %>
  </section>

  <section class="col col-space-m col-720">
    <h3>Paid internship</h3>
    <p>If you’re currently doing an undergraduate or master's degree and are interested in teaching physics, you could apply for a <a href="/train-to-be-a-teacher/teaching-internships">paid teaching internship</a>.</p>
    <p>The 3-week programme could help you to understand what it’s really like in the classroom and get feel for school life. </p>
  </section>

  <section class="col col-space-m col-720">
    <h3>Engineers teach physics</h3>
    <p>If you're an engineer considering a career as a physics teacher, there's a teacher training course designed especially with your experience and skills in mind. </p>
    <p>Find out about <a href="/life-as-a-teacher/engineers-teach-physics">the engineers teach physics training programme</a>. </p>
  </section>
</div>
