<!doctype html>
<html lang="en" class="govuk-template">
    <%= render "sections/head" %>
    <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link", "link-target": "content" }, id: "body" do %>
    <div id="skiplink-container">
        <div>
            <a href="#main-content" class="skiplink govuk-link">Skip to main content</a>
        </div>
    </div>
        <%= render "sections/header" %>
        <%= render Sections::HeroComponent.new(@front_matter) %>

        <main class="semantic" role="main" id="main-content">
            <aside>
              <%= render partial: "layouts/shared/narrow_call_to_action" %>
            </aside>

            <article>
              <% if @front_matter["alert"].present? %>
                <%= tag.div(tag.p(@front_matter["alert"]), class: "content-alert content-alert--fullwidth") %>
              <% end %>

              <%= yield %>

              <% @front_matter.key?("accordion") && @front_matter.dig("accordion").tap do |accordion_fm| %>
                <%= render Content::AccordionComponent.new(numbered: accordion_fm.dig("numbered"), active_step: accordion_fm.dig("active_step")) do |accordion| %>
                  <%= accordion.slot(
                    :content_before_accordion,
                    partial: accordion_fm.dig("content_before_accordion", "partial"),
                    call_to_action: accordion_fm.dig("content_before_accordion", "cta")
                  ) %>

                  <% accordion_fm["steps"]&.each do |title, contents| %>
                    <%= accordion.slot(:step, title: title, call_to_action: contents["cta"]) do %>
                      <%= render(partial: contents["partial"]) %>
                    <% end %>
                  <% end %>

                  <%= accordion.slot(
                    :content_after_accordion,
                    partial: accordion_fm.dig("content_after_accordion", "partial"),
                    call_to_action: accordion_fm.dig("content_after_accordion", "cta")
                  ) %>
                <% end %>
              <% end %>
              
              <%= render "sections/page_question" unless @front_matter["hide_page_helpful_question"] %>
            </article>
        </main>

        <%= render "sections/footer" %>
        <%= render "components/videoplayer" %>
        <%= render "sections/cookie-acceptance" %>
        <%= render "sections/feedback-bar" %>
        <%= render "components/analytics" %>
    <% end %>
</html>

