<!doctype html>
<html lang="en" class="govuk-template">
    <%= render "sections/head" %>
    <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link", "link-target": "content" }, id: "body" do %>
    <div id="skiplink-container">
        <div>
            <a href="#main-content" class="skiplink govuk-link">Skip to main content</a>
        </div>
    </div>
        <%= render "sections/header" %>
        <main role="main" id="main-content">
            <%= render Sections::HeroComponent.new(@front_matter) %>
            <section class="content content--<%= @front_matter["direction"] %> <%= @front_matter["fullwidth"] ? "" : "container-1000" %>">
                <div class="content__left">
                  <% if @front_matter["alert"].present? %>
                    <%= tag.div(tag.p(@front_matter["alert"]), class: "content-alert content-alert--fullwidth") %>
                  <% end %>

                  <%= yield %>

                  <% @parent_front_matter = @front_matter %>

                  <% @front_matter.key?("accordion") && @front_matter.dig("accordion").tap do |accordion_fm| %>

                    <%= render Content::AccordionComponent.new(numbered: accordion_fm.dig("numbered")) do |accordion| %>

                      <%= accordion.slot(
                        :content_before_accordion,
                        partial: accordion_fm.dig("content_before_accordion", "partial"),
                        call_to_action: accordion_fm.dig("content_before_accordion", "cta")
                      ) %>

                      <% accordion_fm["steps"]&.each do |title, contents| %>
                        <%= accordion.slot(:step, title: title, call_to_action: contents["cta"]) do %>
                          <%= render(partial: contents["partial"]) %>
                        <% end %>
                      <% end %>

                      <%= accordion.slot(
                        :content_after_accordion,
                        partial: accordion_fm.dig("content_after_accordion", "partial"),
                        call_to_action: accordion_fm.dig("content_after_accordion", "cta")
                      ) %>
                    <% end %>
                  <% end %>

                  <% @front_matter = @parent_front_matter %>
                </div>

                <%= render "sections/page_question" unless @front_matter["hide_page_helpful_question"] %>
            </section>
        </main>

        <%= render "sections/footer" %>
        <%= render "components/videoplayer" %>
        <%= render "sections/cookie-acceptance" %>
        <%= render "sections/feedback-bar" %>
        <%= render "components/analytics" %>
    <% end %>
</html>

