<!doctype html>
<html lang="en" class="govuk-template">

  <head>
  <% if Rails.env.production? %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159214613-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-159214613-2');
    </script>
  <% end %>
    <meta charset="utf-8">
    <title><%= prefix_title page_title(@page_title, @front_matter) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= canonical_tag %>
    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' %>
    <%= tag :link, rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="govuk-template__body govuk-body">
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
    <%= render "layouts/cookie-acceptance" %>
  </body>

</html>