<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title><%= prefixed_page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= canonical_tag %>
    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' %>
    <%= tag :link, rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <%= render "layouts/header" %>

    <main role="main" class="container">
      <% unless page_title.nil? %>
      <div class="header-image">
        <img src="<%= asset_pack_path header_image %>" class="header-image" alt="" />
      </div>

      <h1><%= page_title %></h1>
      <% end %>

      <%= yield %>
    </main>

    <%= render "layouts/footer" %>
  
  </body>
</html>
