<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>

  <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "link", target: "link.content" }  do %>
    <div id="skiplink-container">
      <div>
        <a href="#main-content" class="skiplink govuk-link">Skip to main content</a>
      </div>
    </div>
    <%= render "sections/header" %>
    <%= yield %>
    <%= render "sections/footer" %>
    <%= render "sections/cookie-acceptance" %>
    <%= render "sections/phase-banner" %>
  <% end %>

</html>
