<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "layouts/head" %>

  <body class="govuk-template__body govuk-body">
    <div id="skiplink-container">
      <div>
        <a href="#main-content" class="skiplink govuk-link">Skip to main content</a>
      </div>
    </div>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
    <%= render "layouts/cookie-acceptance" %>
  </body>

</html>
