<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link table", "link-target": "content", "link-assets-url-value": ENV["APP_ASSETS_URL"] }, id: "body" do %>
    <%= render(partial: "sections/gtm_fallback") if gtm_enabled? %>

    <%= render HeaderComponent.new(breadcrumbs: true) %>

    <main id="main-content" role="main">
      <%= render(partial: "sections/emergency_banner") %>
      <%= render Content::HeroComponent.new(@front_matter) %>

      <section class="container main-body">
        <%= render(partial: "sections/content_errors") %>

        <article class="markdown <%= " fullwidth" if @fullwidth %>">
          <%= yield %>
        </article>
        <section class="feature">
          <%= yield :feature %>
        </section>
      </section>
    </main>

    <%= render FooterComponent.new %>
  <% end %>
</html>
