<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= body_tag do %>
    <%= render "sections/govuk_javascript" %>
    <%= render HeaderComponent.new(@front_matter) %>

    <%= main_tag do %>
      <%= render Content::HeroComponent.new(@front_matter) %>

      <section class="container main-section">
        <%= render(partial: "sections/content_errors") %>

        <article class="markdown <%= " fullwidth" if @fullwidth %>">
          <%= yield %>
        </article>
        <section class="feature">
          <%= yield :feature %>
        </section>
      </section>
    <% end %>

    <%= render FooterComponent.new %>
  <% end %>
</html>
