<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= body_tag do %>
    <%= render "sections/govuk_javascript" %>
    <%= render HeaderComponent.new(@front_matter) %>

    <%= main_tag(class: "category") do %>
      <%= render Content::HeroComponent.new(@front_matter) %>

      <section class="container category__cards inset main-section">
        <%= tag.nav(aria: { label: "#{@page.title} navigation" }, class: "category__nav-cards") do %>
          <ul class="inset">
            <%= render(Categories::CardComponent.with_collection(ungrouped_categories(@page.path))) %>
          </ul>
        <% end %>
      </section>

      <% grouped_categories(@page.path).each do |title, pages| %>
        <section class="container category__cards main-section">
          <%= tag.h2(title, id: title.parameterize, class: "heading--box-blue") %>
          <%= tag.nav(aria: { label: "#{title} category" }, class: "category__nav-cards inset") do %>
            <ul class="inset">
              <%= render(Categories::CardComponent.with_collection(pages, heading_tag: "h3")) %>
            </ul>
          <% end %>
        </section>
      <% end %>
    <% end %>

    <% @front_matter["content"]&.each do |partial| %>
      <%= render(partial) %>
    <% end %>

    <%= render FooterComponent.new(talk_to_us: false) %>
  <% end %>
</html>
