<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link table", "link-target": "content", "link-assets-url-value": ENV["APP_ASSETS_URL"] }, id: "body" do %>
    <%= render(partial: "sections/gtm_fallback") if gtm_enabled? %>

    <%= render HeaderComponent.new(breadcrumbs: true) %>

    <main class="category" id="main-content" role="main">
      <%= render Content::HeroComponent.new(@front_matter) %>

      <section class="container category__cards main-body">
        <%= tag.nav(aria: { label: "#{@page.title} navigation" }, class: "category__nav-cards") do %>
          <%= render(Categories::CardComponent.with_collection(ungrouped_categories(@page.path))) %>
        <% end %>
      </section>

      <% grouped_categories(@page.path).each do |title, pages| %>
        <section class="container category__cards main-body">
          <%= tag.h2(title, class: "heading--box-blue") %>
          <%= tag.nav(aria: { label: "#{title} category" }, class: "category__nav-cards") do %>
            <%= render(Categories::CardComponent.with_collection(pages, heading_tag: "h3")) %>
          <% end %>
        </section>
      <% end %>
    </main>

    <% @front_matter["content"]&.each do |partial| %>
      <%= render(partial) %>
    <% end %>

    <%= render FooterComponent.new(talk_to_us: false, feedback: false) %>
  <% end %>
</html>
