<!doctype html>
<html lang="en" class="govuk-template">
    <%= render "sections/head" %>
    <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video" }, id: "body" do %>
    <div id="skiplink-container">
        <div>
            <a href="#main-content" class="skiplink govuk-link">Skip to main content</a>
        </div>
    </div>
        <div class="container">
            <%= render "sections/header" %>
            <div  role="main" id="main-content">
                <%= render "sections/hero", 
                    :header => @front_matter["title"],
                    :image => @front_matter["image"], 
                    :mobileimage => @front_matter["mobileimage"], 
                    :deep => @front_matter["deepheader"], :subtitle =>  @front_matter["subtitle"], 
                    :mailinglist => @front_matter["mailinglist"] 
                %>
                <section class="content content--<%= @front_matter["direction"] %> <%= @front_matter["fullwidth"] ? "" : "container-1000" %>"> 
                    <%= render "sections/phase-banner" %>
                    <%= yield %>
                    <%= render "sections/page-question" unless @front_matter["hide_page_helpful_question"] %>
                </section>
            </div>
            <%= render "sections/footer" %>     
        </div>
        <%= render "components/videoplayer" %>
        <%= render "sections/cookie-acceptance" %>
        <%= render "sections/feedback-prompt" %>
    <% end %>
</html>

