<!doctype html>
<html lang="en" class="govuk-template">
    <%= render "sections/head" %>
    <%= body_tag do %>
      <%= render "sections/govuk_javascript" %>
      <%= render HeaderComponent.new(breadcrumbs: true, front_matter: @front_matter) %>

      <%= main_tag do %>
        <%= render Content::HeroComponent.new(@front_matter) %>

        <section class="container main-section">
          <%= render(partial: "sections/content_errors") %>

          <% if !@front_matter["image"] %>
            <header>
              <%= render Content::HeadingComponent.new(
                heading: @front_matter["heading"] || @front_matter["title"],
                heading_size: :xxl
              ) %>
            </header>
          <% end %>

          <%= tag.article(class: article_classes(@front_matter), data: { controller: 'abbreviation' }) do %>
            <% if @front_matter["alert"].present? %>
              <%= tag.div(tag.p(@front_matter["alert"]), class: "content-alert content-alert--fullwidth") %>
            <% end %>

            <% @front_matter["before-content"]&.each do |partial| %>
              <%= render(partial) %>
            <% end %>

            <%= yield %>

            <% @front_matter["content"]&.each do |partial| %>
              <%= render(partial) %>
            <% end %>

            <% if @front_matter.key?("external_content") %>
              <% @front_matter["external_content"]&.each do |partial| %>
                <%= render(partial) %>
              <% end %>
            <% end %>
          <% end %>

          <% if @front_matter["fullwidth"].blank? %>
            <% if @front_matter["related_content"].present? %>
              <aside class="link-block link-block--related" role="complementary">
                <h2 class="link-block__header">Related content</h2>
                <ul class="link-block__list">
                  <% @front_matter["related_content"].each do |item, anchor| %>
                    <li><%= link_to(item, anchor) %></li>
                  <% end %>
                </ul>
              </aside>
            <% end %>
          <% end %>

        </section>

        <% if @front_matter.key?("promo_content") %>
          <% @front_matter["promo_content"]&.each do |partial| %>
            <%= render(partial) %>
          <% end %>
        <% end %>
      <% end %>

      <%= render FooterComponent.new(**content_footer_kwargs(@front_matter)) %>
    <% end %>
</html>
