<!doctype html>
<html lang="en" class="govuk-template">
    <%= render "sections/head" %>
    <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link table", "link-target": "content", "link-assets-url-value": ENV["APP_ASSETS_URL"] }, id: "body" do %>
    <%= render(partial: "sections/gtm_fallback") if new_gtm_enabled? %>

    <%= render HeaderComponent.new(breadcrumbs: true) do |c| %>
      <%= c.hero(@front_matter) %>
    <% end %>

    <main id="main-content">
      <section class="container">
        <% if !@front_matter["image"] %>
          <header>
            <% if @front_matter["title_caption"].present? %>
              <%= tag.span(@front_matter["title_caption"], class: "caption") %>
            <% end %>

            <%= tag.h1(@front_matter["heading"] || @front_matter["title"]) %>
          </header>
        <% end %>

        <% if @front_matter["fullwidth"].blank? %>
        <aside>
          <% if @front_matter["jump_links"].present? %>
            <div class="link-block link-block--jump">
              <h2 class="link-block__header">On this page:</h2>
              <ul class="link-block__list">
                <% @front_matter["jump_links"].each do |item, anchor| %>
                  <li><%= link_to(item, anchor) %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= render partial: "layouts/shared/narrow_call_to_action" %>

          <% if @front_matter["related_content"].present? %>
            <div class="link-block link-block--related">
              <h2 class="link-block__header">Related Content:</h2>
              <ul class="link-block__list">
                <% @front_matter["related_content"].each do |item, anchor| %>
                  <li><%= link_to(item, anchor) %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

        </aside>
        <% end %>

        <%= tag.article(class: article_classes(@front_matter), data: { controller: 'abbreviation' }) do %>
          <% if @front_matter["alert"].present? %>
            <%= tag.div(tag.p(@front_matter["alert"]), class: "content-alert content-alert--fullwidth") %>
          <% end %>

          <% @front_matter["before-content"]&.each do |partial| %>
            <%= render(partial) %>
          <% end %>

          <%= yield %>

          <% @front_matter["content"]&.each do |partial| %>
            <%= render(partial) %>
          <% end %>

          <% @front_matter.key?("accordion") && @front_matter["accordion"].tap do |accordion_fm| %>
            <%= render Content::AccordionComponent.new(numbered: accordion_fm["numbered"], active_step: accordion_fm["active_step"]) do |accordion| %>
              <% accordion.content_before_accordion(
                partial: accordion_fm.dig("content_before_accordion", "partial"),
                call_to_action: accordion_fm.dig("content_before_accordion", "cta")
              ) %>

              <% accordion_fm["steps"]&.each do |title, contents| %>
                <%= accordion.step(title: title, call_to_action: contents["cta"]) do %>
                  <%= render(partial: contents["partial"]) %>
                <% end %>
              <% end %>

              <% accordion.content_after_accordion(
                partial: accordion_fm.dig("content_after_accordion", "partial"),
                call_to_action: accordion_fm.dig("content_after_accordion", "cta")
              ) %>
            <% end %>
          <% end %>
        <% end %>
      </section>
    </main>

    <%= render FooterComponent.new(lid_pixel_event: @front_matter["lid_pixel_event"]) %>
    <% end %>
</html>
