<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= body_tag do %>
    <%= render(partial: "sections/gtm_fallback") %>

    <%= render HeaderComponent.new(breadcrumbs: true) %>

    <main id="main-content" role="main">
      <section class="container main-body">
        <article class="markdown disclaimer fullwidth">
          <% if !@front_matter["image"] %>
            <%= tag.h1(@front_matter["title"]) %>
          <% end %>

          <%= yield %>

          <% @front_matter["content"]&.each do |partial| %>
            <%= render(partial) %>
          <% end %>
        </article>
      </section>
    </main>

    <%= render FooterComponent.new %>
  <% end %>
</html>
