<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= body_tag do %>
    <%= render "sections/govuk_javascript" %>
    <%= render HeaderComponent.new(breadcrumbs: true) %>

    <%= main_tag do %>
      <section class="container main-section">
        <article class="markdown disclaimer fullwidth">
          <% if !@front_matter["image"] %>
            <%= tag.h1(@front_matter["title"]) %>
          <% end %>

          <%= yield %>

          <% @front_matter["content"]&.each do |partial| %>
            <%= render(partial) %>
          <% end %>
        </article>
      </section>
    <% end %>

    <%= render FooterComponent.new %>
  <% end %>
</html>
