<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link", "link-target": "content" }, id: "body" do %>

    <%= render HeaderComponent.new(breadcrumbs: true) %>

    <main role="main" id="main-content">
      <section class="container">
        <article class="markdown disclaimer fullwidth">
          <% if !@front_matter["image"] %>
            <%= tag.h1(@front_matter["title"]) %>
          <% end %>

          <%= yield %>

          <% @front_matter["content"]&.each do |partial| %>
            <%= render(partial) %>
          <% end %>
        </article>
      </section>
    </main>

    <%= render FooterComponent.new %>
  <% end %>
</html>
