<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link scroll", "link-target": "content" }, id: "body" do %>

    <%= render HeaderComponent.new(breadcrumbs: !root_page?(request.path)) do |c| %>
      <%= c.hero(@front_matter) %>
    <% end %>

    <main role="main" id="main-content">
      <section class="container events">
        <article class="markdown<%= " fullwidth" if @before_search_fullwidth %> ">
          <%= yield :before_search %>
        </article>
      </section>
      <% if @search_component %>
        <div class="feature">
          <%= render @search_component %>
        </div>
      <% end %>
      <section class="container events">
        <article class="fullwidth">
          <%= yield %>
        </article>
      </section>
    </main>

    <%= render FooterComponent.new %>
  <% end %>
</html>
