<!doctype html>
<html lang="en" class="govuk-template">
  <% content_for :head do %>
    <%= csrf_meta_tags %>
  <% end %>
  <%= render "sections/head" %>
  <%= body_tag do %>
    <%= render "sections/govuk_javascript" %>
    <%= render HeaderComponent.new(@front_matter) %>

    <%= main_tag do %>
      <%= render Content::HeroComponent.new(@front_matter) %>

      <section class="main-section">
        <section class="container events">
          <article class="markdown<%= " fullwidth" if @before_search_fullwidth %> ">
            <%= yield :before_search %>
          </article>
        </section>
        <% if @search_component %>
          <div class="feature">
            <%= render @search_component %>
          </div>
        <% end %>
        <section class="container events">
          <article class="fullwidth">
            <%= yield %>
          </article>
        </section>
      </section>
    <% end %>

    <%= render FooterComponent.new %>
  <% end %>
</html>
