<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link", "link-target": "content" }, id: "body" do %>
    <div id="skiplink-container">
      <div>
        <a href="#main-content" class="skiplink govuk-link">Skip to main content</a>
      </div>
    </div>

    <%= render "sections/header" %>

    <%= yield :hero %>
    <%= render Navigation::BreadcrumbComponent.new(under_hero: content_for?(:hero)) %>

    <main class="semantic" role="main" id="main-content">
      <section class="container">
        <article class="markdown<%= " fullwidth" if @before_search_fullwidth %> ">
          <%= yield :before_search %>
        </article>
      </section>
      <div class="feature">
        <%= render @search_component %>
      </div>
      <section class="container">
        <article class="markdown fullwidth">
          <%= yield %>
        </article>
      </section>
    </main>

    <%= render "sections/footer" %>
    <%= render "sections/cookie-acceptance" %>
    <%= render "sections/feedback-bar" %>
    <%= render "components/videoplayer" %>
  <% end %>
</html>
