<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link scroll", "link-target": "content" }, id: "body" do %>

    <%= render HeaderComponent.new(breadcrumbs: true) do |c| %>
      <%= c.hero(@front_matter) %>
    <% end %>

    <main role="main" id="main-content">
      <section class="container events">
        <article class="markdown<%= " fullwidth" if @before_search_fullwidth %> ">
          <%= yield :before_search %>
        </article>
      </section>
      <div class="feature">
        <%= render @search_component %>
      </div>
      <section class="container events">
        <article class="fullwidth">
          <%= yield %>
        </article>
      </section>
    </main>

    <%= render "sections/footer" %>
    <%= render "sections/cookie-acceptance" %>
    <%= render "components/videoplayer" %>
  <% end %>
</html>
