<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link table", "link-target": "content", "link-assets-url-value": ENV["APP_ASSETS_URL"] }, id: "body" do %>
    <%= render(partial: "sections/gtm_fallback") if gtm_enabled? %>

    <%= render HeaderComponent.new %>

    <main id="main-content" role="main">
      <%= render Content::HeroComponent.new(@front_matter) %>

      <section class="main-body home">
        <%= render(partial: "sections/content_errors") %>

        <% @front_matter["content"]&.each do |partial| %>
          <%= render(partial) %>
        <% end %>
      </section>
    </main>

    <%= render FooterComponent.new %>
  <% end %>
</html>
