<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link table", "link-target": "content", "link-assets-url-value": ENV["APP_ASSETS_URL"] }, id: "body" do %>
    <%= render(partial: "sections/gtm_fallback") if gtm_enabled? %>

    <%= render HeaderComponent.new do |c| %>
      <%= c.hero(@front_matter) %>
      <% c.above_hero do %>
        <%= render(partial: "/content/home/urgent-call") %>
      <% end %>
    <% end %>

    <main class="home" id="main-content">
      <section class="container home-hero">

      <% @front_matter["content"]&.each do |partial| %>
        <%= render(partial) %>
      <% end %>

    </main>

    <%= render FooterComponent.new %>
  <% end %>
</html>
