<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link", "link-target": "content", "link-assets-url-value": ENV["APP_ASSETS_URL"] }, id: "body" do %>
    <%= render(partial: "sections/gtm_fallback") unless Rails.application.config.x.legacy_tracking_pixels %>

    <%= render HeaderComponent.new do |c| %>
      <%= c.hero(@front_matter) %>
    <% end %>

    <main class="home" id="main-content">
      <% @front_matter["content"]&.each do |partial| %>
        <%= render(partial) %>
      <% end %>
    </main>

    <%= render FooterComponent.new(lid_pixel_event: @front_matter["lid_pixel_event"]) %>
  <% end %>
</html>
