<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= body_tag do %>
    <%= render "sections/govuk_javascript" %>
    <%= render HeaderComponent.new %>

    <%= main_tag do %>
      <%= render Content::HeroComponent.new(@front_matter) %>
      <%= render Home::MailingListComponent.new if @front_matter["mailing_list"] %>

      <section class="main-section home">
        <%= render(partial: "sections/content_errors") %>

        <% @front_matter["content"]&.each do |partial| %>
          <%= render(partial) %>
        <% end %>
      </section>
    <% end %>

    <%= render FooterComponent.new %>
  <% end %>
</html>
