<% append_javascript_pack_tag 'internal' %>

<!doctype html>
<html lang="en" class="govuk-template">
<% content_for :head do %>
  <%= csrf_meta_tags %>
  <%= stylesheet_pack_tag 'internal', 'data-turbolinks-track': 'reload', media: 'all' %>
<% end %>

<%= render "sections/head" %>
<%= body_tag data: { controller: "internal-events" } do %>
  <%= render "sections/govuk_javascript" %>
  <div id="skiplink-container">
    <div>
      <a href="#main-content" class="skiplink" data-module="govuk-skip-link">Skip to main content</a>
    </div>
  </div>

  <%= main_tag(class: class_names("internal", action_name )) do %>
    <section class="container internal-container">
      <article class="fullwidth">
        <%= yield %>
        <%= yield(:feature) %>
      </article>
    </section>
  <% end %>
<% end %>
</html>
