<!doctype html>
<html lang="en" class="govuk-template">
  <% content_for :head do %>
    <%= csrf_meta_tags %>
  <% end %>

  <%= render "sections/head" %>
  <%= body_tag do %>
    <%= render "sections/govuk_javascript" %>
    <%= render HeaderComponent.new(breadcrumbs: false) %>

    <section class="main-section">
      <section class="feature registration container">
        <%= yield(:back_link) %>
        <%= main_tag(class: "within-section") do %>
          <%= yield %>
        <% end %>
      </section>
    </section>

    <%= render FooterComponent.new(talk_to_us: false) %>
  <% end %>
</html>
