<!doctype html>
<html lang="en" class="govuk-template">
  <% content_for :head do %>
    <%= javascript_pack_tag 'govuk/error_summary', 'data-turbolinks-track': 'reload', async: true %>
  <% end %>

  <%= render "sections/head" %>
  <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link scroll", "link-target": "content" }, id: "body" do %>

    <%= render HeaderComponent.new %>

    <main role="main" id="main-content">
      <section class="feature registration container">
        <%= yield %>
      </section>
    </main>

    <%= render "sections/footer" %>
    <%= render "sections/cookie-acceptance" %>
    <%= render "components/videoplayer" %>
  <% end %>
</html>
