<!doctype html>
<html lang="en" class="govuk-template">
  <% content_for :head do %>
    <%= csrf_meta_tags %>
  <% end %>

  <%= render "sections/head" %>
  <%= body_tag do %>
    <%= render "sections/govuk_javascript" %>
    <%= render HeaderComponent.new(breadcrumbs: false) %>

    <div class="main-section registration-with-side-images">
      <section class="signup-container">
        <%= image_pack_tag(content_for?(:left_image) ? yield(:left_image) : 'images/content/mailing-list-signup/left.jpg', class: 'left-img hide-on-mobile hide-on-tablet', **image_alt_attribs_for_text("")) %>
        <div class="signup-form">
          <%= main_tag do %>
            <%= yield %>
          <% end %>
        </div>
        <%= image_pack_tag(content_for?(:right_image) ? yield(:right_image) : 'images/content/mailing-list-signup/right.jpg', class: 'right-img hide-on-mobile hide-on-tablet', **image_alt_attribs_for_text("")) %>
      </section>
    </div>

    <%= render FooterComponent.new(talk_to_us: false) %>
  <% end %>
</html>
