<!doctype html>
<html lang="en" class="govuk-template">
  <% content_for :head do %>
    <%= csrf_meta_tags %>
  <% end %>

  <%= render "sections/head" %>
  <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link table", "link-target": "content", "link-assets-url-value": ENV["APP_ASSETS_URL"] }, id: "body" do %>
    <%= render(partial: "sections/gtm_fallback") if gtm_enabled? %>

    <%= render HeaderComponent.new %>

    <main role="main" id="main-content" class="main-body registration-with-image-above" role="main">
      <%= image_pack_tag("content/event-signup/birmingham-event-1.jpg", alt: "A busy train to teach event with banners and attendees chatting with advisers") %>

      <div class="event-info">
        <%= render Events::DesktopSignupInfo.new(@event) %>
        <%= render Events::MobileSignupInfo.new(@event) %>
      </div>

      <section class="feature registration">
        <%= yield %>
      </section>
    </main>

    <%= render FooterComponent.new(talk_to_us: false, feedback: false, mailing_list: false) %>
    <%= javascript_pack_tag 'govuk/frontend', 'data-turbolinks-track': 'reload', async: true %>
  <% end %>
</html>
