<!doctype html>
<html lang="en" class="govuk-template">
  <% content_for :head do %>
    <%= javascript_pack_tag 'govuk/error_summary', 'data-turbolinks-track': 'reload', async: true %>
  <% end %>

  <%= render "sections/head" %>
  <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link", "link-target": "content" }, id: "body" do %>
    <%= render(partial: "sections/gtm_fallback") unless Rails.application.config.x.legacy_tracking_pixels %>

    <%= render HeaderComponent.new %>

    <main id="main-content">
      <section class="feature registration container">
        <%= yield %>
      </section>
    </main>

    <%= render FooterComponent.new(talk_to_us: false, feedback: false, mailing_list: false) %>
  <% end %>
</html>
