<!doctype html>
<html lang="en" class="govuk-template">
  <% content_for :head do %>
    <%= csrf_meta_tags %>
  <% end %>

  <%= render "sections/head" %>
  <%= body_tag do %>
    <%= render "sections/govuk_javascript" %>
    <%= render HeaderComponent.new(breadcrumbs: false) %>
    <%= yield(:back_link) %>

    <%= main_tag(class: "main-section registration-with-image-above") do %>
      <% if @event.is_online %>
        <%= render Content::ImageComponent.new(path: "static/images/content/event-signup/event-regional-online.jpg") %>
      <% else %>
        <%= render Content::ImageComponent.new(path: "static/images/content/event-signup/event-regional.jpg") %>
      <% end %>

      <div class="event-info">
        <%= render Events::DesktopSignupInfoComponent.new(@event) %>
        <%= render Events::MobileSignupInfoComponent.new(@event) %>
      </div>

      <section class="feature registration">
        <%= yield %>
      </section>
    <% end %>

    <%= render FooterComponent.new(talk_to_us: false) %>
  <% end %>
</html>
