<!doctype html>
<html lang="en" class="govuk-template">
  <% content_for :head do %>
    <%= csrf_meta_tags %>
  <% end %>

  <%= render "sections/head" %>
  <%= body_tag do %>
    <%= render(partial: "sections/gtm_fallback") %>

    <%= render HeaderComponent.new %>

    <main id="main-content" class="main-body" role="main">
      <section class="feature registration container">
        <%= yield %>
      </section>
    </main>

    <%= render FooterComponent.new(talk_to_us: false, feedback: false, mailing_list: false) %>
    <%= javascript_pack_tag 'govuk/frontend', 'data-turbolinks-track': 'reload', async: true %>
  <% end %>
</html>
