<!doctype html>
<html lang="en" class="govuk-template">
  <% content_for :head do %>
    <%= csrf_meta_tags %>
  <% end %>

  <%= render "sections/head" %>
  <%= body_tag do %>
    <%= render(partial: "sections/gtm_fallback") if gtm_enabled? %>

    <%= render HeaderComponent.new %>

    <main role="main" id="main-content" class="main-body registration-with-image-above" role="main">
      <% if @event.is_online %>
        <%= render Content::ImageComponent.new(path: "media/images/content/event-signup/event-regional-online.jpg") %>
      <% else %>
        <%= render Content::ImageComponent.new(path: "media/images/content/event-signup/event-regional.jpg") %>
      <% end %>

      <div class="event-info">
        <%= render Events::DesktopSignupInfoComponent.new(@event) %>
        <%= render Events::MobileSignupInfoComponent.new(@event) %>
      </div>

      <section class="feature registration">
        <%= yield %>
      </section>
    </main>

    <%= render FooterComponent.new(talk_to_us: false, feedback: false, mailing_list: false) %>
    <%= javascript_pack_tag 'govuk/frontend', 'data-turbolinks-track': 'reload', async: true %>
  <% end %>
</html>
