<!doctype html>
<html lang="en" class="govuk-template">
  <% content_for :head do %>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'govuk/error_summary', 'data-turbolinks-track': 'reload', async: true %>
  <% end %>

  <%= render "sections/head" %>
  <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link table", "link-target": "content", "link-assets-url-value": ENV["APP_ASSETS_URL"] }, id: "body" do %>
    <%= render(partial: "sections/gtm_fallback") if new_gtm_enabled? %>

    <%= render HeaderComponent.new %>

    <main id="main-content">
      <section class="feature registration container">
        <%= yield %>
      </section>
    </main>

    <%= render FooterComponent.new(talk_to_us: false, feedback: false, mailing_list: false) %>
  <% end %>
</html>
