<!doctype html>
<html lang="en" class="govuk-template">
    <%= render "sections/head" %>
    <%= body_tag do %>
      <%= render "sections/govuk_javascript" %>
      <%= render HeaderComponent.new(@front_matter) %>

      <%= main_tag do %>
        <%= render Content::HeroComponent.new(@front_matter) %>

        <section class="main-section container">
          <%= render(partial: "sections/content_errors") %>

          <%= tag.article(class: article_classes(@front_matter)) do %>
            <%= yield %>
          <% end %>
        </section>

        <section class="row">
          <div class="col col-full-content">
            <%= render Content::PurpleBoxComponent.new(
              heading: "Get free one-to-one support",
              text: "An adviser with years of teaching experience can help you with your teacher training application. Chat through phone, text or email as little or often as you need.",
              cta: {
                text: "Find out more about advisers",
                path: "/teacher-training-advisers",
              },
              image: image_pack_tag("static/images/adviser-graphic-black.png", **image_alt_attribs_for_text("")),
            ) %>
          </div>
        </section>

      <% end %>

      <%= render FooterComponent.new %>
    <% end %>
</html>
