<% @parent_front_matter = @front_matter %>
<!doctype html>
<html lang="en" class="govuk-template">
    <%= render "sections/head" %>
    <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link", target: "link.content" }, id: "body" do %>
    <div id="skiplink-container">
        <div>
            <a href="#main-content" class="skiplink govuk-link">Skip to main content</a>
        </div>
    </div>
        <%= render "sections/header" %>
        <main role="main" id="main-content">
            <%= render Sections::HeaderComponent.new(@front_matter) %>
            <section class="content content--<%= @front_matter["direction"] %> <%= @front_matter["fullwidth"] ? "" : "container-1000" %>">
                <div class="content__left">
                  <% if @front_matter["alert"].present? %>
                    <%= tag.div(tag.p(@front_matter["alert"]), class: "content-alert content-alert--fullwidth") %>
                  <% end %>

                  <div class="accordions" data-controller="accordion">
                    <% if @front_matter["steps"].present? %>
                      <% @front_matter["steps"].each.with_index(1) do |(title, partial), i| %>
                        <%= tag.section(id: "step-#{i}", class: "step", data: { id: i }) do %>
                          <%= tag.button(class: "step-header", data: { action: "click->accordion#toggle", target: "accordion.header" }, aria: { controls: "collapsable-content-#{i}"}) do %>
                            <%= tag.h2(%(#{i}. #{title}), class: "step-header__text") %>
                            <div class="step-header__chevron"> </div>
                          <% end %>

                          <%= tag.div(id: %(collapsable-content-#{i}), class: %w[step-content collapsable], data: { target: "accordion.content" }, aria: { labelledby: %(step-#{i}) }) do %>
                            <!-- 
                              Rendering the partials will overwrite the global @front_matter, 
                              so we have to restore it after rendering 
                            -->
                            <%= render(partial: partial) %>
                            <% @front_matter = @parent_front_matter %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                </div>

                <%= render "sections/page_question" unless @front_matter["hide_page_helpful_question"] %>
            </section>
        </main>

        <%= render "sections/footer" %>
        <%= render "components/videoplayer" %>
        <%= render "sections/cookie-acceptance" %>
        <%= render "sections/feedback-bar" %>
        <%= render "components/analytics" %>
    <% end %>
</html>

