<!doctype html>
<html lang="en" class="govuk-template">
    <%= render "sections/head" %>
    <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link table", "link-target": "content", "link-assets-url-value": ENV["APP_ASSETS_URL"] }, id: "body" do %>
    <%= render(partial: "sections/gtm_fallback") if gtm_enabled? %>

    <%= render HeaderComponent.new(breadcrumbs: true) %>

    <main id="main-content" role="main">
      <%= render(partial: "sections/emergency_banner") %>
      <%= render Content::HeroComponent.new(@front_matter) %>

      <section class="main-body container">
        <%= render(partial: "sections/content_errors") %>

        <% if !@front_matter["image"] %>
          <header>
            <% if @front_matter["title_caption"].present? %>
              <%= tag.span(@front_matter["title_caption"], class: "caption") %>
            <% end %>

            <%= tag.h1(@front_matter["title"]) %>
          </header>
        <% end %>

        <%= tag.article(class: article_classes(@front_matter)) do %>

          <%= yield %>

          <% @front_matter.key?("steps") && @front_matter["steps"].tap do |steps_fm| %>

            <ol class="steps">
              <% steps_fm.each.with_index(1) do |(title, contents), i| %>
                <%= tag.li(class: "step", id: "step-#{i}") do %>
                  <header class="step__header">
                    <div class="step__number">
                      <%= i %>
                    </div>
                    <%= tag.h2(title, class: "heading-m") %>
                  </header>

                  <div class="step__content">
                    <%= render(partial: contents["partial"]) %>
                  </div>
                <% end %>
              <% end %>
            </ol>

          <% end %>

          <div class="supplementary steps-cta">
            <%= render CallsToAction::NextStepsComponent.new %>
          </div>

        <% end %>

      </section>
    </main>

    <%= render FooterComponent.new %>
    <% end %>
</html>
