<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link table", "link-target": "content" }, id: "body" do %>
    <%= render(partial: "sections/gtm_fallback") unless Rails.application.config.x.legacy_tracking_pixels %>

    <%= render HeaderComponent.new(breadcrumbs: false) do |c| %>
      <%= c.hero(@front_matter) %>
    <% end %>

    <main id="main-content main-content--no-bottom-margin">
      <%= yield %>
    </main>

    <%= render FooterComponent.new %>
  <% end %>
</html>
