<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= body_tag do %>
    <%= render "sections/govuk_javascript" %>
    <%= render HeaderComponent.new(breadcrumbs: true) %>

    <%= main_tag do %>
      <%= render Content::HeroComponent.new(@front_matter) %>

      <section class="main-section main-section--no-bottom-margin">
        <%= yield %>
      </section>
    <% end %>

    <%= render FooterComponent.new %>
  <% end %>
</html>
