<% @js_packs << 'govuk_frontend' %>

<!doctype html>
<html lang="en" class="govuk-template">
  <% content_for :head do %>
    <%= csrf_meta_tags %>
  <% end %>

  <%= render "sections/head" %>
  <%= body_tag do %>
    <%= render HeaderComponent.new %>

    <%= main_tag(class: "main-section") do %>
      <div class="row inset govuk-!-margin-top-9">
        <section class="col col-720">
          <%= yield %>
        </section>
      </div>
    <% end %>

    <%= render FooterComponent.new(talk_to_us: false, feedback: false) %>
  <% end %>
</html>
