<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= body_tag do %>
    <%= render(partial: "sections/gtm_fallback") if gtm_enabled? %>

    <%= render HeaderComponent.new %>

    <main id="main-content" role="main">
      <%= render Content::HeroComponent.new(@front_matter) %>

      <section class="container main-body <%= "container--no-bottom-margin" if @no_bottom_margin %>">
        <article class="fullwidth">
          <%= yield %>
        </article>
      </section>
    </main>

    <%= render FooterComponent.new %>
  <% end %>
</html>
