<!doctype html>
<html lang="en" class="govuk-template">
  <%= render "sections/head" %>
  <%= analytics_body_tag class: "govuk-template__body govuk-body", data: { controller: "video link", "link-target": "content" }, id: "body" do %>

    <%= render HeaderComponent.new %>

    <%# FIXME: remove this to enable the page in prod %>
    <% raise(ActionController::RoutingError, "Not found") if Rails.env.production? %>

    <main class="welcome-guide" id="main-content">
      <%= yield %>

      <% @front_matter["content"]&.each do |partial| %>
        <%= render(partial) %>
      <% end %>
    </main>

    <%= render FooterComponent.new(talk_to_us: false, mailing_list: false, feedback: false) %>
  <% end %>
</html>
